﻿@model BingoVega.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "Player Registration"; ;
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
    <div class="mt-3 rounded-mix p-5 planetary-bg">
        <div class="whiteBoxContent" id="signup">
            <div class="row g-3">
                <div class="col-12 col-sm-12 col-lg-12">It's fast, easy, and totally free...</div>
                @*ACCOUNT INFORMATION*@
                <h2>Account Information</h2>
                <div class="col-12 col-sm-12 col-lg-12">
                    <div class="col-12 col-sm-4 col-lg-4">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Alias", pattern = "[A-Za-z0-9_-]{1,15}" } })
                        @Html.ValidationMessageFor(model => model.Username, "Alias is required", new { @class = "text-danger", @id = "vmUsername" })
                        @Html.ValidationMessageFor(model => model.Username, "Special characters are not allowed", new { @class = "text-danger", @id = "vmUsernameFormat" })
                        @Html.ValidationMessageFor(model => model.Username, "Alias must have at least 6 characters", new { @class = "text-danger", @id = "vmUsernameLength" })
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">                    
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "Password is required", new { @class = "text-danger", @id = "vmPassword" })
                    @Html.ValidationMessageFor(model => model.Password, "Password must have at least 8 characters", new { @class = "text-danger", @id = "vmPasswordLength" })
                </div>
                <div class="col-12 col-sm-6 col-lg-6">                    
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "Password doesn't match", new { @class = "text-danger", @id = "vmConfirmPassword" })
                </div>
                <div class="col-12 col-sm-6 col-lg-6">                    
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "Email is required", new { @class = "text-danger", @id = "vmEmail" })
                    @Html.ValidationMessageFor(model => model.Email, "Email is not valid", new { @class = "text-danger", @id = "vmEmailFormat" })
                </div>
                <div class="col-12 col-sm-6 col-lg-6">                    
                    @Html.EditorFor(model => model.ConfirmEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Email" } })
                    @Html.ValidationMessageFor(model => model.ConfirmEmail, "Email doesn't match", new { @class = "text-danger", @id = "vmConfirmEmail" })
                </div>

                @*PERSONAL INFORMATION*@
                <h2>Personal Information</h2>
                <div class="col-12 col-sm-4 col-lg-4">                    
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "First name is required", new { @class = "text-danger", @id = "vmFirstName" })
                </div>
                <div class="col-12 col-sm-4 col-lg-4">                    
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                    @Html.ValidationMessageFor(model => model.LastName, "Last name is required", new { @class = "text-danger", @id = "vmLastName" })
                </div>
                <div class="col-12 col-sm-4 col-lg-4">
                    <input type="text" class="form-control" id="datepicker" placeholder="Birth date: MM/DD/YYYY" name="birthday" />
                </div>
                <div class="col-12 col-sm-12 col-lg-12">                    
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
                    @Html.ValidationMessageFor(model => model.Address, "Address is required", new { @class = "text-danger", @id = "vmAddress" })
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                    @Html.DropDownListFor(model => model.Country, new SelectList(Model.Countries), "PLEASE SELECT YOUR COUNTRY", new { @class = "form-select", @name = "country" })
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                    @Html.EditorFor(model => model.Province, new { htmlAttributes = new { @class = "form-control", placeholder = "Please type your State" } })
                    @Html.DropDownListFor(model => model.ProvinceDropDown, new SelectList(Model.Provinces), "Please select your Estate", new { @class = "form-select" })

                </div>
                <div class="col-12 col-sm-4 col-lg-4">
                    @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zip/Postal Code" } })
                    @Html.ValidationMessageFor(model => model.PostalCode, "Postal code is required", new { @class = "text-danger", @id = "vmPostalCode" })
                </div>

                <div class="col-12 col-sm-4 col-lg-4">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Town City" } })
                    @Html.ValidationMessageFor(model => model.City, "City is required", new { @class = "text-danger", @id = "vmCity" })
                </div>
                <div class="col-12 col-sm-4 col-lg-4">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile: (xxx) xxx-xxx", @onkeydown = "phoneNumberFormatter()" } })
                    @Html.ValidationMessageFor(model => model.Phone, "Phone is required", new { @class = "text-danger", @id = "vmPhone" })
                </div>
                @*OPTIONAL INFORMATION*@
                <h2 class="mb-3">Optional Information</h2>
                <div class="row">
                    <div class="col-12 col-sm-3 col-lg-1 d-flex justify-content-center align-items-center">
                        <label>Gender</label>
                    </div>
                    <div class="col-12 col-sm-3 col-lg-3">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="gender" id="btnradio1" value="M">
                            <label class="btn btn-outline-primary" for="btnradio1">Male</label>
                            <input type="radio" class="btn-check" name="gender" id="btnradio2" value="F">
                            <label class="btn btn-outline-primary" for="btnradio2">Female</label>
                        </div>
                    </div>
                </div>
                @*TERMS AND CONDITIONS*@
                <h2>Terms & Conditions</h2>
                <div class="col-12 col-sm-12 col-lg-12">
                    <a href="/Help/TermsConditions">View our Terms and Conditions.</a>
                    <div class="form-check">                        
                        @Html.EditorFor(model => model.AceptTerms, new { htmlAttributes = new { @class = "form-check-input" } })
                        @Html.ValidationMessageFor(model => model.AceptTerms, "Accepting the Terms is necessary", new { @class = "text-danger", @id = "vmAceptTerms" })
                        <label class="form-check-label" for="defaultCheck1">
                            I agree to Terms and Conditions
                        </label>
                    </div>
                    <p>
                        <strong>IMPORTANT</strong> You must enter a valid email address to receive your FREE bonus.
                        Click on the activation link in the confirmation email and your bonus will be credited to your account instantly.
                        To make sure our emails land in your Inbox and not the Junk folder, please add <a href="mailto:bvega@send.bingovega.com">bvega@send.bingovega.com</a> to your address book.
                    </p>
                </div>
                @Html.ValidationMessage("vmGeneralMessage", "An Error has happend, please try again!", new { @class = "text-danger", @id = "vmGeneralMessage" })
                <div class="col-12 col-sm-4 col-lg-4 offset-lg-4">

                    <input type="button" id="btnSave" class="btn btn-primary purple-btn" value="Register your FREE account">
                </div>

            </div>
        </div>
    </div>
<script src="~/js/SignUpUtils.js" type="text/javascript" debug="true"></script>
<script>

    $(document).ready(function () {
        setDefaultValuesToControls();
    });//Document

    $('#Country').change(function () {
        
        var country = $("#Country").val();

        if (country == "CANADA" || country == "UNITED KINGDOM" || country == "UNITED STATES") {

            var optionsValues = '<select class="form-select" id="ProvinceDropDown" style="text-transform=uppercase !important"><option value="">PLEASE SELECT YOUR STATE</option>';
            var states = getStatesOfCountry(country);
            states.forEach((e) => {                
                optionsValues += '<option value="' + e.Code + '">' + e.Name + '</option>';
            });
            optionsValues += '</select>';
            var options = $('#ProvinceDropDown');
            options.replaceWith(optionsValues);
            hideProvinces(false);

        } else {
            $("#Province").val("");
            hideProvinces(true);            
        }

    });

    $("#btnSave").on("click", function () {

        var cont = 0;
        if (informationIsMissing()) {
            cont++;
        }
        else if (!areConfirmationControlValid()) {
            cont++;
        }else
        if (!userAcceptTerms()) {
            cont++;
        }else
        if (!isPasswordLenghtValid()) {
            cont++;
        } else
        if (!isEmailFormatValid()) {
            cont++;
        } else
        if (!isAliasFormatValid()) {
            cont++;
        } else
        if (!isAliasLengthValid()) {
            cont++;
        }

        if (cont == 0)
        {

            var user = {
                "FirstName": $("#FirstName").val(),
                "Username": $("#Username").val(),
                "Country": $("#Country").val(),
                "PostalCode": $("#PostalCode").val(),
                "Province": $("#Province").val(),
                "ProvinceDropDown": $("#ProvinceDropDown").val(),
                "City": $("#City").val(),
                "Address": $("#Address").val(),
                "LastName": $("#LastName").val(),
                "Phone": $("#Phone").val(),
                "Email": $("#Email").val(),
                "Password": $("#Password").val(),
                "BirthDay": $("#datepicker").val(),
                "Gender": $("input[name='gender']:checked").val(),
            };

            var link = "@Url.Action("Register", "SignUp")";
          
            $.ajax({
                type: "POST",
                url: link,
                data: user,
                dataType: "json",
                success: function (response) {
                    window.location.href = response.redirectToUrl;;
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("error");                   
                }

            });
        }
        });

    $('#datepicker').datepicker({
        autoclose: true
    });

</script>
