﻿@{
    ViewData["Title"] = "Thank you for your registration";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>

<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent" id="signup">
        <div>
            <p class="text-center">
                You have successfully registered in our website and we look forward to your attendance!<br />A confirmation e-mail with further details will be sent shortly.
            </p>
            <br>
            <div class="bingoRoomFooter px-3">
                @Html.ActionLink("Play Now!", "BingoRooms", "LobbyGames", null, new { @class = "btn btn-secondary bingoRoomBtn" })
            </div>

        </div>
    </div>
</div>
