﻿@{
    ViewData["Title"] = "Contact Us";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        <h3>CUSTOMER SUPPORT &amp; CONTACT INFORMATION </h3>
        <p>
            Our customer service representatives are standing by to promptly assist you.&nbsp; Please refrain from directing questions regarding your account to Chat Moderators within chat rooms as this is a space for fun and chat games.&nbsp; Your questions are better addressed by following the avenues below. <br>
        </p>
        <p>
            In order for us to better serve you please note the following: <br>
        </p>
        <p>
            Please create a&nbsp;TICKET&nbsp;for our Support Team.&nbsp; To create a ticket or to check for replies from Support please follow the instructions below: <br>
        </p>
        <ol>
            <li>LOGIN with your account info </li>
            <li>Click on &ldquo;SUPPORT&rdquo; at the top right corner just below where your alias is displayed </li>
            <li>Below &ldquo;Help Desk&rdquo; you will see two options – if you are looking for a response to a previously created ticket click on &ldquo;View Open Tickets&rdquo;, if you are requesting assistance (for example to claim a Bonus top up) then simply type your request/issue into the field below. </li>
            <li>Hit submit and you&rsquo;re done!</li>
            <li>If you are looking for a&nbsp;reply to a ticket&nbsp;you&rsquo;ve already submitted, you can view them by clicking on &ldquo;View Tickets&rdquo;  </li>
        </ol>
        <small>
            Help desk tickets will be answered in the order they are received. Please refrain from opening multiple tickets with duplicate information. Instead of going faster, this practice just slows us way down.
        </small>
        <p style="margin-top:15px"><strong>Our Support Team is available on the days and hours listed below: </strong></p>
        <h3>Support Hours </h3>
        <ul>
            <li>
                <strong>Monday – Thursday</strong>&nbsp;11 AM – 12 AM<br>
            </li>
            <li>
                <strong>Friday</strong>&nbsp;11 AM – 2 AM<br>
            </li>
            <li>
                <strong>Saturday</strong>&nbsp;10 AM – 2 AM<br>
            </li>
            <li><strong>Sunday</strong>&nbsp;10 AM – 12 AM</li>
        </ul>
        <p style="margin-top:30px;">
            If you would like to provide feedback – laurels, lemons and suggestions are always welcome! You can create a ticket or use the blue FEEDBACK button to the right side of the screen.<br/>Alternatively, you can get assistance by emailing <a href="mailto:support@bingovega.com?subject=Need%2520Assistance,%2520can%27t%2520get%2520to%2520Help%2520Desk">support@bingovega.com</a>&nbsp;or call us <br>
        </p>
        <p>
            Toll Free Number: 1-(888)-330-9625 (North America only). <br>
        </p>
        <p class="text-center">
            <strong>Over the phone Customer Support is available during support hours.</strong>
        </p>
    </div>
</div>