﻿@{
    ViewData["Title"] = "FAQ's";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        <h3>GETTING STARTED</h3>
        <h4><strong>WHAT IS BINGO VEGA ANYWAY?</strong></h4>
        <p>Online bingo allows you to enjoy all the fun and excitement of your local bingo hall in a safe, secure and comfortable environment – your own home! Since 1999 it has been our mission to provide the best online bingo entertainment possible.</p>
        <p>Bingo Vega® games are fully audited and extensively tested to ensure fair play and honest payouts.</p>
        <h4><strong>WHY SHOULD I PLAY HERE?</strong></h4>
        <p>Our top priority and oath to our players is to provide them with a premiere experience in playing bingo online. We take no shortcuts in delivering to our patrons a secure, fair and friendly gaming experience. Whether you are a newcomer to the game or a long-time player of online bingo, you will find our games easy to play, simple to access and hard to beat for enjoyment. In addition, Bingo Vega offers huge cash prizes, exciting tournaments, and also amusing (as well as addicting) chat games. For some, the ultimate reason why they love online bingo is the exciting progressive jackpots; for others, it&rsquo;s the wonderful friends they&rsquo;ve met and the relationships that have been forged when they&rsquo;ve become part of our outstanding community. From our chat hosts that make everyone feel welcome, to our always friendly player base, the sense of being part of the Bingo Vega family cannot be overstated! Also, our players are not restricted to just playing bingo online, we also offer many variations of slots, video poker, keno and table games. We have all worked very hard to give you the best in Online Bingo. Need more convincing? Head over to our testimonial page and read what our players have to say!</p>
        <h4><strong>IS MY INFORMATION SAFE?</strong></h4>
        <p>Bingo Vega only utilizes the strongest encryption and rigid procedures to keep your private information safe. The information that you provide will never be shared with any third parties. This includes (but is not limited to) contact information, payment options, deposits and winnings. We believe in maintaining a relationship with our players based on trust, and we would never do anything to jeopardize the security that our players feel while playing at Bingo Vega. If you would like to know more details about how we keep information safe, check out the privacy section in this FAQ.</p>
        <p></p>
        <h4><strong>BINGOVEGA.COM EMAIL PRIVACY STATEMENT</strong></h4>
        <p>BingoVega.com Email Privacy Statement</p>
        <p>At BingoVega.com, we hate spam as much as you, that&rsquo;s why we treat your email address with the utmost care. This means we do not sell, rent or lease our subscription lists to third parties and certainly under no circumstances do we provide your personal information to any third party individual, government agency, or company at any time.</p>
        <p>So how do we use your email?</p>
        <p>Your experience at BingoVega.com is very important to us and we are committed to building a long-lasting relationship with you. Like any great relationship, we believe in communication that&rsquo;s based on honesty, respect and trust.</p>
        <p>So when you subscribe to receive the BingoVega.com community newsletter, you can rest assured that at any time, you can instantly unsubscribe from all future emails.</p>
        <p>Within all of our emails, there&rsquo;s an instant one-click unsubscribe.</p>
        <p>Other Email Communications:</p>
        <ol>
            <li>We may send emails regarding new policy updates, site updates and new alerts that may be important to you and your account at BingoVega.com.</li>
            <li>We may send you a service announcement regarding your purchase in the form of a purchase confirmation.</li>
        </ol>
        <p><strong>To unsubscribe from emails:</strong></p>
        <ol>
            <li>You can unsubscribe from future newsletters and promotional emails by clicking on the unsubscribe link from any email received from us.</li>
        </ol>
        <p><strong>Email address:</strong></p>
        <ol>
            <li>You can also request to be unsubscribed by calling us toll-free 1-(888)-330-9625</li>
        </ol>
        <p>(but please allow up to 5 days for us to process your request).</p>
        <p>If you have any further questions on how we use your email address at BingoVega.com, please send support@bingovega.com an email with your question.</p>
        <p>Thank you for reading and happy bingo from all of us at the bingovega.com family.</p>
        <p></p>
        <h4><strong>DO I NEED ANYTHING TO GET STARTED?</strong></h4>
        <p>Bingo Vega is an online gambling site where our players win real cash prizes. All players must be at least 18 years of age. Also, since laws and regulations pertaining to online gambling vary between different countries and regions, please check with local policies concerning online gambling. Other than these restrictions, anyone is permitted to join the fun as long as you&rsquo;ve read and agree to our House Rules, and provide us with accurate contact information.</p>
        <p></p>
        <h4><strong>HOW DO I GET STARTED?</strong></h4>
        <p>Interested in seeing for yourself what the buzz is about? Simply click the links provided at the top of the page to go through our easy registration process and you&rsquo;re almost ready to join the excitement. Once we&rsquo;ve verified your email address, use the credentials that you&rsquo;ve chosen to log in using the text fields located at the top of the page and you&rsquo;ll be transferred to our games lobby where you can participate in our many types of games with our truly amazing players!</p>
        <p style="text-align:center"><img src="/images/getStarted.png" /></p>
        <p></p>
        <h4><strong>WHERE CAN I FIND INFORMATION ABOUT RESPONSIBLE GAMBLING?</strong></h4>
        <p>Gambling is entertainment, and it has to be enjoyed as such. The majority of people who gamble can find it to be a relaxing and exciting past-time. However, there are a small percentage of people who might develop a compulsion to gamble, even if it has negative consequences in their lives.</p>
        <p>It is paramount that you are able to set limits and know when to stop. Like a lot of things, gambling is enjoyable when it is done in moderation, yet can be potentially disastrous when it is done in excess. If you find yourself unable to walk away from the table or the machine, it might be time to evaluate if gambling is becoming a problem and perhaps talk to a professional. If gambling becomes something that you need to do and not something that you want to do, we urge you to take the steps to receive help.</p>
        <p>If you enjoy playing at Bingo Vega, but would feel more comfortable by having us set a lower deposit limit on your account, please feel free to contact us or talk to one of our many friendly people here anytime, day or night, by visiting the help desk and submitting a ticket.</p>
        <p></p>
        <h4><strong>HELP, I&rsquo;VE FORGOTTEN MY PASSWORD, HOW CAN I GET IT BACK?</strong></h4>
        <p>Happens to the best of us. You can use the &ldquo;Forgot Password&rdquo; at the top of the page, or feel free to submit a help ticket and one of our warm customer service representatives will be more than happy to get you on the right track.</p>
        <p style="text-align:center"><img src="/images/forgotPass.png" /></p>
        <p style="text-align:center"></p>
        <h4><strong>IS THERE A FREE SIGNUP BONUS?</strong></h4>
        <p>At Bingo Vega, we want you to join us for our exciting games in a friendly and secure environment. We offer $10 for you to try our games and to feel the rush of playing as well as chatting with our truly awesome player base. It gets better; our welcome package contains 500% in bonuses. We want you to win and feel the excitement!</p>
        <p></p>
        <h4><strong>WHAT ARE BINGO VEGA&rsquo;S WAGERING REQUIREMENTS?</strong></h4>
        <p>We love giving out lots of bonuses just as much as our players love to get them! We do have some requirements to keep our players safe as directed by the guidelines of our licensing body. To read more about our wagering requirements, please visit our wagering requirements page to read about our policy.</p>
        <p>
            Again, these wagering requirements have been put in place to prevent our bonus system from being abused and to deliver to our players the opportunities to win big! With this in mind, Bingo Vega also monitors accounts with repeat deposits versus cashout requests. In our fair judgment and at management&rsquo;s discretion, if it is determined that there is an intent to abuse the bonus program, a player&rsquo;s bonus ability will be deactivated. Repeat offenders of our bonus program can be forced to forfeit their account balance and have their account permanently disabled.
            <br />
        </p>
        <p></p>
        <h3>QUESTIONS ABOUT DEPOSITING</h3>
        <h4><strong>WHY SHOULD I DEPOSIT?</strong></h4>
        <p>Our winners know the real benefits of making deposits! Not only will you have the great chances at winning fantastic payouts and creative prizes (check our promotions page for details), but you&rsquo;ll be able to participate in our exclusive real cash rooms and experience our wonderful players and chat hosts in a welcoming atmosphere. If that wasn&rsquo;t enough, our chat hosts always keep the fun coming as they invite players to participate in our huge array of chat games to net you some extra bonus bucks.</p>
        <h4><strong>CAN&rsquo;T I PLAY FOR FREE?</strong></h4>
        <p>Of course you can, and we give you a cool $10 to test out all of our games when you sign up. We like to think of it as sticking a toe in the water to see if the temperature is right before you dive in. Use our free gift to you to play any of the great games that we offer. As we&rsquo;ve outlined throughout this FAQ, we give our players a warm and fuzzy feeling by taking every precaution to keep sensitive data under the tightest of security, so relax and enjoy the peace of mind you deserve when making your deposits.</p>
        <p></p>
        <h4><strong>WHAT ARE MY ONLINE DEPOSIT OPTIONS?</strong></h4>
        <p>We offer many deposit options to suit your taste. We are sure that the funding solutions that we offer to our players are embraced as an easy and effortless solution. More information on payment options can be found on our deposit page.</p>
        <p></p>
        <h4><strong>WHAT IS THE MINIMUM DEPOSIT?</strong></h4>
        <p>In order to start your adventure and to place your name in the winner&rsquo;s Hall of Fame, the minimum requirement for a deposit is $25.00. Please visit our deposit promotions page for more details on our exciting bonuses.</p>
        <h4><strong>WHAT IS VALIDATION AND HOW DO I VALIDATE?</strong></h4>
        <p>In order to provide you with fast cashouts, we require that you validate your contact information and provide full documentation. This easy process consists of filling out a short form and faxing it to our toll free number. Please go to the cashier to request the form <a role="button" href="/assets/pdf/BV-Services-Credit-Card-Authorization.pdf" target="_blank">Download Authorization Form</a></p>
        <p></p>
        <h4><strong>ARE THERE ANY LIMITS ON DEPOSITING?</strong></h4>
        <p>In order to protect our players and provide an exceptional gaming experience, we have a few guidelines when it comes to making deposits. First, your balance must be less than $100 before you can make a deposit. Also, if you have a pending cashout when you attempt to make a deposit, you will be prompted to return it to your account. This is called a Redemption Flow Back.</p>
        <h3>QUESTIONS ABOUT CASHOUTS</h3>
        <h4><strong>WHAT ARE &ldquo;HASSLE-FREE&rdquo; CASHOUTS?</strong></h4>
        <p>So you&rsquo;ve just won a huge jackpot, or you&rsquo;ve decided to try your luck elsewhere – no problem! &ldquo;Hassle-free&rdquo; cashouts is our ideology that makes it as simple to cashout as it is to deposit. It&rsquo;s your money and we want you to have it! We love to hear stories of our players winning, if you&rsquo;d like to share your winning story, please feel free to fill us in by contacting us. Who knows, maybe it will be featured on the site. Winning along with our hassle-free cashouts are what keeps our players coming back to enjoy the incredible experience that we&rsquo;ve created at Bingo Vega.</p>
        <p></p>
        <h4><strong>WHAT ARE THE RULES FOR MAKING A CASHOUT?</strong></h4>
        <p>At Bingo Vega, we believe you should get your winnings in a speedy manner – that&rsquo;s why we now provide great cashout options:</p>
        <p>For detailed information, contact our accounting department at accounting@bingovega.com.</p>
        <p>In addition, you should have the peace of mind that when you play at Bingo Vega, you&rsquo;ll receive your well-deserved winnings without delay and inconvenience. That&rsquo;s why, as part of our new and improved cashout policy, we now Guarantee your cashouts. On this page, we&rsquo;ve outlined clearly how we process your payout and what you can expect.</p>
        <ol>
            <li>In order to request a withdrawal, a member must have an active account, meet our wagering requirements and complete a player verification form found on the Cashier</li>
            <li>All BBs will be deducted upon a withdrawal request. This process is irreversible.</li>
            <li>Payouts are reviewed and processed on Mondays only.</li>
            <li>Bingo Vega guarantees that if a member has met the bonus wager rule, provided correct details, and has sent in their player verification documents, the withdrawal payment request will be sent to the processing department on Tuesday morning. Once your payout has been approved, please allow 7-10 business days for the funds to reach you.</li>
            <li>To ensure your payout is processed on Monday, all payout requests must be received by Sunday, 11:59pm EST. If payouts are requested after this time period, it will be reviewed and processed the following week.</li>
            <li>Upon requesting a withdrawal, a member is agreeing to and accepting that he/she understands all of our withdrawal Terms &amp; Conditions. A member also acknowledges that we only process payouts through the available payment methods featured on the withdrawal page of Bingo Vega.</li>
            <li>Bingo Vega will only process ONE withdrawal per account per week. In the event a member has multiple withdrawal requests, in the same week, the Accounting Department will decline all subsequent requests and send them back to a member&rsquo;s account.</li>
            <li>The minimum payout request is $200 and the maximum amount will be subject to variation depending on the selected payment method.</li>
            <li>To be eligible for a withdrawal, a member must have made one or more deposits of $25 in the past 30 days prior to the request of their payout.</li>
            <li>Newbies who have not made a deposit will not be able to request a withdrawal on winnings derived from the trial bonus. All newbies are encouraged to make a minimum deposit of $25 before planning to play for real cash prizes.</li>
            <li>It&rsquo;s a member&rsquo;s responsibility to update accounting@bingovega.com with any changes to their billing address to prevent delays with payouts.</li>
            <li>Bingo Vega reserves the right to edit, add or remove Terms and Conditions from the payout guidelines without prior notice to players. It is a member&rsquo;s responsibility to periodically check the guidelines on the Terms &amp; Conditions in order to be fully informed and up to date with every rule and thus avoid unnecessary discrepancies.</li>
        </ol>
        <p></p>
        <h4><strong>HOW ARE PAYOUTS PROCESSED (STEP BY STEP)</strong></h4>
        <p>Here&rsquo;s a step by step process of how to ensure your payout is processed quickly without any delays:</p>
        <ol>
            <li>Ensure you have read the above Terms &amp; Conditions. If you have any questions, please email accounting@BingoVega.com.</li>
            <li>The request must be received by 11:59 p.m. EST Sunday in order to be processed on Monday. Withdrawal requests received after the deadline will be processed the following week.</li>
            <li>Ensure you have provided accounting@bingovega.com with all required player verification documents and</li>
            <li>If the first 3 steps are met, you will have your payout request reviewed on Monday, processed and sent onto the payments department within 3 days.  Funds will be received 7-10 business days thereafter                </li>
            <li>If the first 3 steps are NOT complete, you can expect to receive an email from accounting@bingovega.com for further details, which may cause delays with meeting the schedule as outlined above.</li>
        </ol>
        <h4><strong>HOW DO I VALIDATE MY ACCOUNT FOR SPEEDY PAYOUTS?</strong></h4>
        <p>At Bingo Vega we know the faster you get your winnings, the happier you&rsquo;ll be. That&rsquo;s why we encourage all players to send their account verification forms to the Accounting Department (accounting@bingovega.com) to prevent any delay with receiving your well-deserved winnings.</p>
        <p>Please Provide:</p>
        <ol>
            <li> Proof of address (for example – utility bill, phone bill, CC bill, etc.)</li>
            <li>Any copy of a Government issued Photo ID.</li>
            <li> Copy of the front and back of your credit card used to deposit at Bingo Vega (to confirm the name on the card and last 4 digits of the card match the card you used at Bingo Vega). Note: when making a copy of the back of the card, the 3 digit verification code may be hidden.</li>
        </ol>
        <ul>
            <li>Preferably, please scan and email to accounting@bingovega.com</li>
            <li>Or you can fax the above to 1-877-630-4717</li>
        </ul>
        <p>TIP: if you don&rsquo;t have a scanner, bring out your mobile or tablet and take a photo of your documents and send these over to <a href="mailto:accounting@bingovega.com">accounting@BingoVega.com</a></p>
        <p>Not to worry, you just have to validate your account once. However, the Accounting Department from time to time may request random accounts on payout days with pending withdrawals for further verification as part of our security checks. This is a random procedure and there is no pre-determined selection process.</p>
        <p></p>
        <h3>QUESTIONS ABOUT CHAT &amp; BONUSES</h3>
        <h4><strong>WHAT ARE CHAT GAMES?</strong></h4>
        <p>We&rsquo;re all about having fun while you play bingo. So we decided to offer a bunch of chat games that you can participate in while playing online bingo. When you play a chat game, you get the chance to win bonus money, also called Bingo Bucks (BBs), which will be added to your account at the end of the game. Our friendly chat hosts will be more than welcoming and willing to answer any questions you might have about each of the chat games Bingo Vega offers.</p>
        <p></p>
        <h4><strong>WHAT ARE BINGO BUCKS?</strong></h4>
        <p>Bingo Bucks are our way of giving you, the player, more chances to win! By participating in our chat games, you can accrue more money to use when you play our great games. The only requirement that we have for you to obtain Bingo Bucks is that you have to acknowledge our friendly Chat Hosts when you receive the bonus and be an active depositor (deposited in previous five days). This keeps everything fair and allows us to give you great bonuses for your playing experience.</p>
        <p>All unused bonuses may be removed after 30 days of inactivity.</p>
        <p></p>
        <h4><strong>WHAT CHAT GAMES DOES BINGO VEGA OFFER?</strong></h4>
        <p>Looking to read up on a certain chat game? You can do so by visiting our chat games page. If you have a favorite chat game that we don&rsquo;t have listed here, or even an original idea for a chat game that you&rsquo;d like to play during your stay with us, please contact us and have your say!</p>
        <p></p>
        <h4><strong>WHAT ARE THE CHAT RULES?</strong></h4>
        <p>Everyone loves playing our chat games, but there must be some rules so that all players are treated fairly and with respect. We require that only one account from each IP/household be able to participate in a single chat game at any given time. We also pride ourselves in giving the player the best experience, which should be free from any type of harassing or abusive behavior. For more details on chat rules, please visit our chat rules page.</p>
        <p></p>
        <h4><strong>WHO ARE THE CHAT MODERATORS AND WHAT DO THEY DO?</strong></h4>
        <p>Our chat moderators are here to make you feel welcome and included in the fun at Bingo Vega! In addition to conducting the many chat games, they&rsquo;ll always be there to congratulate you on your win, wish you luck for the next game, or be a friendly and helpful friend to talk to if you have any questions.</p>
        <p></p>
        <h4><strong>WHERE CAN I FIND BINGO VEGA&rsquo;S CHAT SCHEDULE?</strong></h4>
        <p>Looking to get in on all the fun? Wondering what all the fuss is about? Head over to our chat schedule page <a href="/Games/Bingo#chatSchedule">here </a>and join the party!</p>
        <p></p>
        <h4><strong>HOW MANY CHAT BONUS BUCKS CAN I WIN AT BINGO VEGA?</strong></h4>
        <p>Bingo Bucks (BBs) are only awarded to players who are actually playing in the bingo game at the time of the chat game. As long as you meet this requirement, you will be awarded up to 100% of your total deposits in the last 5 days in chat BBs (e.g. if you deposited $200 total in the last 5 days, you have the opportunity to receive $200 BBs without depositing again. This feature is automated; therefore your Chat Host has no subjectivity in overriding the rules.</p>
        <p></p>
        <h4><strong>HOW CAN I FIND OUT IF I&rsquo;VE MAXED OUT ON MY CHAT BBS?</strong></h4>
        <p>The easiest way to tell is by asking the CM on duty or email <a href="mailto:support@bingovega.com">support@bingovega.com</a> or submit a support ticket.</p>
        <p> If you have any questions regarding your active status and eligibility for chat BBs, feel free to contact our help desk by submitting a ticket.&nbsp; Support will respond during normal support business hours.&nbsp; You may also call our Customer Service Department between the hours of 12:00 PM - 8:00 PM daily at 1-(888)-330-9625</p>
        <p></p>
        <h4><strong>WHAT SHOULD I DO IF MY BBS FROM THE PREVIOUS DAY&rsquo;S CHAT ARE NOT CREDITED?</strong></h4>
        <p>If you feel you have not received your previous days chat BB&rsquo;s, please submit a support ticket</p>
        <p>If there&rsquo;s no comment and it&rsquo;s been over 24 hours since your chat winnings, please email support@bingovega.com Please allow a 24 hour response time.</p>
        <p></p>
        <h3>QUESTIONS ABOUT PRIVACY AND SECURITY</h3>
        <h4><strong>WHAT STEPS DO YOU TAKE TO MAKE BINGO VEGA A SECURE GAMING EXPERIENCE?</strong></h4>
        <p>At Bingo Vega, we take every precaution to keep information safe. We believe that our players shouldn&rsquo;t have to worry about their personal data being compromised. Players should have peace of mind when they play, and we take security and privacy very seriously to ensure a stress-free gaming experience. We offer the highest standards of encryption to keep your information safe. In addition, we will not sell or trade your information with any third parties under any circumstances.</p>
        <p></p>
        <h4><strong>CAN YOU TELL ME A LITTLE MORE ABOUT SECURITY?</strong></h4>
        <p>Of course! Bingo Vega uses industry standard encryption for all communications to ensure that nothing gets into the hands of hackers and criminals. Bingo Vega is proud to say that in all years of operation we have a 100% success rate of keeping all player information safe.</p>
        <p></p>
        <h4><strong>WHAT IS ENCRYPTION? WHY IS IT IMPORTANT?</strong></h4>
        <p>Encryption refers to algorithmic schemes that encode information into non-readable form which provides privacy. The receiver uses a &ldquo;key&rdquo; to decrypt the message, returning it to its original form. Again, Bingo Vega uses industry standard encryption technology, the same kind of security that you&rsquo;ll find when performing online banking. Encryption is important to keep information safe and out of the hands of malicious third parties.</p>
        <p></p>
        <h4><strong>WHO ARE BINGO VEGA&rsquo;S TECHNOLOGY PARTNERS?</strong></h4>
        <p>Bingo Vega is secured by Thawte, a leading global Certification Authority. Thawte&rsquo;s SSL and code signing digital certificates are used globally to secure servers, provide data encryption, authenticate users, protect privacy and assure online identities through stringent authentication and verification processes. When you see the Thawte seal at the bottom of our pages, you can have peace of mind knowing that all information is safe.&nbsp;</p>
        <p></p>

    </div>
</div>