﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="bg-white mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        <p>Bingo Vega has compiled this privacy statement in order to demonstrate our firm commitment to privacy. The following discloses the information gathering and dissemination practices for this Web site.</p>
        <p>Our web server automatically detects each visitors IP, but not e-mail addresses. We collect E-mail addresses of those who communicate with us via e-mail, and information volunteered by the consumer, such as survey information and/or site registrations. The information we collect is used to improve the content of our Web page, and to notify consumers about updates to our Web site and/or software. The information we collect is not shared with other organizations for commercial or non-commercial purposes. If you supply us with your postal address and/or phone numbers, they will only be used for your intended purpose.</p>
        <p>You can unsubscribe from future newsletters and promotional emails by clicking on the unsubscribe link from any email received from us</p>
        <p>We provide registered members options to review, change or modify previously provided information maintained by us. This includes financial and contact information. If you are unable to make the modifications yourself in the My Profile section of the Player&rsquo;s Area, send your request to us via the Help Desk.</p>
        <p>If you have any questions about this privacy statement, the practices of this site, or your dealings with this Web site, you can contact <a href="mailto:support@bingovega.com">support@bingovega.com</a>.</p>

        <h3 dir="ltr">QUESTIONS ABOUT PRIVACY AND SECURITY</h3>
        <h4 dir="ltr"><strong>WHAT STEPS DO YOU TAKE TO MAKE BINGO VEGA A SECURE GAMING EXPERIENCE?</strong></h4>
        <p dir="ltr">At Bingo Vega, we take every precaution to keep  information safe. We believe that our players shouldn&rsquo;t have to worry  about their personal data being compromised. Players should have peace  of mind when they play, and we take security and privacy very seriously  to ensure a stress-free gaming experience. We offer the highest  standards of encryption to keep your information safe. In addition, we  will not sell or trade your information with any third parties under any  circumstances.</p>
        <h4 dir="ltr"><strong>CAN YOU TELL ME A LITTLE MORE ABOUT SECURITY?</strong></h4>
        <p dir="ltr">Of course! Bingo Vega uses industry standard  encryption for all communications to ensure that nothing gets into the  hands of hackers and criminals. Bingo Vega is proud to say that in all  years of operation we have a 100% success rate of keeping all player  information safe.</p>
        <h4 dir="ltr"><strong>WHAT IS ENCRYPTION? WHY IS IT IMPORTANT?</strong></h4>
        <p dir="ltr">Encryption refers to algorithmic schemes that  encode information into non-readable form which provides privacy. The  receiver uses a &ldquo;key&rdquo; to decrypt the message, returning it to its  original form. Again, Bingo Vega uses industry standard encryption  technology, the same kind of security that you&rsquo;ll find when performing  online banking. Encryption is important to keep information safe and out  of the hands of malicious third parties.</p>
        <h4 dir="ltr"><strong>WHO ARE BINGO VEGA&rsquo;S TECHNOLOGY PARTNERS?</strong></h4>
        <p dir="ltr">Bingo Vega is secured by Thawte, a leading  global Certification Authority. Thawte&rsquo;s SSL and code signing digital  certificates are used globally to secure servers, provide data  encryption, authenticate users, protect privacy and assure online  identities through stringent authentication and verification processes.  When you see the Thawte seal at the bottom of our pages, you can have  peace of mind knowing that all information is safe. </p>
    </div>
    </div>
