﻿@{
    ViewData["Title"] = "Responsible Gaming";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        <p>
            <strong>Gambling is entertainment.</strong> The majority of people, who gamble, do so without experiencing any problems. But a minority — an estimated 1 percent to 2 percent of the general population — become compulsive gamblers.<br>
            To have an enjoyable experience when visiting our bingo hall, we advise you follow these guidelines:
        </p>
        <ul>
            <li>Make sure that the decision to gamble is your personal choice.</li>
            <li>Establish what constitutes an acceptable loss before starting to gamble.</li>
        </ul>
        <h2>Never gamble if:</h2>
        <ul>
            <li>You are younger than the legal gambling age</li>
            <li>It interferes with your work or other responsibilities</li>
            <li>You are in recovery for addictive disorders or dependencies</li>
            <li>You had too much to drink</li>
            <li>You are attempting to make up for prior gambling losses</li>
        </ul>
        <p>
            Please know how to set limits and know when to stop. Like many things, what is enjoyable in moderation can be disastrous in excess. If you lose the ability to walk away from the table or machine at will then you shouldn&rsquo;t play at all. We would be pleased to set a lower deposit limit on your account if requested.<br>
        </p>
        <p>Seek professional help if gambling is not something that you want to do but something you need to do. Visit <a href="http://www.gamblersanonymous.org/">Gamblers Anonymous</a></p>
    </div>
    </div>