﻿@{
    ViewData["Title"] = "Security";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        <p>
            At Bingo Vega we make sure you stay safe and your data stays secure while online. In order to accomplish this we use the latest encryption technology available to protect your privacy and data.
        </p>
        <p>
            <h2>Encryption</h2>
            Encryption is the process of encoding a message, using principles of mathematics, in such a way that it is readable only by the intended recipient. Many kinds of encryption techniques have been developed over the centuries,
            but they all tend to resemble a lockbox and key: Once a secret message is put into the lockbox and secured with the key, it can only be read again by someone possessing the same key.
        </p>
        <p>
            Bingo Vega uses well-known standards-based encryption algorithms to protect users&rsquo; communications from falling into the hands of hackers and criminals.
        </p>
        <p>
            In so doing, Bingo Vega ensures user&rsquo;s privacy as well as the integrity of the data being sent from a user to Bingo Vega and vice versa.
        </p>
        <p>
            <h2>Technology Partners</h2>
            We partner with the world&rsquo;s leaders when it comes to our technology in order to provide you with the best and most secure online bingo experience.
        </p>
        <p>
            <h2>Thawte</h2>
            Thawte is a leading global Certification Authority. We use their SSL technology to secure our servers, provide data encryption and protect privacy through stringent authentication and verification processes.
        </p>
        <p>
            <h2>Privacy</h2>
            Bingo Vega has compiled this privacy statement in order to demonstrate our firm commitment to privacy. The following discloses the information gathering and dissemination practices for this Web site.
        </p>
        <p>
            Our web server automatically detects each visitors IP, but not e-mail addresses. We collect E-mail addresses of those who communicate with us via e-mail, and information volunteered by the consumer, such as survey information and/or site registrations. The information we collect is used to improve the content of our Web page, and to notify consumers about updates to our Web site and/or software. The information we collect is not shared with other organizations for commercial or non-commercial purposes. If you supply us with your postal address and/or phone numbers, they will only be used for your intended purpose.
        </p>
        <p>
            If you do not want to receive e-mail from us in the future, please let us know by sending a blank message with the word &ldquo;Remove&rdquo; in the subject area to
            <a href="mailto:support@bingovega.com">support@bingovega.com</a>&nbsp;or simply advise us via the Support Desk in the Player&rsquo;s Area. When you register your account for the first time, you will be given the opportunity to &ldquo;opt out&rdquo; of receiving promotional E-mail messages from us.
        </p>
        <p>
            We provide registered members options to review, change or modify previously provided information maintained by us. This includes financial and contact information. If you are unable to make the modifications yourself in the My Profile section of the Player&rsquo;s Area, send your request to us via the Support Desk.
        </p>
        <p>
            If you have any questions about this privacy statement, the practices of this site, or your dealings with this Web site, you can contact
            <a href="mailto:support@bingovega.com">support@bingovega.com</a>.
        </p>

    </div>
</div>