﻿@{
    ViewData["Title"] = "Bingo Vega's Terms & Conditions";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class=" mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        <p>NOTE: All times shown and all our games run in Eastern Standard Time (EST).</p>
        <h2>1- Introduction</h2>
        <p>IMPORTANT – PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE ACCEPTING THESE AGREEMENTS, THEN PRINT THESE TERMS AND CONDITIONS AND STORE THEM ALONG WITH ALL CONFIRMATION EMAILS, ADDITIONAL TERMS, TRANSACTION DATA, GAME RULES AND PAYMENT METHODS RELEVANT TO YOUR USE OF THE PLATFORM AND/OR SERVICES. WE WILL NOT FILE OUR CONTRACT WITH YOU SO PLEASE PRINT IT OUT FOR YOUR RECORDS. THESE TERMS AND CONDITIONS ARE SUBJECT TO CHANGE (AS SET OUT BELOW).</p>
        <p>You accept to be bound by this contract by clicking ‘I Agree’ on registration page. After you click on ‘Submit’ or ‘I Agree’, a legally binding agreement on these terms and conditions is concluded between, (a) you, the end user (‘you‘), and (b) Managing parties in accordance with the brand www.bingovega.com .&nbsp;</p>
        <p>Licensing</p>
        <p>Credit card transactions are processed through ‘BV Services or Rock Interactive.</p>
        <p>Laws regarding gambling vary throughout the world, and it is the responsibility of you, the player, to ensure that you understand and fully comply with any laws or regulations relevant in your own country.</p>
        <h2>2- Fairness Statement</h2>
        <p>The BingoVega® Random Number Generator (RNG) has been independently tested and certified by Technical Systems Testing (TST), based in Vancouver, British Columbia. Using mathematical and statistical analysis, TST concluded that the RNG distributes numbers with sufficient non-predictability, fair distribution and lack of bias to particular outcomes.</p>
        <p>We want to ensure that when players purchase a game card, they have every chance of winning. All reasonable efforts are made so that the outcome of the game is NOT affected by the:</p>
        <ul style="list-style-type: circle;">
            <li><strong>Instability of the Internet</strong></li>
            <li><strong>Speed of one player’s Internet connection over the other player</strong></li>
            <li><strong>Physical location on the globe</strong></li>
        </ul>
        <p>Our software provider has continued to evolve the software into what we believe to be the fairest and most reliable gaming on the Internet. If you encounter serious technical problems or would like more information about our games, please contact our Support desk.</p>
        <p>Some of the progressive jackpots are shared between game sessions. For example, multiple players playing a slot machine or bingo game at the same time can be eligible to win an associated active progressive jackpot. In the unlikely event that more than one player’s game outcome meets the requirement to win the progressive before the amount has been updated on their game interface, the player winning first, based on the timestamp in the database, will be awarded the current progressive amount and all others will be awarded the normal starting jackpot amount (seed amount). Customer support will be able to provide the actual timestamps and aliases of all associated winners on demand. &nbsp;</p>
        <p>Note: In the event of a malfunction of the gaming system, all game bets are null and void. Payouts will be returned to the house and game bets will be refunded.</p>
        <h2>3- Definitions and Terminology Used in Our Games</h2>
        <p>A Player is a person who registers with BingoVega® by filling out our registration form with the required information.</p>
        <p>A Purchase occurs after a player enters (logs in) the BingoVega® website and purchases Bingo card(s) or wagers on any game using funds that have been deposited in a player’s account by the player. When a player elects to deposit funds into their player account by any inbound payment processor, the purchase must be validated by BingoVega® and its credit card agents. In the event that the purchase is subject to a charge-back or is otherwise incomplete, the purchase and any associated wins becomes void.</p>
        <p>A game purchase is considered valid if the player’s deposit of cash funds transaction is complete without chargeback. We cannot offer refunds once a purchase is made.</p>
        <p>All purchases are made in USD ($) currency. The descriptors associated with the various funding options are specified on the purchase success page and via receipt emailed to the address registered to the purchasing account. &nbsp;All discrepancies or questions should be directed to the Member Accounting Services department via a Support desk ticket. If the matter is associated with financials, please email accounting@bingovega.com or submit a support ticket and ask to have it transferred to Member Accounting Services. Member Accounting Services is open Monday – Friday from 8am ET to 5pm ET.&nbsp;</p>
        <p>A Card represents a set of randomly collected numbers. Until a card is in play, you have the option to change the collection of numbers by selecting a new card. Once you accept the collection of numbers for any game, the card becomes valid and in play.</p>
        <p>A Game Variation is a specified pattern that must be matched on your card in order to win a game and receive a prize.</p>
        <p>A Call is a broadcast message from our game server, received by your computer containing a randomly generated number.</p>
        <p>A Bingo Call is a broadcast message from your computer, received by the BingoVega® game server identifying you as a holder of a game variation. In Play will be the term used to describe any game that has been initialized by our game server and is receiving calls and communicating with the game server.</p>
        <p>A Prize is a cash allotment that is payable to a winner (or winners if there is more than one winner equally shared) identified by BingoVega® through a Bingo call or a match to a game variation. Prizes are automatically deposited into a winner’s account.</p>
        <p>A User ID and username is assigned to you by BingoVega® at the time of registration and is used to uniquely identify you.&nbsp;&nbsp;</p>
        <p>A Player Account is the account in which you use to deposit funds, use to buy into games, deposit winnings into and request withdrawals from. Once a card is in play, the game credit cannot be returned to you.</p>
        <h2>4- Participation Rules</h2>
        <p>To participate in a game you must be 18 years of age or older, you must read and consent to all of the rules, terms and conditions. You must have authorization to use the credit card, bank account or service chosen to fund your account at BingoVega®.</p>
        <p>Only one account is valid per player. The name on your Account must match your true and legal name and identity and the name on your Account registration must match the name on the credit card(s) or other payment accounts used to deposit or receive monies in your Account.</p>
        <p>To verify your identity, we reserve the right to request at any time satisfactory proof of identity (including but not limited to copies of a valid passport / identity card and/or any payment cards used) and proof of address (including but not limited to a recent utility bill or bank statement). Failure to supply such documentation may result in suspension of the Account. You are prohibited from holding more than one (1) Account. If you have more than one (1) Account or Accounts in different names, then you must contact support immediately to have your Accounts managed so that you only have one (1) Account. BingoVega® reserves the right to close your Account(s) if you open multiple Accounts. Should we have reasonable grounds to believe that multiple Accounts have been opened with the intention to defraud the company, we reserve the right to cancel any transaction related to said fraud attempt. BingoVega® reserves the right to close accounts for any reason and without explanation.</p>
        <p>Participation will require that you register with BingoVega® by correctly completing the registration details and offering a full name, address, county, city, postal code, country, e-mail address, birth date and telephone number (optional). For any subsequent participation, you must login with your unique User ID (provided by BingoVega®) and password.</p>
        <p>You agree to keep your Account name and password secret and confidential and not to allow anyone else to use it. Every person who identifies themselves by entering a correct username and password is assumed by us (‘BingoVega®’) to be the rightful Account holder and all transactions where the username and password have been entered correctly will be regarded as valid. In no event will we be liable for any loss you suffer as a result of any unauthorized use or misuse of your login details. We shall not be required to maintain Account names or passwords. If you have lost your Account name, username or password, please contact support for a replacement. &nbsp;If you misplace, forget, or lose your Account name, username or password as a result of anything other than our error, we shall not be liable.</p>
        <p>We will not disclose your information to a third party except as required to maintain the software, for processing financial transactions (including age and id verification) or inform necessary law enforcement authorities. We operate under the tightly regulated Anti Money Laundering (AML) regulations. (See Privacy Policy for details.)</p>
        <p>To maintain a high level of security and integrity in the system, BingoVega® reserves the right to conduct a security review at any time to validate your identity, age, the registration data provided by you, to verify your compliance with this agreement and our policies and your financial transactions carried out for potential breach of these Agreements and of applicable law. As such, you authorize us and our agents to make any inquiries of you and for us to use and disclose to any third party we consider necessary to validate the information you provide to us or should provide to us in accordance with this agreement, including but not limited to, ordering a credit report and/or otherwise verifying the information against third party databases. In addition, you agree to provide such information or documentation as BingoVega®, in its unfettered discretion, may request.</p>
        <p>Failure to pass this security review will result in the deposit limit for your account to be set to zero and exclusion from wagering or participation in the chat rooms.</p>
        <p>Upon the discovery that a minor has been using our services, any associated prizes won will be forfeited and any remaining funds in the account will be refunded.</p>
        <p>In order to use our services, you will be required to send money to and may be required to receive money from us. We may use third-party electronic payment processors and/or financial institutions (‘ESPs‘) to process such financial transactions. You irrevocably authorize us, as necessary, to instruct such ESPs to handle Account deposits and withdrawals from your Account and you irrevocably agree that we may give such instructions on your behalf in accordance with your requests as submitted using the relevant feature on our Platforms. You agree to be bound by the terms and conditions of use of each applicable ESP. In the event of conflict between these Agreements and the ESP’s terms and conditions then these Agreements shall prevail.</p>
        <p>Games will be offered at approximately 2 (two) minute intervals. BingoVega® has exclusive authority to modify the game schedule without prior notice. Winners will be transmitted a reference number that will identify the win. You are responsible for the preservation of any reference numbers provided. In the event that there is a discrepancy between the game variation as it is recorded in BingoVega’s database, and that recorded by the player, the calls recorded in the BingoVega® game server shall be considered valid.</p>
        <p>A purchase will be void if for any reason BingoVega® does not receive payment or if there is an applicable charge-back at a later date. BingoVega® reserves the right to limit your participation in any game, particularly in the event that a purchase is rendered void.</p>
        <p>Returns/Refund Policy: You always have access to your funds. At any time you can request a “withdrawal” with a minimum withdrawal of $200.&nbsp; This can be done from the players’ area (post account login). Bonus funds are not subject to this rule (see Bonus Rules). If you cancel your account, all cash funds (except for bonus money) will be returned. User cannot request a “withdrawal” from compensation/bonus funds. Requests are made before Sundays at midnight and are processed on Mondays.</p>
        <p>Only qualified winnings that have met rollover requirements or deposited funds will be returned.</p>
        <p>In ALL cases, BingoVega® reserves the right to withhold any withdrawal payments until all financial transactions have been settled and cleared. We operate under the tightly regulated Anti Money Laundering (AML) regulations. (See Privacy Policy for details.)</p>
        <p>You should assume that all use of our website, and emails and telephone calls between you and BingoVega® will be recorded. These recordings will be the sole property of BingoVega® and may be used as evidence in the event of any dispute or to improve customer service.</p>
        <p>Employees and relatives of employees of BingoVega® are prohibited from participating in bingo games.</p>
        <p>As a Security measure to prevent any type of money laundering, BingoVega® requires each player to play through their deposited balance at least 1 time prior to any withdrawal request being made.  Withdrawals will not be processed until minimum requirements are completed. Players who accept bonus funds are required to follow rules of promotion and bonus rules set forth below in the bonus section.</p>
        <p>We reserve the right to request documentation at any time.</p>
        <h2>5- Cost of Playing at BingoVega</h2>
        <p>Bingo cards can range in price from 5¢ to $2.00. &nbsp;This range may vary for special promotions. You can buy up to 100 cards in selected games.</p>
        <p>Casino game machines, such as slot machines, video poker, keno, pull tabs, etc., have denominations ranging from 5¢ to $5 per wager.</p>
        <h2>6- Claiming Prizes</h2>
        <p>Prizes shall be automatically deposited to your account cash balance. You can purchase games from winnings or request a withdrawal. Withdrawals can be requested by visiting the cashier and selecting the withdrawal request link. However, please make sure that the mailing information is correct when you register in order to avoid delays. See the Withdrawal Options FAQ for more information.</p>
        <h2>7- Payouts / Withdrawals</h2>
        <p>Withdrawal requests must be received by 11:59 p.m. EST Sunday in order to be reviewed and/or processed on Monday. Withdrawal requests received after the deadline will be processed the following week.</p>
        <p>To be eligible for a withdrawal, a member must have made at least one deposit of $25 or more within the past 30 days, before requesting a payout.</p>
        <p>All players must meet the wagering requirements stated in the Bonus Rules section before requesting a withdrawal. If Bonus Rules requirements are not met, the withdrawal request will be declined.</p>
        <p>All bonuses are forfeited upon submitting a withdrawal request. This process is irreversible regardless of the final withdrawal status: approved, cancelled or declined.</p>
        <p>Withdrawal Minimum and Maximum Amounts in a 31 day period.</p>
        <ul>
            <li><strong>Minimum withdrawal amount: $200.00</strong></li>
            <li><strong>Maximum withdrawal amount per week: $1,000.00</strong></li>
            <li><strong>Maximum withdrawal amount in 31 day period: $2,000.00</strong></li>
        </ul>
        <p>Cashouts are paid at a maximum of $1000 per week with a $2000 limit per month.&nbsp; Payouts from Jackpots of $2,001+ or withdrawal requests of combined winnings of $2,001+ will be paid as follows:</p>
        <p>$2,000 – $3,999 will be paid out in 6 equal weekly installments.</p>
        <p>$4,000 – $5,999 will be paid out in 10 equal weekly installments.</p>
        <p>$6,000 or more will be paid out in weekly installments over 6 months.</p>
        <p>Players with payouts over $1,000 will be requested for a testimony with picture to share with the bingo community. Payouts will not be processed until testimonial is received.</p>
        <p>All players with payouts from jackpots of $2,001+ or withdrawal requests of combined wins of $2,001+ are required to make a deposit of $25+ every 30 days in order to keep their account active until the payout is fulfilled.&nbsp; The payout funds will be removed from your account so that you can deposit.&nbsp; New payout requests will be accepted.</p>
        <p>Should you want to transfer funds into your player account from your pending payout you will be able to do so by completing a flow back to your player account.</p>
        <p>All eligible payouts will be processed and paid according to the Country and available methods.</p>
        <p>If a payout has been requested 100% of ALL REMAINING COMP will be removed from your account.</p>
        <p>NOTE: If the requested withdrawal amount exceeds the limits for a regular weekly payout, the amount above the limit will be flowed back (credited) to a member&rsquo;s account. This applies only to regular payout requests that exceed $1000 a week/$2000 per month.  This does not apply to a weekly or monthly installment plan that has been approved.</p>
        <p>Only ONE withdrawal will be processed per account per week. In the event that a member has multiple withdrawal requests in the same week, the Accounting Department will decline all subsequent requests and credit them to the member’s account.</p>
        <p>Withdrawal payout costs are deducted from the withdrawal amount requested by the member at the time of processing. Please contact accounting@BingoVega.com for available withdrawal options and fee details.</p>
        <p>All accounts must have a valid phone number listed in their account. &nbsp;Use of an invalid phone number is grounds for declining a withdrawal. Contact information can be corrected via the ‘Profile’ option after login.</p>
        <p>It is the member’s responsibility to inform accounting@BingoVega.com of any changes in billing address, e-mail address and phone number to prevent delays with payouts.</p>
        <p>If the member has used a Debit or Credit Card to fund the following will be required to process a withdrawal:</p>
        <ul>
            <li><strong>Credit Card Authorization form</strong></li>
            <li><strong>Copies of the back and front of the last credit or debit card</strong></li>
            <li><strong>Copy of front of Picture ID</strong></li>
            <li><strong>Utility bill</strong></li>
        </ul>
        <p>The above needs to be sent via email to accounting@BingoVega.com</p>
        <p>In the event that the documentation above has not been received by the time the withdrawal is reviewed for processing (Monday), the withdrawal funds will remain on pending status until the documents listed above are provided.</p>
        <p>Bank information and address verification may be requested to process a withdrawal .If you wish to speed the process, submit the following information along with the above:</p>
        <p><strong>Bank Wire Transfer</strong></p>
        <ul>
            <li><strong>Your Name</strong></li>
            <li><strong>Your Complete Address</strong></li>
            <li><strong>Bank Name</strong></li>
            <li><strong>Bank Address</strong></li>
            <li><strong>Bank Phone Number</strong></li>
            <li><strong>Bank Routing Number</strong></li>
            <li><strong>Your Account Number</strong></li>
        </ul>
        <p>Once your payout has been approved, please allow 7-10 business days for the funds to reach you.</p>
        <p>We reserve the right to request additional documentation at any time.</p>
        <h2>8- Limits of Liability and Indemnification Statement</h2>
        <p>THIS PUBLICATION IS PROVIDED AS IS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON INFRINGEMENT. REFERENCES TO SERVICES AND PRODUCTS ARE PROVIDED AS IS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED. IN NO EVENT SHALL BingoVega® BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER OR NOT ADVISED OF THE POSSIBILITY OF DAMAGE, AND ON ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS INFORMATION. THIS PUBLICATION COULD INCLUDE TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN; THESE CHANGES WILL BE INCORPORATED IN NEW EDITIONS OF THE PUBLICATION. BingoVega® MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE PRODUCT (S) AND/OR THE PROGRAM (S) DESCRIBED IN THIS PUBLICATION AT ANY TIME.</p>
        <p><strong>SPECIFICS</strong></p>
        <p>It is your responsibility to ensure you understand and comply fully in respect to any applicable local, state, national and international laws, regulations, directives etc. BingoVega cannot be held responsible for any third party claims of any kind against you. You agree that you are 18 years of age and have authorization and authority to use the fund account option used at BingoVega® for a purchase. BingoVega’s liability with respect to any claim made by you shall be limited to the prize. Under no circumstances will BingoVega® be liable for any costs or expenses incurred by you in making a claim. BingoVega® will not be held liable for any costs or expenses incurred by you for any overdrafts relating to deposits made through our e-commerce systems.</p>
        <p>It is your responsibility to ensure that sufficient funds are available before initiating a deposit to your BingoVega® account via our e-commerce systems. BingoVega® will not be held liable for any costs or expenses incurred by you for any overdrafts resulting from multiple deposits to your account made through the improper use of our e-commerce systems. Reloading a cash deposit transaction page constitutes misuse of our e-commerce system and as such, BingoVega® will not be held responsible or liable for any overdraft charges or costs that they may incur as a result. BingoVega® shall have the right to suspend or withdraw any participation at its absolute discretion.</p>
        <p>Personal details of all players will remain confidential unless players agree to otherwise. BingoVega® will not be liable for any loss of whatsoever in nature arising from the cancellation of any round, including the loss, for whatever reason, of the chance to participate in the game. In particular, but without prejudice to the generality of the foregoing, BingoVega® will not be liable to any person for the failure of, or damage or destruction of BingoVega’s central computer system or records, or any part thereof, for delays, losses, errors or omissions resulting from failure of any telecommunications or other data transmission system, for any delay resulting in non-receipt of any participation for a particular round. BingoVega® will not be liable for any loss as a result of an act of God, an outbreak of hostilities, riot, civil disturbance, acts of terrorism, the act of any Government or authority (including refusal or revocation of any license or consent), fire, explosion, flood, hurricane, theft, malicious damage, strike, lock-out, or industrial action of any kind.</p>
        <p>The parties shall not commit nor purport to commit the other to honor any obligation other than is specifically provided for by these participation rules. You accept liability for any damages that may be caused by the misuse of your membership number and access-code details on the Internet. These participation rules constitute the entire agreement and understanding between the parties.</p>
        <h2>9- Disputes</h2>
        <p>BingoVega® will make every effort to promptly and impartially resolve all disputes. In the event that you have any complaints, claims or disputes with regard to any outcome regarding the services or any other activity performed by BingoVega®, you should in the first instance contact support or open a Support desk ticket. Every effort possible has been made by BingoVega to promptly and impartially resolve all disputes that may arise from the use of our games.</p>
        <p>However, please be advised that in the event of any dispute regarding a participation or a Prize, the decision made by BingoVega will be final and binding.</p>
        <h2>10- Termination of Account</h2>
        <p>BingoVega® reserves the right to terminate a Member account at any time for any reason at our sole discretion.</p>
        <p>BingoVega® reserves the right to amend these Rules from time to time and vary them without prior notice.</p>
        <h2>11- Copyrights and Trademarks</h2>
        <p>The terms BingoVega® and any other marks used by ‘BingoVega®’ are the trademarks service marks and/or trade names of BingoVega® or one of its subsidiaries or associated companies or its licensors. Further, all other material used by BingoVega®, including but not limited to the software, images, pictures, graphics, photographs, animations, videos, music, audio, text (and any intellectual property rights in and to any of the same) is owned by BingoVega® or one of its subsidiaries or associated group companies and/or licensors and is protected by copyright and/or other intellectual property rights. You obtain no rights in such copyright material or trade or service marks and must not use them without the Group’s written permission.</p>
        <h2>12- Governing Law</h2>
        <p>These Agreements shall be governed by and construed in accordance with the laws of Costa Rica. You irrevocably agree to submit, for the benefit of BingoVega®, to the exclusive jurisdiction of the courts of Costa Rica for settlement of any disputes or matters arising out of or concerning these Agreements or their enforceability. If any part of these Agreements is found to be invalid, illegal or unenforceable in any respect, it will not affect the validity of the remainder of the Agreements, which shall remain valid and enforceable according to their terms.</p>
        <h2>13- Bonuses</h2>
        <p>Free, Non-Deposit Bonuses (FNDB)</p>
        <p>Periodically we have promotions that award bonus money without requiring a deposit (e.g. Free, non-deposit Bonuses such as, trial bonus, referral bonus, welcome back bonus, chat room bonus, loyalty bonuses).</p>
        <p>Following are the rules for such promotions. These rules apply unless otherwise specified in the associated promotion.</p>
        <ol>
            <li><strong>The free bonus money cannot be withdrawn unless a deposit had been made prior to the receipt of the free no-deposit bonus and the deposit must have been made within the last 30 days or in the case of a chat associated game, the last 5 days.</strong></li>
            <li><strong>Only bingo winnings from the bonus can be withdrawn once the five-time wagering requirement has been met.</strong></li>
            <li><strong>Bonus awarded will be deducted from the withdrawal amount.</strong></li>
            <li><strong>The maximum payout resulting from Free Money wagering is $100. Winnings in excess of this amount are considered null and void and will be removed from the account at the time the player requests a withdrawal.</strong></li>
            <li><strong>Winnings from the bonus money may NOT be transferred to another player.&nbsp;</strong></li>
        </ol>
        <p><strong>Deposit Bonus (DB)</strong></p>
        <p>We will offer promotions on and not limited to: Website, email, SMS or any other media outlet. These promotions will have a specific set of rollovers that must be completed before any bonus funds can be withdrawn from casino or bingo play. Rollovers will be specified by promotion. If not specified in the promotion then these standard rules will apply.</p>
        <p><strong>Bonus Expiration</strong></p>
        <p>All bonuses are void if not played within 30 days of being issued. Expired Bonus funds may be removed from account.</p>
        <p>In the event that bonus funds are not removed at 30 days, all bonus funds account balances for customers who have not accessed their account for one year are considered abandoned funds and will be removed from the associated accounts.</p>
        <p>BingoVega.com reserves the right to remove bonus funds from accounts that show no deposits within the last 30 days or more.</p>
        <p>Qualifying your deposit bonus</p>
        <p>To receive your deposit bonus you must buy a card, spin a slot etc then the bonuses will be automatically credited to your account as “qualified bonus” available for play. If bonus money is not automatically transferred, please submit a support ticket requesting your unqualified bonus and any deposit bonuses or multipliers (promotional)&nbsp;</p>
        <p>Standard Bingo Bonus Rollover Rules:</p>
        <ul>
            <li><strong>All deposit Bonuses</strong></li>
            <li><strong>Bingo (Deposit + all bonuses) X 5</strong></li>
            <li><strong>Note: The Bingo Rollover Rules apply only for bingo; any wagers made on casino games will change the rules to the Standard Casino Rollover Rules.</strong></li>
            <li><strong>Standard Casino Bonus Rollover Rules:</strong></li>
            <li><strong>Slots, Keno, Pull Tabs (Deposit + all bonuses) X 45</strong></li>
            <li><strong>Video Poker (Deposit + all bonuses) X 45</strong></li>
            <li><strong>Table Games including Blackjack (Deposit + all bonuses) X 45</strong></li>
            <li><strong>Note: Rollover rules apply to bonus funds and winnings resulting from bonus wagers.</strong></li>
        </ul>
        <p>Exempt Games:</p>
        <p>Bonuses cannot be played on Roulette, Craps and Baccarat. Any games played on these will not count toward rollover requirement and any winnings are subject to forfeiture.&nbsp;</p>
        <h2>14- Chat Room Conduct</h2>
        <p>General Rules and Guidelines:</p>
        <p>NO complaining. All complaints must be directed to the Support Desk so not to disturb the flow of chat or cause a confrontation. If you have submitted a Support ticket and have not yet received a response, please allow staff adequate time to respond to your ticket.</p>
        <p>NO children (persons younger than 18 years old) are allowed in chat rooms, this site is for responsible adults only. In the event that a minor gains access to an account held by an adult, the owner of the account will be held responsible for the minor’s actions.</p>
        <p>Maintain a friendly chat room by respecting others and by assisting and welcoming new chatters.</p>
        <p>Soliciting other players for money is strictly prohibited.</p>
        <ul>
            <li><strong>No discussion or announcement of your account balance as this may cause other players to feel guilty for not funding your account</strong></li>
            <li><strong>No soliciting of players for “gifts” or “loans” of money</strong></li>
            <li><strong>No soliciting of players for donations for another player</strong></li>
            <li><strong>No soliciting of winning players for funds</strong></li>
        </ul>
        <p>This policy, as outlined above, is for the protection of all players and to maintain a comfortable environment in our chat rooms</p>
        <p>Player Aliases must be in good taste. BingoVega reserves the right to request that a player change their alias at the sole discretion of management. Should the player refuse to change their alias within a 48 hour time period, they will be permanently blocked from the chat rooms.</p>
        <p>&nbsp; &nbsp; Alias changes are limited to one every thirty days except in the event of a special promotion that requires players to change their alias</p>
        <p>Players should not harass, slander, libel, insult, abuse or threaten others.</p>
        <p>All discussion of other Bingo sites, advertising of other sites and/ or recruitment of players to other sites is prohibited.</p>
        <p>Holding duplicate accounts and/or playing on another player’s account are prohibited. Only one account per person is permitted or two accounts per household.</p>
        <p>Players are not permitted to slander or libel BingoVega Management, employees or affiliates.</p>
        <p>If the chat room conduct outlined here-in is not followed BingoVega.com reserves the right to ban customer from Chat.</p>
        <p>BingoVega.com reserves the right to ban any customer from Chat at any time.</p>
        <h2>15- Support Desk Guidelines</h2>
        <p>All Complaints must be submitted via the Support desk.</p>
        <p>Spamming of the Support desk (sending repeated copies of the same message) is prohibited.</p>
        <p>Repeated harassment and abuse of Support desk staff is prohibited.</p>
        <p>If you have submitted a Support ticket and have not yet received a response, please do not complain in chat that the Support ticket has not yet been answered.</p>
        <p>If you are dissatisfied with the outcome of your support ticket, you may draft a Support ticket explaining your grievance and address it to Management.</p>
        <p>Support Tickets should adhere to the same standards as chat communications.</p>
        <p>All Complaints must be submitted via the Support desk.</p>
        <p>** Have respect for the CM’s authority. **&nbsp;</p>
        <p>** Address your concern without the use of obscenities or threatening language. **</p>
        <p>** Allow staff the necessary time to resolve your concern. **</p>
        <h2>16- Inactivity</h2>
        <p>Any accounts with no deposits in 30 days and have a bonus or cash balance will be subject to balance Forfeiture”. From time to time Management will zero out dormant accounts.&nbsp; (Accounts with no deposit in over 30 days).</p>
        <h2>17- Entire Agreement, Modification and Amendments</h2>
        <p>You fully understand and agree to be bound by these Agreements and as modified and/or amended by BingoVega® from time to time. BingoVega® may amend these Agreements at any time either by emailing you notification of the new terms and/or by publishing the modified Agreement(s) on the relevant page of the website or any place through which you access the services.</p>
        <p>Any such modification will take effect within thirty (30) days of publication. If any modification is unacceptable to you, your only recourse is to terminate these Agreements. Your continued use of the services following notification or as the case may be such thirty (30) day period will be deemed binding acceptance of the modification. It is your sole responsibility to review these Agreements and any amendments each time you play.</p>
        <p>These Agreements and the documents referred to herein represent the complete and final agreement between you and BingoVega® in relation to this agreement and supersede any and all prior agreements between you and BingoVega®.</p>
        <p>BingoVega® reserves the right to terminate a Member account at any time for any reason at our sole discretion.</p>
    </div>
</div>