﻿/**
* Template Name: Reveal - v4.3.0
* Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: #1e0036;
    background-image: url("/images/main-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
    color: #444;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #ab0192;
    text-decoration: none;
    font-weight:600;
    transition: 0.5s;
}

    a:hover, a:active, a:focus {
        color: #6700ac;
        outline: none;
        text-decoration: none;
    }

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}
small {
    font-size: 12px;
    color: #6700ac;
}
strong {
    color: #4658d1;
}
img{
    width:100%;
    height:auto;
}
.internalSlider{
    margin-bottom:40px;
}

    .internalSlider .carousel-control-next, .internalSlider .carousel-control-prev {
        background: none;
        transform: translateY(-50%);
        top: 50%;
        width: 90px;
        height: 290px;
    }
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
#button {
    display: inline-block;
    background-color: #7209B7;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

    #button::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: #fff;
    }

    #button:hover {
        cursor: pointer;
        background-color: #333;
    }

    #button:active {
        background-color: #555;
    }

    #button.show {
        opacity: 1;
        visibility: visible;
    }

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.topbar {
    background: #7209B7;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    padding: 0;
    min-height: 40px;
    color:#FFF;
}
.topbar a{
    color:#FFF;
    font-weight:normal
}

    .topbar a:hover {
        color: #bc28a3;
    }

    .topbar .contact-info i {
        font-style: normal;
        color: #50d8af;
    }

        .topbar .contact-info i a, #topbar .contact-info i span {
            padding-left: 5px;
            color: #444;
        }

        .topbar .contact-info i a {
            line-height: 0;
            transition: 0.3s;
        }

            .topbar .contact-info i a:hover {
                color: #50d8af;
            }

    .topbar .social-links a {
        color: #FFF;
        display: inline-block;
        line-height: 1px;
        font-size:24px;
        font-weight:normal;
    }

        .topbar .social-links a:hover {
            color: #bc28a3;
        }

        .topbar .social-links a:first-child {
            border-left: 0;
        }
    .topbar .not-member {
        background: #0AA151;
        border-radius:15px;
        color:#FFF;
        width:159px;
        float:right;
        margin-top:7px;
        font-size:14px;
        text-transform:uppercase;
        font-weight:600;
    }
        .topbar .not-member:hover {
            background:#067E3E;
            transition:0.3s;
        }
        /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}
header .floatingShoupe {
    position: fixed;
    left: 0px;
    top:400px;
    z-index: 999;
    animation: float 2s ease-in-out infinite;
    transform: translateY(0px);
}
    header .floatingShoupe img {
        width: 100%;
        max-width: 180px;
        height: auto;
    }

    #header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

    #header #logo h1 {
        font-size: 42px;
        margin: 0;
        padding: 0;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
    }

        #header #logo h1 a {
            color: #0c2e8a;
        }

            #header #logo h1 a span {
                color: #50d8af;
            }

    #header #logo img {
        padding: 0;
        margin: 0;
    }

@media (max-width: 768px) {
    #header {
        height: 60px;
    }

        #header #logo h1 {
            font-size: 34px;
        }

        #header #logo img {
            max-height: 40px;
        }
}

.scrolled-offset {
    margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
@media (min-width: 1024px) {
    .navbar-collapse {
/*        position:relative;
        top:50px;
        left:100px;*/
    }
    .login-custom input[type=submit] {
        width: 204px;
        height: 61px !important;
        border-radius: 10px;
        color: #702F09;
        font-weight:600;
        font-size:21px;
    }
    .login-custom input[type=text], .login-custom input[type=password] {
        width: 174px;
        height: 36px;
        border-radius:10px;
        margin-bottom:10px;
    }
    input::placeholder{
        text-transform:uppercase;
        font-size:12px;
    }
    .login-form {
        position: relative;
        /*right:-155px !important;*/
        top: -10px
    }

    .login-form .col-sm-4{
        padding:0px;
    }
.postLogin {
            position: relative;
            top: 30px;
        }
.postLogin p {
                margin: 0px;
            }
    .postLogin h5{
        text-align:right;
    }

    .postLogin .btn {
        font-size: 13px;
    }
    .postLogin .logout a {
                color: #FFF !important;
                font-weight: 600 !important
            }
    }

@media (max-width: 800px) {
    .postLogin h5{ text-align:center}
    .postLogin .buttons{
        display: flex;
        flex-direction:row-reverse;
        justify-content:center;
    }
        .postLogin .buttons .btn {
            font-size: 10px !important;
            padding:0.7rem;
        }
        .postLogin .buttons .float-end {
            float: none !important;
        }

}

    #signup h2 {
        margin-top: 30px;
    }

#signup select, #signup input[type=text], #signup input[type=number], #signup input[type=password], #signup input[type=email], #depositnow select, #depositnow input[type=text], #depositnow input[type=number], #depositnow input[type=password], #depositnow input[type=email] {
    font-size: 12px !important;
    color: #6c757d !important;
    text-transform:uppercase;
}

#signup select option {
    text-transform: uppercase !important;
}

.btn-check:active + .btn-outline-primary, .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    background-color: #7209B7 !important;
    border-color: #7209B7 !important;
    color: #FFF !important;
}

    .btn-outline-primary {
        color: #7209B7 !important;
        border-color: #7209B7 !important;
    }

        .btn-outline-primary:hover {
            background-color: #7209B7 !important;
            color: #FFF !important;
        }

    .login-custom input[type=submit] {
        width: 90%;
        height: auto;
        border-radius: 15px;
        color: #702F09;
        font-weight: 600;
        font-size: 21px;
        display: block;
        margin: 5px auto;
    }

    .login-custom input[type=text], .login-custom input[type=password] {
        width: 90%;
        height: auto;
        border-radius: 15px;
        margin-bottom: 10px;
        display: block;
        margin: 5px auto;
    }

    .forgot {
        display: block !important;
        margin: auto;
        float: none !important;
        font-size: 12px;
    }

    .header {
        padding: 0;
        background: #b5179e; /* Old browsers */
        background: -moz-linear-gradient(top, #b5179e 1%, #7209b7 30%, #3f37c9 70%, #4895ef 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #b5179e 1%,#7209b7 30%,#3f37c9 70%,#4895ef 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #b5179e 1%,#7209b7 30%,#3f37c9 70%,#4895ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5179e', endColorstr='#4895ef',GradientType=0 ); /* IE6-9 */
        font-size: 18px;
    }

    .logo {
        width: 100%;
        max-width: 280px;
        height: auto display: block;
        margin: auto;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
        margin-right: 20px;
    }

    .navbar a, .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #FFF;
        white-space: nowrap;
        text-transform: uppercase;
        transition: 0.3s;
    }

        .navbar a i, .navbar a:focus i {
            font-size: 12px;
            line-height: 0;
            margin-left: 5px;
        }

        .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
            color: #FFBA21;
        }

    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 14px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
    }

        .navbar .dropdown ul li {
            min-width: 200px;
        }

        .navbar .dropdown ul a {
            padding: 10px 20px;
            font-size: 14px;
        }

            .navbar .dropdown ul a i {
                font-size: 12px;
            }

            .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
                color: #50d8af;
            }

    .navbar .dropdown:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover > ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }

    @media (max-width: 1366px) {
        .navbar .dropdown .dropdown ul {
            left: -90%;
        }

        .navbar .dropdown .dropdown:hover > ul {
            left: -100%;
        }
    }

    .nav-link {
        color: #7209B7;
        font-weight: 600;
        text-transform: uppercase;
    }

        .nav-link:hover {
            color: #4895EF;
        }

    .nav-pills .nav-link.active {
        background-color: #7209B7;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 20px;
    }

#deposits .nav {
    display: block;
}

    #deposits .nav li {
        background-color: #cecece;
        border-radius: 20px;
        text-align: center;
        margin-bottom: 15px;
    }

        #deposits .nav li .active {
            background-color: #7209B7 !important;
            border-radius: 20px;
            padding: 10px;
            display: block;
        }

    #deposits .nav a {
        color: #FFF !important;
        padding: 10px;
        display:block;
    }
.blue-box {
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
}
    .blue-box .control-label {
        color: #0b5ed7;
        font-size: 22px;
        padding-bottom: 20px;
    }
    .blue-box select{
        border-radius:20px;
        font-size:20px;
    }
.blue-box h4{
    font-size: 16px;
    text-transform:uppercase;
}

    .blue-box input {
        border-radius: 20px;
        padding: 10px;
        margin: auto;
        display: block;
        width: 100%;
        color: #848484;
        border: solid 1px lightgray;
    }
.balanceTitle {
    color: #5a62e9;
    text-transform:uppercase;
    text-align:center;
}
.navbar-light .navbar-nav .nav-link {
    color: #FFF;
}

        .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
            color: #FFBA00;
        }

    .navbar-toggler:focus {
        box-shadow: none;
    }
    /**
* Submenu
*/
    .submenu {
        background-color: #FFBA21;
        padding: 20px 0;
        display: flex;
    }

        .submenu a {
            background-color: transparent;
            color: #7209B7;
            text-transform: uppercase;
            font-weight: 600;
            justify-content: center;
            border-radius: 20px;
        }

            .submenu a:hover, .submenu .clicked {
                background-color: #FFF;
                color: #7209B7;
            }
    /**
* Login Form
*/
    .form-control {
        box-shadow: none;
        border-radius: 4px;
    }

    .header .form-inline {
        display: inline-block;
    }

    .header .navbar-form {
        border: none;
    }

    .header .navbar-form-wrapper {
        padding: 0 15px;
    }

    .header .login-form label {
        color: #888;
        font-weight: normal;
    }

    .header .login-form {
        padding: 20px;
        left: auto;
        right: 0;
        font-size: 14px;
    }

        .header .login-form a {
            padding: 0 !important;
            color: #5c6ac4;
            font-weight: normal;
        }

            .header .login-form a:hover {
                text-decoration: underline;
            }

        .header .login-form .checkbox-inline {
            margin-top: 10px;
        }

    @media (min-width: 1200px) {
        .form-inline .input-group {
            width: 300px;
            margin-left: 30px;
        }
    }

    @media (max-width: 768px) {
        .header .login-form {
            width: 100%;
            padding: 10px 15px;
            background: transparent;
            border: none;
        }

        .header .form-inline {
            display: block;
        }

        .header .input-group {
            width: 100%;
        }

        .header .navbar-nav .btn-primary, .header .navbar-nav .btn-primary:active {
            display: block;
        }

        #submenu .btn {
            font-size: 0.9rem
        }
    }

/*    Credit Card Form*/

#overlay {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    border-radius:20px;
}
.form-label{ margin-bottom:0 !important; margin-top: 1rem}

#selectCC #depositAmount {
    background-color: #7209B7;
    border: none;
    color:#FFF !important;
    text-align:center;
    
}

    #selectCC #depositAmount[type="text"] {
        font-size: 20px !important;
    }

#selectCC th {
    color: #B5179E;
    text-align:center;
    font-weight:normal
}

#selectCC tr{
    border-radius:20px;
}
#selectCC td {
    vertical-align: middle;
    color: #adadad;
}

    #selectCC td a {
        background-color: #4895EF;
        padding:10px;
        color:#fff;
        border-radius:20px;
        font-weight:normal;
    }

        #selectCC td a:hover {
            background-color: #376fb1;
        }

        #selectCC #cvv {
            border-radius: 20px;
            padding: 10px;
            text-align: center;
            border: solid 2px #B5179E;
            color: #adadad;
            width:40%;
            margin:auto;
            display:block;
        }

.htmlLink {
    background-color: #B5179E;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
    .htmlLink a, .htmlLink i{
        color:#FFF;
    }

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #0c2e8a;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

        .mobile-nav-toggle.bi-x {
            color: #fff;
        }

    @media (max-width: 991px) {
        .mobile-nav-toggle {
            display: block;
        }
    }

    .navbar-mobile {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(8, 30, 91, 0.9);
        transition: 0.3s;
        z-index: 999;
    }

        .navbar-mobile .mobile-nav-toggle {
            position: absolute;
            top: 15px;
            right: 15px;
        }

        .navbar-mobile ul {
            display: block;
            position: absolute;
            top: 55px;
            right: 15px;
            bottom: 15px;
            left: 15px;
            padding: 10px 0;
            background-color: #fff;
            overflow-y: auto;
            transition: 0.3s;
        }

        .navbar-mobile a {
            padding: 10px 20px;
            font-size: 15px;
            color: #0c2e8a;
        }

            .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
                color: #50d8af;
            }

        .navbar-mobile .getstarted {
            margin: 15px;
        }

        .navbar-mobile .dropdown ul {
            position: static;
            display: none;
            margin: 10px 20px;
            padding: 10px 0;
            z-index: 99;
            opacity: 1;
            visibility: visible;
            background: #fff;
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        }

            .navbar-mobile .dropdown ul li {
                min-width: 200px;
            }

            .navbar-mobile .dropdown ul a {
                padding: 10px 20px;
            }

                .navbar-mobile .dropdown ul a i {
                    font-size: 12px;
                }

                .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
                    color: #50d8af;
                }

        .navbar-mobile .dropdown > .dropdown-active {
            display: block;
        }

    .navbar-light .navbar-toggler {
        color: #FFF;
        border-color: transparent;
        border-radius: 30px;
        background-color: #7209B7;
        width: 100%;
    }

    .navbar-nav {
        flex-direction: inherit;
    }

    /* Para 480px */
    @media only screen and (max-width: 500px) and (min-width: 421px) {
        .navbar a {
            font-size: 16px;
        }

        .navbar ul {
            display: flex;
            justify-content: center;
        }
    }

    /* Para 320px */
    @media only screen and (max-width: 420px) and (min-width: 5px) {
        .navbar a {
            font-size: 13px;
        }

        .navbar ul {
            display: flex;
            justify-content: center;
        }
    }

    @media only screen and (max-width: 980px) and (min-width: 5px) {
        .registerMarquee {
            text-align: center;
            padding: 20px;
            font-size: 1rem !important;
        }

        .latestWinnersContent {
            text-align: center;
        }

            .latestWinnersContent img {
                display: block;
                margin: auto;
            }

        #welcomeBtn {
            top: 0 !important;
        }

        #schedule img {
            margin: 15px auto;
            display: block;
        }

        .gamesBox {
            width: 100% !important;
        }
    }
    /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

    #hero {
        width: 100%;
        height: 60vh;
        position: relative;
        background: url("../img/hero-carousel/1.jpg") no-repeat;
        background-size: cover;
        padding: 0;
    }

        #hero .hero-content {
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }

            #hero .hero-content h2 {
                color: #0c2e8a;
                margin-bottom: 30px;
                font-size: 64px;
                font-weight: 700;
            }

                #hero .hero-content h2 span {
                    color: #50d8af;
                    text-decoration: underline;
                }

    @media (max-width: 767px) {
        #hero .hero-content h2 {
            font-size: 34px;
        }
    }

    #hero .hero-content .btn-get-started, #hero .hero-content .btn-projects {
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 32px;
        border-radius: 2px;
        transition: 0.5s;
        margin: 10px;
        color: #fff;
    }

    #hero .hero-content .btn-get-started {
        background: #0c2e8a;
        border: 2px solid #0c2e8a;
    }

        #hero .hero-content .btn-get-started:hover {
            background: none;
            color: #0c2e8a;
        }

    #hero .hero-content .btn-projects {
        background: #50d8af;
        border: 2px solid #50d8af;
    }

        #hero .hero-content .btn-projects:hover {
            background: none;
            color: #50d8af;
        }

    #hero .hero-slider {
        z-index: 8;
        height: 60vh;
    }

        #hero .hero-slider::before {
            content: '';
            background-color: rgba(255, 255, 255, 0.7);
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 7;
        }

        #hero .hero-slider .swiper-slide {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition-property: opacity;
        }


    /*--------------------------------------------------------------
# Container
--------------------------------------------------------------*/
    .container {
        max-width: 1200px;
    }
    /*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
    section {
        padding: 0px 0;
        overflow: hidden;
    }

    .sectionsTitle {
        background: rgb(181,23,158);
        background: linear-gradient(180deg, rgba(181,23,158,1) 38%, rgba(68,109,223,1) 100%);
        border-radius: 20px;
        text-align: center;
        padding: 25px;
        color: #FFF;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        margin-top: 20px;
    }
    /* Sections Header
--------------------------------*/
    .section-header {
        margin-bottom: 30px;
    }

        .section-header h2 {
            font-size: 32px;
            color: #0c2e8a;
            text-transform: uppercase;
            font-weight: 700;
            position: relative;
            padding-bottom: 20px;
        }

            .section-header h2::before {
                content: '';
                position: absolute;
                display: block;
                width: 50px;
                height: 3px;
                background: #50d8af;
                bottom: 0;
                left: 0;
            }

        .section-header p {
            padding: 0;
            margin: 0;
        }
    /*--------------------------------------------------------------
# Register Marquee
--------------------------------------------------------------*/
    .registerMarquee {
        font-size: 25px;
        color: #7209B7;
        font-weight: 600;
        text-transform: uppercase;
    }

        .registerMarquee a {
            color: #7209B7;
        }

        .registerMarquee span {
            background: #4895EF;
            color: #FFF;
            padding: 10px;
            border-radius: 20px;
            margin: 0 5px;
        }

        .registerMarquee strong {
            color: #B5179E;
            margin: 0 5px;
        }

    /*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/
    .visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        clip: rect(0,0,0,0) !important;
        white-space: nowrap !important;
        border: 0 !important;
    }

    .carousel-control-next, .carousel-control-prev {
        background: #7209B7;
        transform: translateY(-50%);
        top: 50%;
        width: 90px;
        height: 290px;
    }

    /* 980px */
    @media only screen and (max-width: 980px) and (min-width: 5px) {
        .carousel-control-next, .carousel-control-prev {
            width: 40px;
            height: 90px;
        }

        .logo {
            display: block;
        }

        .topbar .not-member {
            float: none;
        }

        .register p {
            margin: 0;
            text-align: center;
            margin-top: 15px;
        }

        .register .btn {
            display: block;
            margin: auto auto 20px;
            font-size: 20px;
            width: 70%;
        }
    }
    /*--------------------------------------------------------------
# Shared
--------------------------------------------------------------*/
    .bingoTitles {
        background: #B5179E;
        margin: 15px 0;
    }

    .gradient-bg {
        background: #b5179e; /* Old browsers */
        background: -moz-linear-gradient(top, #b5179e 1%, #7209b7 30%, #3f37c9 70%, #4895ef 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #b5179e 1%,#7209b7 30%,#3f37c9 70%,#4895ef 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to top, #b5179e 1%,#7209b7 30%,#3f37c9 70%,#4895ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5179e', endColorstr='#4895ef',GradientType=0 ); /* IE6-9 */
    }

    .rounded-top {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .rounded-bot {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .rounded-bg {
        border-radius: 20px;
    }

    .rounded-mix {
        border-top-left-radius: 73px;
        border-bottom-right-radius: 73px;
    }

    .btn-purple {
        background-color: #7209B7;
        padding: 10px;
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
        width: 100%;
    }

        .btn-purple:hover {
            opacity: 0.8;
            background-color: #4794EF;
            transition: 0.2s;
        }

    .btn-primary {
        background-color: #7209B7;
        border: 0;
    }

    .btn-secondary {
        background-color: #4895EF;
        color: #FFF;
    }

    .gradient-bg-titles {
        background: rgb(181,23,158);
        background: linear-gradient(180deg, rgba(181,23,158,1) 35%, rgba(68,109,223,1) 100%);
        min-height: 175px;
        border-radius: 20px;
    }
    /*--------------------------------------------------------------
# Text Formats
--------------------------------------------------------------*/
    .text-primary {
        color: #7209B7 !important;
    }

    .text-secondary {
        color: #B5179E !important;
    }

    .text-bolder {
        font-weight: 700;
    }

    .text-bold {
        font-weight: 600;
    }

    .text-warning {
        color: #7209B7 !important;
    }

    .text-yellow {
        color: #FFBA00;
    }

    .text-brown {
        color: #702F09;
    }

    .planetary-bg {
        background-color: #E8E8E8;
        background-image: url("/images/planetaryBg.png");
        background-size: cover;
    }


    .whiteBoxContent li {
        list-style: none;
    }

        .whiteBoxContent li::before {
            content: '';
            display: inline-block;
            height: 15px;
            width: 16px;
            margin-right: 15px;
            background-image: url(/images/bullet.png);
            background-size: contain;
            background-repeat: no-repeat;
        }

.whiteBoxContent {
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    border-radius: 20px;
    margin: 10px 0;
    height: 100%;
}

        .whiteBoxContent h2 {
            color: #ab0192;
            margin: 0;
        }

    .whiteBoxContentFull {
        background-color: rgba(255,255,255,1);
        padding: 20px;
        border-radius: 20px;
        margin: 40px 0;
    }

    .row-flex {
        display: flex;
        flex-wrap: wrap;

    }

    .row-flex [class*="col-"] {
        margin-bottom: 30px !important;
    }

    .alert-primary {
        color: #7209B7;
        background-color: #E7D8F0;
        border-color: #7209B7;
    }
    /*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
    .shoupe {
        position: relative;
        left: 300px;
        width: 100%;
        max-width: 150px;
        height: auto;
        top: 90px;
    }

    .purple-btn {
        font-weight: bolder !important;
        padding: 20px 40px;
        border-radius: 20px;
    }
    /*--------------------------------------------------------------
# Full Content
--------------------------------------------------------------*/
.whiteBoxContent h3 {
    text-align: center;
    color: #7209B7;
    text-transform: uppercase;
    font-weight: 600;
}

.tab-pane h3 {
    color: #7209B7;
    text-transform: uppercase;
    font-weight: 600;
}

    .whiteBoxContent p {
        text-align: justify;
    }

    .gamesBox {
        background-color: rgba(255,255,255,0.5);
        padding: 20px;
        border-radius: 20px;
        margin: 10px 0;
        border: solid 4px #ab0192;
        text-align: justify;
        width: calc(33.33333333% - 20px);
        margin: 10px;
    }

        .gamesBox h3 {
            color: #504ec9;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }

    .gamesBoxBig {
        background-color: rgba(255,255,255,0.5);
        padding: 20px;
        border-radius: 20px;
        margin: 10px 0;
        border: solid 4px #ab0192;
        text-align: justify;
    }

        .gamesBoxBig h3 {
            color: #504ec9;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }

        .gamesBoxBig h4 {
            color: #6700ac;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }
.purpleBox {
    background-color: #7200b4;
    border-radius:20px;
    padding:10px;
    text-align:center;
    color:#FFF;
    font-size:22px;
    text-transform:uppercase;
}
    .purpleBox input {
        color: #7200b4;
        text-align: center;
        background: #FFF;
        border-radius: 20px;
        width: 50%;
        margin: auto;
        display: block;
    }
    /*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
    .modal-title {
        text-align: center;
        color: #7209B7;
        text-transform: uppercase;
        font-weight: 600;
    }

    .login .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: rgba(0,0,0,0.6) !important;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
    }

    .login .modal-header {
        border-bottom: none !important;
    }

    .login .modal-header {
        justify-content: end;
    }

    .login input {
        border-radius: 20px !important;
    }

    .modal-body h3 {
        color: #B5179E;
        text-transform: uppercase;
        text-align: center
    }

    .close {
        background: none !important;
        border: none !important
    }

        .close i {
            color: #FFF;
        }
    /*--------------------------------------------------------------
# User Profile
--------------------------------------------------------------*/
    .form-control:disabled {
        background-color: transparent;
        border: none;
        margin-top: -30px;
    }
    /*--------------------------------------------------------------
# Accordions
--------------------------------------------------------------*/
    .accordion-item {
        background-color: transparent;
        border: 1px solid rgba(0,0,0,.125);
    }

    .accordion-button {
        background-color: transparent;
    }

        .accordion-button:not(.collapsed) {
            color: #ab0192;
            background-color: transparent;
            font-weight: 600;
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
        }

    .accordion-flush .accordion-item .accordion-button {
        font-weight: 600;
        text-transform: uppercase;
    }

    /*--------------------------------------------------------------
# Moderators
--------------------------------------------------------------*/
    #chatModerators .bg-white {
        padding: 20px;
    }

    .box {
        min-height: 500px !important;
    }

    #chatModerators h5 {
        color: #4d51cd;
        text-align: center;
        font-weight: 600;
    }

    #chatModerators p {
        font-size: 0.9rem;
    }

    q:before {
        color: #4d51cd;
        font-size: 55px;
        position: absolute;
        margin-top: -20px;
        margin-left: -25px;
    }

    q:after {
        color: #4d51cd;
        font-size: 55px;
        position: absolute;
        margin-top: -15px;
        margin-left: 5px;
    }

    .img-thumbnail {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 50%;
        height: auto;
    }

    @media screen and (min-width: 1024px) {
        #chatModerators .bg-white {
            /*/height:490px;**/
        }
    }
    /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
    footer {
        font-size: 18px;
        padding: 0 0 0 0;
        font-size: 14px;
    }

        footer .footer-promos {
            background-color: #7209B7;
            padding: 20px;
            border-radius: 20px;
        }

        footer .fsocial {
            background-color: #7209B7;
            min-height: 180px;
        }

        footer .flinks {
            background: #b5179e; /* Old browsers */
            background: -moz-linear-gradient(top, #b5179e 1%, #7209b7 30%, #3f37c9 70%, #4895ef 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #b5179e 1%,#7209b7 30%,#3f37c9 70%,#4895ef 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #b5179e 1%,#7209b7 30%,#3f37c9 70%,#4895ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5179e', endColorstr='#4895ef',GradientType=0 ); /* IE6-9 */
        }

            footer .flinks .floatingSS {
                width: 100%;
                max-width: 220px;
                height: auto;
                position: absolute;
                right: 0;
            }

            footer .flinks h6 {
                color: #DCA718;
            }

            footer .flinks ul {
                margin-top: -20px;
                margin-left: -30px;
                list-style: none !important;
            }

            footer .flinks li a {
                color: white !important;
            }

        footer .copyright {
            background-color: #8A26D6;
            text-align: center;
            padding-top: 30px;
            color: white;
        }

    #footer .credits {
        text-align: center;
        font-size: 13px;
        color: #555;
    }

        #footer .credits a {
            color: #0c2e8a;
        }

    /*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
    #testimonials .card {
        width: 100%;
        height: 300px;
        transform-style: preserve-3d;
        perspective: 500px;
        border: none;
        background-color: inherit;
        margin-bottom: 30px;
    }

    .card .face {
        position: absolute;
        color: #7209B7;
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        background: rgba(255,255,255,0.06);
        backface-visibility: hidden;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        -webkit-transform-style: preserve-3d;
        -webkit-transition: -webkit-transform 0.5s;
        -o-transform-style: preserve-3d;
        -o-transition: -o-transform 0.5s;
        -moz-transform-style: preserve-3d;
        -moz-transition: -moz-transform 0.5s;
    }

        .card .face.front-face,
        .card .face.back-face {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: 0.6s;
            transition: 0.6s;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            position: absolute;
            top: 0;
            left: 0;
        }

            .card .face.front-face .profile {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover
            }

            .card .face.front-face .name {
                letter-spacing: 2px
            }

            .card .face.front-face .designation {
                font-size: 0.8rem;
                color: #ddd;
                letter-spacing: 0.8px
            }

    .card:hover .face.front-face {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .card .face.back-face {
        position: absolute;
        background: rgba(255, 255, 255, 0.06);
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        padding: 20px 30px;
        text-align: center;
        user-select: none
    }

        .card .face.back-face .fa-quote-left {
            position: absolute;
            top: 25px;
            left: 25px;
            font-size: 1.2rem
        }

        .card .face.back-face .fa-quote-right {
            position: absolute;
            bottom: 35px;
            right: 25px;
            font-size: 1.2rem
        }

    .card:hover .face.back-face {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
    }

    /*--------------------------------------------------------------
# Rooms Schedule
--------------------------------------------------------------*/
    #schedule img {
        width: 100%;
        max-width: 200px;
        height: auto;
        margin-bottom: 15px;
    }

    #schedule h4 {
        color: #ab0192;
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0;
    }

    #schedule p {
        margin-bottom: 0;
        text-align: center;
        font-size: 12px;
    }

    /*--------------------------------------------------------------
# Latest Winners
--------------------------------------------------------------*/

    #latestWinners h3 {
        background-color: #bc29a3;
        color: #FFF;
        padding: 10px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .latestWinnersContent {
        padding: 20px;
        font-size: 14px;
        min-height: 330px
    }

        .latestWinnersContent h5 {
            color: #1D0332;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 0px;
        }

        .latestWinnersContent .prize {
            color: #FFF;
            background-color: #B5179E;
            padding: 10px;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
        }

    /*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/

    .banner {
        background: #a770ef;
        background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
        background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    }

    /*--------------------------------------------------------------
# Home BingoRooms
--------------------------------------------------------------*/

    .lobby .bingoRooms .bingoRoomBody {
        height: 520px !important;
    }

    .bingoRooms .bingoRoomBody {
        background-color: #3F37C9;
        padding-bottom: 10px;
        margin-bottom: 20px;
        min-height: 100px;
    }

    .bingoRooms .diver {
        background-color: #DCA718;
        height: 15px;
    }

    .bingoRoomBody h4 {
        color: #FFF;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        font-size: 20px;
        margin: 30px 0;
    }

    .bingoRoomBody h5 {
        color: #DCA718;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        margin: -20px 0px 0px 0px;
    }

    .bingoRoomBody p {
        color: #FFF;
        font-size: 16px;
        text-align: center;
    }

    .bingoRoomBtn {
        border: none;
        border-radius: 30px;
        padding: 5px 30px;
        display: block;
        margin: 15px auto;
        width: 100%;
        max-width: 250px;
    }

    .btn-secondary:hover {
        background-color: #B5179E !important;
    }
    /*--------------------------------------------------------------
# Slots
--------------------------------------------------------------*/
    #slots h4, #videoPoker h4 {
        color: #ab0192;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 18px;
    }

    #slots [class^="col-"], #videoPoker [class^="col-"] {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    #slotsHP [class^="col-"] {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    #slotsHP h4 {
        color: #FFF;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 18px;
    }

    #slotsHP .btn {
        background-color: #FFF !important;
        color: #6700ac !important;
    }


    /*--------------------------------------------------------------
# Games Lobby
--------------------------------------------------------------*/
    .lobbyMarquee #main {
        background: none !important;
        border: none !important;
    }

    .lobbyMarquee .para {
        color: #7209B7;
    }

    .lobbyMarquee p {
        margin-bottom: 0 !important;
    }

    .lobbyMarquee {
        background: #FFF;
        border: 10px solid #7209B7;
        border-radius: 30px;
        margin-top: 15px;
        padding: 15px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    ul {
        margin-bottom: 0;
    }

    iframe {
        min-height: 800px;
    }

    @media only screen and (max-width: 600px) {
        .plMenuTop ul {
            width: calc(100% - 25px) !important;
            padding-left: 0;
        }

        .plMenuTop li {
            padding: 20px !important;
        }

            .plMenuTop li a {
                font-size: 0.8rem;
                display: flex;
            }

                .plMenuTop li a div {
                    display: block;
                    margin: auto;
                }

        .iconBingo, .iconSlots, .iconVP {
            background-size: contain;
            background-repeat: no-repeat;
            width: 100% !important;
            max-width: 50px !important;
            margin-bottom: 15px !important;
        }
    }

    @media only screen and (max-width: 400px) {

        .plMenuTop li {
            padding: 10px !important;
        }
    }

    .plMenuTop {
        background: rgb(181,23,158);
        background: linear-gradient(180deg, rgba(181,23,158,1) 38%, rgba(68,109,223,1) 100%);
        border-radius: 20px;
        text-align: center;
        padding: 25px;
        color: #FFF;
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 100%;
    }

        .plMenuTop ul {
            width: 100%;
        }

        .plMenuTop li {
            display: inline-block;
            padding: 30px;
            font-weight: 500;
        }

            .plMenuTop li:hover {
                background-color: #FFBA21;
                border-radius: 20px;
                color: #702F09;
            }

            .plMenuTop li a {
                color: #FFF;
            }

                .plMenuTop li a:hover {
                    color: #702F09;
                }

    .bingoLobby.active, .slotsLobby.active, .vpLobby.active {
        background-color: #FFBA21;
        border-radius: 20px;
    }

    .plMenuTop .bingoLobby.active > a {
        color: #702F09;
    }

    .plMenuTop .bingoLobby.active .iconBingo {
        background-image: url(/images/lobby/bingoIcon-hover.png);
    }

    .plMenuTop .slotsLobby.active > a {
        color: #702F09;
    }

    .plMenuTop .slotsLobby.active .iconSlots {
        background-image: url(/images/lobby/slotsIcon-hover.png);
    }

    .plMenuTop .vpLobby.active > a {
        color: #702F09;
    }

    .plMenuTop .vpLobby.active .iconVP {
        background-image: url(/images/lobby/vpIcon-hover.png);
    }

    .iconBingo {
        background-image: url(/images/lobby/bingoIcon.png);
        width: 100%;
        max-width: 65px;
        height: 65px;
        margin-bottom: 25px;
    }

    .bingoLobby:hover .iconBingo {
        background-image: url(/images/lobby/bingoIcon-hover.png);
    }

    .iconSlots {
        background-image: url(/images/lobby/slotsIcon.png);
        width: 100%;
        max-width: 65px;
        height: 65px;
        margin-bottom: 25px;
    }

    .slotsLobby:hover .iconSlots {
        background-image: url(/images/lobby/slotsIcon-hover.png);
    }

    .iconVP {
        background-image: url(/images/lobby/vpIcon.png);
        margin: auto;
        display: block;
        width: 100%;
        max-width: 65px;
        height: 65px;
        margin-bottom: 25px;
    }

    .vpLobby:hover .iconVP {
        background-image: url(/images/lobby/vpIcon-hover.png);
    }
/*--------------------------------------------------------------
# Games Lobby
--------------------------------------------------------------*/
.promotions h3{
    font-size:18px !important;
}

.promoCopy{
    min-height
}