<table width="624" border="0" align="center" cellpadding="0" cellspacing="0" style="background:url(https://res.cloudinary.com/bngvg/image/upload/v1614569439/bg2_ylsg9a.gif)">
<tbody>
<tr>
<td colspan="2" align="left"><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569440/top1_pqa07s.gif" width="624" height="15" alt=""></td>
</tr>
<tr>

<td colspan="2" align="center" valign="top">
<table width="592" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569617/line1_owkgmt.png" width="592" height="8" alt=""></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614563103/titles_pgvczc.png" width="592" height="95" alt="" style="
height: auto;margin: 10px auto;width: 92%;display: block;"></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line2_rut0ux.png" width="592" height="5" alt=""></td>
</tr>
<tr>
<td align="center">
<table width="592" border="0" cellspacing="0" cellpadding="4" style="background-color:#444;">
<tbody>
<tr>
<td width="180" align="left" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; "><a target="_blank" href="https://www.bingovega.com" style="color:#fff;text-decoration:none;" rel="noopener noreferrer">www.bingovega.com</a></td>
<td width="188" align="center" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff;"></td>
<td width="180" align="right" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; ">April 1, 2021</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line2_rut0ux.png" width="592" height="5" alt=""></td>
</tr>
</tbody>
</table>
<table width="585" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="180" align="left" valign="top"><!-- In This Issue--><p></p>
<table width="128" border="0" cellspacing="0" cellpadding="5" style="border:1px solid #222; margin-top:10px; background-color:#f9f9f9;">
<tbody>
<tr>
<td align="center" valign="top">
<p></p><table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
                    <!-- 

<tr>
                              

<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">In this Issue</td>


                            </tr>


                            

<tr>
                              

<td style="background-color:#222; height:1px;"></td>


                            </tr>

-->
<tr>
<td style="height:8px;"></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td style="font-size: 15px;font-family: 'Times New Roman', Times, serif;color: #222;line-height: 16px; font-weight: bold;">PROMOTIONS</td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 7px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Ruler of the Galaxy</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#ruler" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617065627/rulers-icon_uxinvr.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td align="center" style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px"> Our April Ruler of the Galaxy is<br><strong>FreakingFortunate!!!</strong><br>Congratulations!! <p></p>
<p>In addition to all her goodies, be sure to watch for her special pattern because when she bingos on her pattern, the roomies win!!</p></td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#ruler" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 7px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Vega has gone to the Oscars</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#oscars" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617065627/oscars-ic_h0cpbs.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">We are rolling out the Red Carpet in the Milky Way room</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#oscars" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 7px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Easter Egg Hunt</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#egghunt" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617065627/eastereggs-ic_skc9zf.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">Grab your Easter Basket and start Hunting eggs</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#egghunt" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 7px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Spring Time Saturday Night Races</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#saturday" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617065627/spring-ic_ok4spo.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">Spring Time Team Races every Saturday Night.</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#saturday" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 7px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Calling All VIPs</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#vips" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617065627/vips-ic_yqgxpg.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">We want to say THANK YOU to all our VIP’s</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#vips" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 7px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Multi Weekend Casino Tourney</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#multiweekend" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617065628/multiweekend-ic_vfxjoh.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">Celebrate Spring in our new Casino!!!</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#multiweekend" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 7px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">April Showers Tuesday Tourney </td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#showers" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617065628/april-showers-ic_pdwfaf.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">Score some big droplets of CASH in our Tuesday night tourney</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#showers" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td align="center" valign="top" style="width: 275px;"><!-- Big Headline--><p></p>
<p></p><table width="" border="0" cellspacing="0" cellpadding="0" style="
    width: 285px;
">
<tbody>
<tr>
<td style="font-size: 27px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;display: block;margin-bottom: 12px;margin-top: 20px; text-align: center;">Welcome to Springtime at BVega!!!!</td>
</tr>
<tr>
<td style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.3em; text-align: justify;padding: 30px 10px;">
                Hello Bingo Vega players, old and new! First of all, everyone at Bingo Vega would like to say THANK YOU for all your efforts and doing your part to keep safe over this past year. The pandemic has tested everyone’s strength and mental well being over the past year. This April we celebrate Easter which is a symbol to many of new life. We should all continue to be safe and celebrate life at this time in our lives.<p></p>
<p>                April brings us all renewed energy. It is a time of new beginnings. At BVega, we have been going through some changes and are all experiencing some renewed energy. We are working to bring you a better player experience with the new platform.  We are also in the process of bringing you a new website layout!! We would love to hear any suggestions you may have about the redesign. Just email all suggestions to <a target="_blank" href="mailto:juno@bingovega.com" rel="noopener noreferrer">juno@bingovega.com</a> to take into consideration with the redesign.</p>
<p>                In April we are excited to bring some new promotions and the return of TEAM RACES on Saturday Nights!!. We will have an Easter Egg Hunt on Easter Sunday and, a Casino Tourney every weekend!!</p>
<p> Have you checked out those slots? Remember, you can use cash and BB to spin and win!!!! All month long you will also have the chance to enter the Oscars Promotion. Check out the promotions in April. There are many!!</p>
<p>                We are all looking forward to the springtime. Let’s all celebrate new life. Take time to smell the flowers in full bloom and enjoy the return of the green grass and trees.</p>
<p> Have a great month of April and we all look forward to seeing you in the games!</p>
<p>                ~~The BVega Team~~ </p></td>
</tr>
</tbody>
</table>
<p>        <!-- Second Headline--></p>
<p></p><table width="" border="0" cellspacing="0" cellpadding="0" style="
    width: 285px;
">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line3_h21jen.png" width="285" height="5" alt=""></td>
</tr>
<tr>
<td style="font-size: 30px;margin-bottom: 0px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;margin: 40px 0 25px;display: block; text-align: center;">Player Testimonials</td>
</tr>
<tr>
<td align="left" style="margin-top: 15px;font-size:15px;font-family: 'Times New Roman', Times, serif;color: #222;display: block;padding: 0px 10px 20px 10px">In February, 2 of our players were quite pleased with their promotional wins and gifts. <p></p>
<p>                <strong>Inkybiker907 took 1st place in our Monthly slot tournament and won herself a BRAND NEW LAPTOP!!! Here is what she had to say!!</strong></p></td>
</tr>
<tr>
<td align="left" valign="top">
<table width="99%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 0px 10px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
<tbody>
<tr>
<td style="text-align: center;"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617072246/inkybiker907_v7pcyx.jpg" alt="Player" style="margin:5px 0; height: 95px; width: 100px; padding: 10px 10px 10px 0px"><strong>inkybiker907</strong></td>
<td>
<p style="font-size: 12px; font-family: 'Times New Roman';">“I love playing at Bingo vega !!!!!   I have been lucky enough to win a necklace, earrings and now a laptop.  I enjoy the friendly cm’s who are very helpful and the other players who become friends. This is proof you can win BIG here.<br>
                                  Thank you”</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="left" style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 25px 10px;"><span style="display: block; margin-bottom: 20px"><strong>Another happy player, juslookn313 took home a brand new Tablet so now she can play bingo “on the go”.</strong></span><p></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
<tbody>
<tr>
<td style="text-align: center;"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617072246/juslookn313_dn1x6w.jpg" alt="Player" style="margin:5px 0 ; height: 95px; width: 100px; padding: 10px 10px 10px 0px"><strong>juslookn313</strong></td>
<td>
<p style="font-size: 12px; font-family: 'Times New Roman';">“I love playing games here at bingovega everyone here is very courteous and chatting with the players and the host while playing is everything thanx bingovega for my new tablet 😘”</p>
</td>
</tr>
</tbody>
</table>
<table>
<tbody><tr>
<td style="margin-top: 15px; display: block">
<hr>
<p style="font-size: 20px; line-height: 1.3em; font-family: 'Times New Roman'; font-weight: bold; text-align: center; margin-top: 30px ">Congratulations to both of our February promotion winners.</p>
<hr>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td width="180" align="left" valign="top"><!-- In This Issue--><p></p>
<table width="128" border="0" cellspacing="0" cellpadding="5" style="border:1px solid #222; margin-top:10px; background-color:#f9f9f9;">
<tbody>
<tr>
<td align="center" valign="top">
<table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">Look who is turning a year wiser in April!! </td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td style="height:8px;"></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>Nada14</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>Appleaz</strong></td>
</tr><tr> </tr>
<tr><td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>Fellspore</strong></td>
</tr><tr> </tr>
<tr><td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>DyngoDawg</strong></td>
</tr><tr> </tr>
<tr><td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>NYwoman@Abb</strong></td>
</tr><tr> </tr>
<tr><td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>Neecee24</strong></td>
</tr><tr> </tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>Twistedpixi</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>ShakeEmUpShoupe</strong></td>
</tr>

</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 7px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">Hot Games</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://bingovega.com/paas/bva/listslots.action" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617119012/serenity_stkocz.png" width="128" alt="Game" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px; padding: 5px;"><span style="font-size: 15px;"><strong>Fruit Serenity</strong></span><br>
                    In March it appears the hottest Slot Game was none other than Fruit Serenity.  Ask catnip1951 because she sure hit it hard this month! </td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://bingovega.com/paas/bva/listslots.action" rel="noopener noreferrer">Play Now</a></td>
</tr>
</tbody>
</table>
<p>                <!-- 

<tr>
                             

<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="#" rel="noopener noreferrer">Loyalty Here </a></td>

 
                            </tr>

--></p><table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">&nbsp;</td>
</tr>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">Loyalty</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px; padding: 5px">We are working on a new Loyalty Program for our Bingo Vega loyal players!! Keep checking the Loyalty page for updates!! We should have it completed before the end of March </td>
</tr>

<tr>
<td align="right">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-top: 30px">&nbsp;</td>
</tr>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; text-align: center">Ongoing Promotions</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td>
<ul style=" padding: 0 0 0 15px; font-size: 13px;">
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#four-pack" rel="noopener noreferrer">Four Pack Sunday Tourney</a></li>
<p></p>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#monday-depositor" rel="noopener noreferrer">Monday Night Depositors Tourney</a></li>
<p></p>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#palloza" rel="noopener noreferrer">Hot Ball Palooza</a></li>
<p></p>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#appreciation" rel="noopener noreferrer">We Couldn’t do it Without You</a></li>
</ul>
</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/" rel="noopener noreferrer">More Info</a></td>
</tr>
<tr>
<td align="center" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 30px 3px  18px;">
<hr>
<p><span style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Big Bingo winners </span></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
<tbody>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1617072246/doydoy_wdmfu6.jpg" alt="Player" style="margin:5px 0; height: 95px; width: 100px; padding: 10px 10px 0px 0px"><p></p>
<p style="font-size: 13px; font-family: 'Times New Roman';  margin-top: 0px">I played at bingoVega.com and win big</p>
<p>                                  <strong>~Doydoy</strong></p>
</td>
</tr>
</tbody>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
<tbody>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1617073014/elilev1_goksbp.jpg" alt="Player" style="margin:5px 0; height: 85px; width: 100px; padding: 10px 10px 0px 0px"><p></p>
<p style="font-size: 13px; font-family: 'Times New Roman';  margin-top: 0px">There is no better way to relax and have fun than at BINGOVEGA. The CM’s are fantastic, caring people as is the entire staff.</p>
<p>                                 <strong>~elilev1</strong></p>
</td>
</tr>
</tbody>
</table>
<hr>
</td>
</tr>
<tr>
<td align="left" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 0 10px;"><span style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Big Slot winners </span><p></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
<tbody><tr>
<td>
<p style="font-size: 13px; font-family: 'Times New Roman';"><strong>Justalittlebit67</strong> has won over 100K this month with the biggest hits coming from the Sands of Egypt Slot Game on mobile!</p>
<p>                                <strong>tootie2too_XOX</strong> has accumulated over 36K in March!!  Lucky Clovers boosted tootie2too_XOX over 24K!</p>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p>    <!-- Footer--></p>
<table width="592" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td align="center" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"> Please contact us if you forgot your password. We also love answering questions, big or small, so contact us 24/7 by email or toll-free at 1-888-330-9625.</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2" align="left"><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/bottom_wlogdh.gif" width="624" height="25" alt=""></td>
</tr>
</tbody>
</table>