<table width="624" border="0" align="center" cellpadding="0" cellspacing="0" style="background:url(https://res.cloudinary.com/bngvg/image/upload/v1614569439/bg2_ylsg9a.gif)">
<tbody>
<tr>
<td colspan="2" align="left"><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569440/top1_pqa07s.gif" width="624" height="15" alt=""></td>
</tr>
<tr>

<td colspan="2" align="center" valign="top">
<table width="592" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569617/line1_owkgmt.png" width="592" height="8" alt="bingo"></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614563103/titles_pgvczc.png" width="592" height="95" alt="" style="
height: auto;margin: 10px auto;width: 92%;display: block;"></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line2_rut0ux.png" width="592" height="5" alt=""></td>
</tr>
<tr>
<td align="center">
<table width="592" border="0" cellspacing="0" cellpadding="4" style="background-color:#444;">
<tbody>
<tr>
<td width="180" align="left" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; "><a target="_blank" href="https://www.bingovega.com" style="color:#fff;text-decoration:none;" rel="noopener noreferrer">www.bingovega.com</a></td>
<td width="188" align="center" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff;"></td>
<td width="180" align="right" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; ">August 1, 2021</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line2_rut0ux.png" width="592" height="5" alt=""></td>
</tr>
</tbody>
</table>
<table width="585" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="180" align="left" valign="top"><!-- In This Issue--><p></p>
<table width="128" border="0" cellspacing="0" cellpadding="5" style="border:1px solid #222; margin-top:10px; background-color:#f9f9f9;">
<tbody>
<tr>
<td align="center" valign="top">
<p></p><table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
                        <!-- 

<tr>
                              

<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">In this Issue</td>


                            </tr>


                            

<tr>
                              

<td style="background-color:#222; height:1px;"></td>


                            </tr>

-->
<tr>
<td style="height:8px;"></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td style="font-size: 15px;font-family: 'Times New Roman', Times, serif;color: #222;line-height: 16px; font-weight: bold;">PROMOTIONS</td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 27px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Vacation in Las Vegas</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/vegas-promotion/" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1622174112/vegas-icon_v77cvu.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">We are going to celebrate the Summer holidays with a summer long promotion</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/vegas-promotion/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Back to Schooll&nbsp;</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/back-to-school/" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1627747573/backtoicon_dwkojc.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">For the month of August, you can play to WIN your favorite student a backpack full of school supplies</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/back-to-school/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;"> Spin to Win</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/spin-to-win/" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1627747874/spintoicon_b9t36t.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">Join us in August in the Nucleus Casino for your chance to win HUGE jackpots and HUGE prizes!!! </td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/spin-to-win/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Mission Wednesdays</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#wednesdays" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1627748201/mobilots-icon_srmpum.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">Don’t miss the Mobilots Mission Wednesdays!!!</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#wednesdays" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Calling All VIPs</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#vips" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1627748579/vips1_pe22ti.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">We want to say THANK YOU to all our VIP’s</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#vips" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 27px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Ruler of the Galaxy</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#ruler" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617065627/rulers-icon_uxinvr.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td align="center" style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px"> Our July Ruler of the Galaxy is<br>
                            <strong>SAJARO!!!</strong><br>
                            Congratulations!! <p></p>
<p>                            In addition to all her goodies, be sure to watch for her special pattern because when she bingos on her pattern, the roomies win!!</p></td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#ruler" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td align="center" valign="top" style="width: 275px;"><!-- Big Headline--><p></p>
<p></p><table width="" border="0" cellspacing="0" cellpadding="0" style="
    width: 285px;
">
<tbody>
<tr>
<td style="font-size: 27px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;display: block;margin-bottom: 12px;margin-top: 20px; text-align: center;">Hello roomies!!!</td>
</tr>
<tr>
<td style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.3em; text-align: justify;padding: 10px 10px;"> <strong>Happy August!!!</strong><p></p>
<p>Dog Days of Summer are upon us!! I cannot believe that the kids are all getting ready to go back to school.  I am not sure how school will be working for all of you but I know where we live, all kids will be attending school this year! My grandkids are so excited.  They really did not like virtual school.  At BVega, we want to try to help out with giving away some school supplies and a new Chromebook for your favorite student!! Check out the Back to School Promotion!!!</p>
<p>August is the final month of the Bingo Vega Vegas Promotion as well!!  Have you been collecting chips?  Last time I checked, we had some good piles building on the blackjack table!!! Be sure to pay attention to the marquee in the bingo lobby daily, check your emails, Facebook and stop into chat to see if there are some chances to add to your chip pile!!! The countdown has begun!! My bags are packed and I am ready to go as your plus 1 </p>
<p>    In August we are also going to continue with the Mobilot Mission Wednesdays.  Be sure to read all about it under the promotions tab!!!  While you are at it, check out the Spin To Win promotion too!! An all CASH promotion!!! We are also adding special events on Tuesdays and Thursdays!!! Check out Tourney Tuesdays and Thirsty Thursdays!! </p>
<p>Have a wonderful and lucrative summer.  Stay COOL!!!</p>
<p>                    ~~The BVega Team~~ </p></td>
</tr>
</tbody>
</table>
<p>            <!-- Second Headline--></p>
<p></p><table width="" border="0" cellspacing="0" cellpadding="0" style="
    width: 285px;
">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line3_h21jen.png" width="285" height="5" alt=""></td>
</tr>
<tr>
<td style="font-size: 27px;margin-bottom: 0px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;margin: 5px 0 5px;display: block; text-align: center;">Hot Games</td>
</tr>
<tr>
<td align="left" style="margin-top: 5px;font-size:14px;font-family: 'Times New Roman', Times, serif;color: #222;display: block;padding: 0px 10px 0px 10px"><strong>JUMPING JACKPOTS!!! </strong><p></p>
<p>A new feature added to our arsenal of games.  With each call, the prize changes!!! It can be as high as $5k and as low as $10!!! These special JJ games play 12-1 PM and 4-5 PM in Milky Way.  Be sure to check them out!!!  </p>
<p><strong>THE FORBIDDEN TOMB SLOT</strong>
</p></td>
</tr>
<tr>
<td align="left" style="margin-top: 15px;font-size:14px;font-family: 'Times New Roman', Times, serif;color: #222;display: block;padding: 0px 10px 20px 10px"><a target="_blank" href="https://bingovega.com/paas/bva/listslots.action" rel="noopener noreferrer"><img alt="egtropicalgs" src="https://res.cloudinary.com/bngvg/image/upload/v1627746926/The_Forbidden_Tomb_Game-Button_2x_verqud.jpg" style="width: 100%;margin: 0 auto -15px;display: block;"></a><p></p>
<p>                   Venture into the deepest, darkest, most ancient pyramid in all of Egypt to discover massive riches in THE FORBIDDEN TOMB! Mystic Compasses guide the way in this video slot, turning to WILDS after 10 spins. Feel your excitement build as the Mystic Compass Device counts down to huge wins!</p>
<p><strong>5 REELS 4 ROW VIDEO SLOT – 75 PAYLINES – WILDS – FREE SPINS</strong>
                    </p></td>
</tr>
<tr>
<td style="font-size: 27px;margin-bottom: 0px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;margin: 5px 0 5px;display: block; text-align: center;">Big Winners</td>
</tr>
<tr>
<td align="left" style="margin-top: 5px;font-size:14px;font-family: 'Times New Roman', Times, serif;color: #222;display: block;padding: 0px 10px 0px 10px"><strong>Congratulations to our Big Winners in July: </strong><p></p>
<p>                   Christmas in July $100 Gift Card Winners – <strong>mominator222, mattyfinns420 and Pooter1</strong></p>
<p><strong>FreakingFortunate</strong> hit for over $500 on Sisters of Luck Slot in July</p>
<p><strong>Aschor1</strong> had some huge hits on Tropical Splash!! </p>
<p><strong>PoohAG1272 and AUNTIEGRANDMA</strong> hit some big wins on Mobilots accumulating over 80K in wins combined!!</p>
<p><strong>Catnip1951 and Elilev1</strong> – $450 4 pack winners</p>
<p>Big Asteroid had some big winners in July too!! <strong>Donna1978 $365, mominator222 $345 and dawnangel $321!!!</strong>
</p></td>
</tr>
</tbody>
</table>
</td>
<td width="180" align="left" valign="top"><!-- In This Issue--><p></p>
<table width="128" border="0" cellspacing="0" cellpadding="5" style="border:1px solid #222; margin-top:10px; background-color:#f9f9f9;">
<tbody>
<tr>
<td align="center" valign="top">
<table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">Look who is turning a year wiser in August!! </td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td style="height:8px;"></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong> CM Lilmuna – Aug.8</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>Juno – Aug.9</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>mirandal – Aug.11</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>Redrum4Cyn – Aug.11</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>chr4282_BVA – Aug.13</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>venusdh – Aug.14</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>Jeannebeanie – Aug.20</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>beardude1 – Aug.21</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>ellen8260 – Aug.26</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>dlloyd30 – Aug 30</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;">
</td>
</tr>
</tbody>
</table>
<p></p></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-top: 0px">&nbsp;</td>
</tr>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; text-align: center">Ongoing Promotions</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td>
<ul style=" padding: 0 0 0 15px; font-size: 13px;">
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#four-pack" rel="noopener noreferrer">Four Pack Sunday Tourney</a></li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#monday-depositor" rel="noopener noreferrer">Monday Night Depositors Tourney</a>  </li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#palloza" rel="noopener noreferrer">Hot Ball Palooza</a> </li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#appreciation" rel="noopener noreferrer">We Couldn’t do it Without You</a></li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#tuesdays" rel="noopener noreferrer"><span style="color: red">NEW!!!!</span> Tourney Tuesdays</a></li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#thursdays" rel="noopener noreferrer"><span style="color: red">NEW!!!!</span>  Thirsty Thursdays</a></li>
</ul>
</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/" rel="noopener noreferrer">More Info</a></td>
</tr>
<tr>
<td align="left" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 0 10px;">
<p><span style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Hello<br>from CM Lynn </span></p>
<p>                      <img src="https://res.cloudinary.com/bngvg/image/upload/v1627749316/lynn_l3ryod.png" style="width:100%;" alt="Lynn"></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
<tbody>
<tr>
<td>
<p style="font-size: 13px; font-family: 'Times New Roman';  margin-top: 10px">Hi Lovely Roomies!</p>
<p> “I am so grateful for each and every one of you guys! I love showing up for work and hearing about all the fun and exciting things you all have going on! It’s my pleasure to be a host at Bingo Vega, as we have the world’s BEST Roomies! </p>
<p> It’s also a joy sharing my life and my kids with you. We live on the lake in North Carolina with two six-year-old twins and my husband. We do have pet chickens, a dog, a cat, and a bird.  I’m a simple country girl who enjoys telling about my virtual friends all over the world. </p>
<p>You are part of my family!  Who could ask for a better job than meeting new, friendly people and playing some BINGO! I hope you all are staying cool and enjoying the summer. I can’t wait to see you in the bingo rooms!””</p>
<p>                              Lynn</p>
<p></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="left" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 0 8px;"><span style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Join our Facebook Community</span><p></p>
<hr>
<p>                      <span>Home to our players with great news, announcements, stories and even some giveaways!!</span> </p>
<p>                     <a href="https://www.facebook.com/groups/bingovegacommunity" target="_blank" rel="noopener noreferrer"><img style="width: 100%" src="https://res.cloudinary.com/bngvg/image/upload/v1627751756/fb_kwil93.png" alt="fb"></a> </p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p>      <!-- Footer--></p>
<table width="592" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td align="center" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"> Please contact us if you forgot your password. We also love answering questions, big or small, so contact us 24/7 by email or toll-free at 1-888-330-9625.</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2" align="left"><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/bottom_wlogdh.gif" width="624" height="25" alt=""></td>
</tr>
</tbody>
</table>