<table width="624" border="0" align="center" cellpadding="0" cellspacing="0" style="background:url(https://res.cloudinary.com/bngvg/image/upload/v1614569439/bg2_ylsg9a.gif)">
<tbody>
<tr>
<td colspan="2" align="left"><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569440/top1_pqa07s.gif" width="624" height="15" alt=""></td>
</tr>
<tr>

<td colspan="2" align="center" valign="top">
<table width="592" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569617/line1_owkgmt.png" width="592" height="8" alt="bingo"></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614563103/titles_pgvczc.png" width="592" height="95" alt="" style="
height: auto;margin: 10px auto;width: 92%;display: block;"></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line2_rut0ux.png" width="592" height="5" alt=""></td>
</tr>
<tr>
<td align="center">
<table width="592" border="0" cellspacing="0" cellpadding="4" style="background-color:#444;">
<tbody>
<tr>
<td width="180" align="left" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; "><a target="_blank" href="https://www.bingovega.com" style="color:#fff;text-decoration:none;" rel="noopener noreferrer">www.bingovega.com</a></td>
<td width="188" align="center" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff;"></td>
<td width="180" align="right" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; ">July1, 2021</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line2_rut0ux.png" width="592" height="5" alt=""></td>
</tr>
</tbody>
</table>
<table width="585" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="180" align="left" valign="top"><!-- In This Issue--><p></p>
<table width="128" border="0" cellspacing="0" cellpadding="5" style="border:1px solid #222; margin-top:10px; background-color:#f9f9f9;">
<tbody>
<tr>
<td align="center" valign="top">
<p></p><table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
                        <!-- 

<tr>
                              

<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">In this Issue</td>


                            </tr>


                            

<tr>
                              

<td style="background-color:#222; height:1px;"></td>


                            </tr>

-->
<tr>
<td style="height:8px;"></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td style="font-size: 15px;font-family: 'Times New Roman', Times, serif;color: #222;line-height: 16px; font-weight: bold;">PROMOTIONS</td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 27px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Vacation in Las Vegas</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/vegas-promotion/" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1622174112/vegas-icon_v77cvu.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">We are going to celebrate the Summer holidays with a summer long promotion</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/vegas-promotion/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Christmas in July&nbsp;</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/christmas-in-july/" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1625003917/xmas-icon_ruvuiy.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">We are going to make it easy for you to start your Christmas shopping</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/christmas-in-july/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;"> Independence Day</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/4th-of-july/" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1625003917/independence-icon_rzbdl8.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">Celebrate our country’s birthday with lots of fireworks and prizes!!!!</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/4th-of-july/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Bingolympics</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/olympics-promotion/" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1625003917/olympics-icon_yvhulq.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">Bingo on the Olympic Flame pattern</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/olympics-promotion/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Calling All VIPs</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#vips" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1625004508/july-icon_xjdkrp.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">We want to say THANK YOU to all our VIP’s</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#vips" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 27px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Ruler of the Galaxy</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#ruler" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617065627/rulers-icon_uxinvr.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td align="center" style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px"> Our July  Ruler of the Galaxy is<br>
                            <strong>SLZYWEEZY!!!</strong><br>
                            Congratulations!! <p></p>
<p>                            In addition to all her goodies, be sure to watch for her special pattern because when she bingos on her pattern, the roomies win!!</p></td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#ruler" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td align="center" valign="top" style="width: 275px;"><!-- Big Headline--><p></p>
<p></p><table width="" border="0" cellspacing="0" cellpadding="0" style="
    width: 285px;
">
<tbody>
<tr>
<td style="font-size: 27px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;display: block;margin-bottom: 12px;margin-top: 20px; text-align: center;">Hello roomies!!!</td>
</tr>
<tr>
<td style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.3em; text-align: justify;padding: 10px 10px;"> WOW, 2021 is half over?? Time sure flies when not on lockdown!! It is so great to be outside with family and friends but honestly, many of us have enjoyed a lot of indoor activity with friends at Bingo Vega too!! We hope you have been enjoying yourselves as much as we enjoy hosting you. <p></p>
<p>We have a special 3 month promotion starting June 1st and ending August 31, 2021 where you can win a trip to Las Vegas!!!  Be sure to check out all the promotions in the newsletter and on the site.  We are so exciting about this ongoing promotion!!  We will be very creative with this one.  Read all about it!!! </p>
<p>Congratulations BEARDUDE1, the winner of the Father’s Day promotion and a nice BBQ Gas Grill!!!  In July you will find a couple of one day promotions like on the 4th of July, Chocolate Day and Ice Cream Day.  Oh how I love my ice cream!!!! </p>
<p>This month we are doing something different in the casino!  I hope you all received your Mobilot Mission Informational Mailer.  In July, on weekends, we will have a Mission to complete and if you complete it, you will win a prize!!! The missions are just another great feature of the new Mobilots Casino.  We tested a small one in June and we will increase the missions as the player participation picks up.<br>
We also added some Jumping Jackpot games, Sliding coveralls and the Big Bang JP in June.  In July, we are anticipating adding some more chat hours to Milky Way and possibly having a 2nd room open 12pm-12am daily!! </p>
<p>Here is to hoping everyone has a safe and happy summer.  From all of us at BVega, may the sun always shine down on you and send juno@bingovega.com an email asking for 5 CHIPS before 11:59 PM July 31, 2021 (active depositors only).</p>
<p>                    ~~The BVega Team~~ </p></td>
</tr>
</tbody>
</table>
<p>            <!-- Second Headline--></p>
<p></p><table width="" border="0" cellspacing="0" cellpadding="0" style="
    width: 285px;
">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line3_h21jen.png" width="285" height="5" alt=""></td>
</tr>
<tr>
<td style="font-size: 27px;margin-bottom: 0px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;margin: 5px 0 5px;display: block; text-align: center;">Hot Games</td>
</tr>
<tr>
<td align="left" style="margin-top: 5px;font-size:14px;font-family: 'Times New Roman', Times, serif;color: #222;display: block;padding: 0px 10px 0px 10px">JUMPING JACKPOTS!!!  – A new feature added to our arsenal of games.  With each call, the prize changes!!! It can be as high as $5k and as low as $10!!! These special JJ games play 12-1 PM and 4-5 PM in Milky Way.  Be sure to check them out!!!  <p></p>
<p>On the Casino Front, Ruby Jade, Fruit Serenity and Kitty Cutie are still at the top of the charts in the casino but let me introduce you to the newest game: TROPICAL SPLASH
</p></td>
</tr>
<tr>
<td align="left" style="margin-top: 15px;font-size:14px;font-family: 'Times New Roman', Times, serif;color: #222;display: block;padding: 0px 10px 20px 10px"><a target="_blank" href="https://bingovega.com/paas/bva/listslots.action" rel="noopener noreferrer"><img alt="egtropicalgs" src="https://res.cloudinary.com/bngvg/image/upload/v1625004951/111_l3i7my.png" style="width: 78%;margin: 0 auto -15px;display: block;"></a><p></p>
<ul style="padding: 0 12px; font-size: 14px">
<li> TROPICAL SPLASH is a 5×3 standard reel video slot with a stacking symbol feature, wilds and free spins. </li>
<li>TROPICAL TOWERS – When an entire reel is vertically comprised of 3 identical symbols, a 3 of a kind prize is awarded! The matching symbols collapse, and new symbols drop down for more chances to win! TROPICAL TOWERS can reoccur until there are no more triple vertical matches! </li>
<li> WILD BERRY ROLL RUMBLE – Each spin has a chance to trigger the WILD BERRY ROLL RUMBLE, where up to 4 reels will be entirely covered by WILD BERRY ROLLS. The BERRY ROLL is WILD and substitutes for all other symbols except the STARFRUIT SCATTER. </li>
<li> FREE SPINS – 3 or more STARFRUIT symbols trigger the FREE SPINS mode. During FREE SPINS mode, each FREE SPIN will feature a WILD BERRY ROLL RUMBLE – up to 4 reels will be entirely covered by WILDS. In FREE SPINS mode, new symbols that replace vertical TROPICAL TOWERS are guaranteed to be WILDS</li>
</ul>
</td>
</tr>
</tbody>
</table>
</td>
<td width="180" align="left" valign="top"><!-- In This Issue--><p></p>
<table width="128" border="0" cellspacing="0" cellpadding="5" style="border:1px solid #222; margin-top:10px; background-color:#f9f9f9;">
<tbody>
<tr>
<td align="center" valign="top">
<table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">Look who is turning a year wiser in July!! </td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td style="height:8px;"></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>joaniepeps49</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>Mallwalker</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>CATTLADY45</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>Babs2play</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>FREEZ714</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>SASSYDC</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;">
</td>
</tr>
</tbody>
</table>
<p></p></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-top: 0px">&nbsp;</td>
</tr>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; text-align: center">Ongoing Promotions</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td>
<ul style=" padding: 0 0 0 15px; font-size: 13px;">
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#four-pack" rel="noopener noreferrer">Four Pack Sunday Tourney</a></li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#monday-depositor" rel="noopener noreferrer">Monday Night Depositors Tourney</a>  </li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#palloza" rel="noopener noreferrer">Hot Ball Palooza</a> </li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#appreciation" rel="noopener noreferrer">We Couldn’t do it Without You</a></li>
</ul>
</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/" rel="noopener noreferrer">More Info</a></td>
</tr>
<tr>
<td align="center" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 0px 3px  18px;">
<hr>
<p>                    <span style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Player Testimonials</span></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
<tbody>
<tr>
<td>
<p style="font-size: 13px; font-family: 'Times New Roman';  margin-top: 10px">Hi<br>
I just saw that my cashout/winnings have been deposited. Thank you so much. This made my day! I love Bingovega. Thank you again<br>
Michelle aka jules6669</p>
<p>THANK YOU! My laptop I won I’m the background too, won it at Bingo Vega💯💜 this site and the awesome staff and CMs here – inkybiker907</p>
<p><img src="https://res.cloudinary.com/bngvg/image/upload/v1625006200/bbb_thmrkx.jpg" style="width:100%;" alt="Bgood2670"><br>
   This site is one of the best sites I have ever came across on the internet. From the games to the customer service you can’t find a more fun and attention to details then here. The customer service is top of the line and the payouts are awesome. They have my vote and I will be a client with them for a long long time.<br>
Thank you Bingovega for the wonderful time and experiences. Bgood2670</p>
</td>
</tr>
</tbody>
</table>
<hr>
</td>
</tr>
<tr>
<td align="left" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 0 0px;"><span style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Hello from CM Ruby </span><p></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
<tbody>
<tr>
<td>
<p style="font-size: 13px; font-family: 'Times New Roman';  margin-top: 10px">Hi. My name is Lil aka CM Ruby. I have been with Bingo Vega more than 18 years. I love the chat room environment and getting to know my players. I have made many friends from chat over the years. Most of you know me. I have a tendency to panic if I don’t see you in chat for a few days. I like to know you are all ok! </p>
<p>I live in Tennessee on The Cumberland Plateau with my husband of 36 years and 2 rescue dogs. They keep me busy!<br>
I Love Bingo, and look forward to seeing you in chat!<br>
Thank you for the fun,<br>
                              RUBY</p>
<p>
                              <img src="https://res.cloudinary.com/bngvg/image/upload/v1625006198/aaa_kakis9.jpg" style="width:100%;" alt="Ruby">
 </p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p>      <!-- Footer--></p>
<table width="592" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td align="center" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"> Please contact us if you forgot your password. We also love answering questions, big or small, so contact us 24/7 by email or toll-free at 1-888-330-9625.</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2" align="left"><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/bottom_wlogdh.gif" width="624" height="25" alt=""></td>
</tr>
</tbody>
</table>