<table width="624" border="0" align="center" cellpadding="0" cellspacing="0" style="background:url(https://res.cloudinary.com/bngvg/image/upload/v1614569439/bg2_ylsg9a.gif)">
<tbody>
<tr>
<td colspan="2" align="left"><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569440/top1_pqa07s.gif" width="624" height="15" alt=""></td>
</tr>
<tr>

<td colspan="2" align="center" valign="top">
<table width="592" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569617/line1_owkgmt.png" width="592" height="8" alt=""></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614563103/titles_pgvczc.png" width="592" height="95" alt="" style="
height: auto;margin: 10px auto;width: 92%;display: block;"></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line2_rut0ux.png" width="592" height="5" alt=""></td>
</tr>
<tr>
<td align="center">
<table width="592" border="0" cellspacing="0" cellpadding="4" style="background-color:#444;">
<tbody>
<tr>
<td width="180" align="left" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; "><a target="_blank" href="https://www.bingovega.com" style="color:#fff;text-decoration:none;" rel="noopener noreferrer">www.bingovega.com</a></td>
<td width="188" align="center" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff;"> </td>
<td width="180" align="right" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; ">June 1, 2021</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line2_rut0ux.png" width="592" height="5" alt=""></td>
</tr>
</tbody>
</table>
<table width="585" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="180" align="left" valign="top"><!-- In This Issue--><p></p>
<table width="128" border="0" cellspacing="0" cellpadding="5" style="border:1px solid #222; margin-top:10px; background-color:#f9f9f9;">
<tbody>
<tr>
<td align="center" valign="top">
<p></p><table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
                        <!-- 

<tr>
                              

<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">In this Issue</td>


                            </tr>


                            

<tr>
                              

<td style="background-color:#222; height:1px;"></td>


                            </tr>

-->
<tr>
<td style="height:8px;"></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td style="font-size: 15px;font-family: 'Times New Roman', Times, serif;color: #222;line-height: 16px; font-weight: bold;">PROMOTIONS</td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 27px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Vacation in Las Vegas</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/vegas-promotion/" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1622174112/vegas-icon_v77cvu.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">We are going to celebrate the Summer holidays with a summer long promotion</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/vegas-promotion/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 7px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Beach Days at BV</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/beach-promotion/" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1622174112/beach-front-icon_fuq5ym.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">BV is bringing the beach to you!!!!</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/beach-promotion/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 7px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;"> Bingo Vega Pride</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#lgtb" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1622174112/pride-front-icon_sajq60.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">Support the LGBTQ community with a BINGO on the RAINBOW PRIDE pattern!!</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#lgtb" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 7px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Father’s Day at BV</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/fathers-day-promo/" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1622174113/dad-icon_fkqbw3.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">Wherever you are, don’t forget to let the father figure(s) in your life know that you love him (them).</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/fathers-day-promo/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 7px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Calling All VIPs</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#vips" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1622174112/vips-icon_tyykxz.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">We want to say THANK YOU to all our VIP’s</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#vips" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 27px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Ruler of the Galaxy</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#ruler" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617065627/rulers-icon_uxinvr.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td align="center" style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px"> Our June  Ruler of the Galaxy is<br>
                            <strong>inkybiker907!!!</strong><br>
                            Congratulations!! <p></p>
<p>                            In addition to all her goodies, be sure to watch for her special pattern because when she bingos on her pattern, the roomies win!!</p></td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#ruler" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td align="center" valign="top" style="width: 275px;"><!-- Big Headline--><p></p>
<p></p><table width="" border="0" cellspacing="0" cellpadding="0" style="
    width: 285px;
">
<tbody>
<tr>
<td style="font-size: 27px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;display: block;margin-bottom: 12px;margin-top: 20px; text-align: center;">Hello roomies!!!</td>
</tr>
<tr>
<td style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.3em; text-align: justify;padding: 10px 10px;"> Summer is here and things are sure heating up at BV!!!!  We have had some sizzling wins in the Big Asteroid room and on the 4 pack tourney in May!!! Check out the Hot Games and the Big Winners section of the Newsletter!! <p></p>
<p>                    We have a special 3 month promotion starting June 1st and ending August 31, 2021 where you can win a trip to Las Vegas!!!  Be sure to check out all the promotions in the newsletter and on the site.  We are so exciting about this ongoing promotion!!  We will be very creative with this one.  Read all about it!!! </p>
<p>                    The Mother’s Day promotion was a lot of fun in May and we will do something similar in the near future with a few tweaks.  The players that participated really enjoyed it so we will make it bigger and better and roll out another very soon.  Be sure to check out the Father’s Day promotion where BV is giving away a Brand new Gas Grill!!!  Just in time for the BBQ Season!!! </p>
<p>                    This month we are doing something different in the casino!  I hope you all received your Mobilot Mission Informational Mailer.  In June, on weekends, we will have a Mission to complete and if you complete it, you will win a prize!!! The missions are just another great feature of the new Mobilots Casino </p>
<p>                    Here is to hoping everyone has a safe and happy summer.  From all of us at BVega, may the sun always shine down on you and send juno@bingovega.com an email asking for 5 CHIPS before 11:59 PM June 30, 2021. </p>
<p>                    ~~The BVega Team~~ </p></td>
</tr>
</tbody>
</table>
<p>            <!-- Second Headline--></p>
<p></p><table width="" border="0" cellspacing="0" cellpadding="0" style="
    width: 285px;
">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line3_h21jen.png" width="285" height="5" alt=""></td>
</tr>
<tr>
<td style="font-size: 30px;margin-bottom: 0px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;margin: 20px 0 5px;display: block; text-align: center;">Hot Games</td>
</tr>
<tr>
<td align="left" style="margin-top: 5px;font-size:15px;font-family: 'Times New Roman', Times, serif;color: #222;display: block;padding: 0px 10px 20px 10px">IBig Asteroid has truly topped the charts with some fire in May.  We had a little learning curve but it is running smoothly now.  Just ask some of our big winners with wins over the $500 mark like catnip1951, mominator222, shoupinator, noluckyred, simpleesal01, auntigrandma, nannybloomers, flowez, ashcor1, shakeemupshoupe and obasan, just to name a few!!<p></p>
<p>                    <strong>Be sure to check this room out Monday – Thursday 7 PM – 8 PM and 10 PM – 11 PM. </strong></p></td>
</tr>
<tr>
<td align="left" style="margin-top: 15px;font-size:15px;font-family: 'Times New Roman', Times, serif;color: #222;display: block;padding: 0px 10px 20px 10px"><a target="_blank" href="https://bingovega.com/paas/bva/listslots.action" rel="noopener noreferrer"><img alt="eggs" src="https://res.cloudinary.com/bngvg/image/upload/v1622175563/1_wyt693.jpg" style="width: 100%"></a><p></p>
<p>                    On the Casino Front, Crackin Eggs by Mobilots had the most bets!!!  Crackin’ Eggs is a slot game with a 5×3 grid and lots of ways to win.  Symbols include chicks, bunnies, eggs, a goose and the fabled golden egg that keeps with the country garden theme. </p>
<p>                    <strong>Enjoy the unfixed paylines, eggs that increase your winnings and the bonus feature for extra spins</strong></p>
<p>                    <a target="_blank" href="https://bingovega.com/paas/bva/listslots.action" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1622175562/2_rvsqi9.jpg" style="width: 100%" alt="eggs"></a></p></td>
</tr>
</tbody>
</table>
</td>
<td width="180" align="left" valign="top"><!-- In This Issue--><p></p>
<table width="128" border="0" cellspacing="0" cellpadding="5" style="border:1px solid #222; margin-top:10px; background-color:#f9f9f9;">
<tbody>
<tr>
<td align="center" valign="top">
<table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">Look who is turning a year wiser in June!! </td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td style="height:8px;"></td>
</tr>
</tbody>
</table>
<p></p>
<table width="128" border="0" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>pooter1</strong> June 3rd</td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>charlied44</strong> June 22nd</td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>May-49</strong> June 1st</td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>simpleesal02</strong> June 1st</td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>deloisjerman</strong> June 3rd</td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>Doydoy</strong> June 17th</td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;">
<p>                        <strong> Happy Birthday to all of you and anyone else celebrating in May!</strong></p></td>
</tr>
</tbody>
</table>
<p></p></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-top: 30px">&nbsp;</td>
</tr>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; text-align: center">Ongoing Promotions</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td>
<ul style=" padding: 0 0 0 15px; font-size: 13px;">
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#four-pack" rel="noopener noreferrer">Four Pack Sunday Tourney</a></li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#monday-depositor" rel="noopener noreferrer">Monday Night Depositors Tourney</a>  </li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#palloza" rel="noopener noreferrer">Hot Ball Palooza</a> </li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#appreciation" rel="noopener noreferrer">We Couldn’t do it Without You</a></li>
</ul>
</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/" rel="noopener noreferrer">More Info</a></td>
</tr>
<tr>
<td align="center" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 30px 3px  18px;">
<hr>
<p>                    <span style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Big Bingo winners </span></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
<tbody>
<tr>
<td>
<p style="font-size: 13px; font-family: 'Times New Roman';  margin-top: 10px">The 2 biggest games in May were the 4 pack tourney and the games in the Big Asteroid room.  We had some BIG WINNERs in May<br>
                              Shout out to <strong>donna1978</strong> with a $583.70 win!! SAHWEET!!!</p>
<p>                              Another big winner on bingo this month was <strong>catnip1951</strong> with a whopping $459.87 win!! Keep it up!!<br>
                              Not too shabby, $420.54 bingo win for <strong>TX3Card</strong> in May!! </p>
<p><strong>Congratulations to all our single big winners!! In June we will see these prizes even bigger with some new ways to win bingo!!! </strong></p>
</td>
</tr>
</tbody>
</table>
<hr>
</td>
</tr>
<tr>
<td align="left" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 0 10px;"><span style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Big Slot winners </span><p></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
<tbody>
<tr>
<td>
<p style="font-size: 13px; font-family: 'Times New Roman';  margin-top: 10px">May has truly been a great month in the casino for <strong>jazz345</strong> with accumulated wins of 29K!! Keep spinning and winning jazz345!!! </p>
<p>                              Another big winner on the slots this month for May was <strong>petagree</strong> with over 32K in accumulated wins!!  She must have a 4 leaf clover and a rabbit’s foot in her pockets!!! </p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p>      <!-- Footer--></p>
<table width="592" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td align="center" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"> Please contact us if you forgot your password. We also love answering questions, big or small, so contact us 24/7 by email or toll-free at 1-888-330-9625.</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2" align="left"><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/bottom_wlogdh.gif" width="624" height="25" alt=""></td>
</tr>
</tbody>
</table>