<table width="624" border="0" align="center" cellpadding="0" cellspacing="0" style="background:url(https://res.cloudinary.com/bngvg/image/upload/v1614569439/bg2_ylsg9a.gif); margin: 0 auto;">
<tbody>
<tr>
<td colspan="2" align="left"><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569440/top1_pqa07s.gif" width="624" height="15" alt=""></td>
</tr>
<tr>

<td colspan="2" align="center" valign="top">
<table width="592" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569617/line1_owkgmt.png" width="592" height="8" alt=""></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614563103/titles_pgvczc.png" width="592" height="95" alt="" style="
height: auto;margin: 10px auto;width: 92%;display: block;"></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line2_rut0ux.png" width="592" height="5" alt=""></td>
</tr>
<tr>
<td align="center">
<table width="592" border="0" cellspacing="0" cellpadding="4" style="background-color:#444;">
<tbody>
<tr>
<td width="180" align="left" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; "><a target="_blank" href="https://www.bingovega.com" style="color:#fff;text-decoration:none;" rel="noopener noreferrer">www.bingovega.com</a></td>
<td width="188" align="center" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff;"> </td>
<td width="180" align="right" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; ">Monday, March 1st, 2021</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line2_rut0ux.png" width="592" height="5" alt=""></td>
</tr>
</tbody>
</table>
<table width="585" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="180" align="left" valign="top"><!-- In This Issue--><p></p>
<table width="128" border="0" cellspacing="0" cellpadding="5" style="border:1px solid #222; margin-top:10px; background-color:#f9f9f9;">
<tbody>
<tr>
<td align="center" valign="top">
<p></p><table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
                           <!-- 

<tr>
                              

<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">In this Issue</td>


                            </tr>


                            

<tr>
                              

<td style="background-color:#222; height:1px;"></td>


                            </tr>

-->
<tr>
<td style="height:8px;"></td>
</tr>
</tbody>
</table>
<p>                           <!-- 

<tr>
                              

<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/star_oaqvfg.png" width="11" height="10" alt=""/></td>


                              

<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><a target="_blank" href="#" rel="noopener noreferrer">Top Winners </a></td>


                            </tr>

--></p><table width="128" border="0" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td width="13"><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/star_oaqvfg.png" width="11" height="10" alt=""></td>
<td width="127" style="font-size: 13px;font-family: 'Times New Roman', Times, serif;color: #222;line-height: 16px;"><a target="_blank" href="https://www.bingovega.com/monthly-promotions/" rel="noopener noreferrer">Promotions</a></td>
</tr>

<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/star_oaqvfg.png" width="11" height="10" alt=""></td>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><a target="_blank" href="https://bingovega.com/paas/bva/listslots.action" rel="noopener noreferrer">Hot Games </a></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/star_oaqvfg.png" width="11" height="10" alt=""></td>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#ruler" rel="noopener noreferrer">Ruler of the Galaxy </a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">Lucky Leprechaun Cash Bash</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614562019/leprechaum-icon_caps3q.png" width="128" alt="" style="margin:5px 0;"></td>
</tr>
<tr>
<td style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 18px; padding: 5px">Collect as many Shamrocks as you can in March to win some great CASH prizes</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#leprechaum" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">Lucky March Slot Tournament</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614562020/lucky-icon_exyzqb.png" width="128" alt="" style="margin:5px 0;"></td>
</tr>
<tr>
<td style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 18px; margin-bottom:5px; padding: 5px">Leprechauns, clovers, pots of gold but most of all, LUCK, LUCK, LUCK!!! BINGO VEGA introduces the WINNERS and LOSERS Slot Tournament!</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#tournament" rel="noopener noreferrer">See More</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">Referral Contest</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614562019/icon-refer_zqtewr.png" width="128" alt="" style="margin:5px 0;"></td>
</tr>
<tr>
<td style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 18px; padding: 5px">The party is always better with Friends!!! Gather them up and bring them to Bingo Vega and you will get $25 per friend that registers and deposits PLUS, the top 3 referrers will win some extra Cash!!</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#referral" rel="noopener noreferrer">Details Here </a></td>
</tr>
<tr>
<td align="right">&nbsp;</td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">&nbsp;</td>
</tr>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">Ongoing Promotions</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td>
<ul style="padding: 10px 3px 10px 3px; font-size: 13px; font-size: 13px;">
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#four-pack" rel="noopener noreferrer">Four Pack Sunday Tourney</a></li>
<p></p>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#monday-depositor" rel="noopener noreferrer">Monday Night Depositors Tourney</a></li>
<p></p>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#palloza" rel="noopener noreferrer">Hot Ball Palooza</a></li>
<p></p>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#appreciation" rel="noopener noreferrer">We Couldn’t do it Without You</a></li>
</ul>
</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td align="center" valign="top" style="width: 275px;"><!-- Big Headline--><p></p>
<p></p><table width="" border="0" cellspacing="0" cellpadding="0" style="
    width: 285px;
">
<tbody>
<tr>
<td style="font-size: 30px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;display: block;margin-bottom: 12px;margin-top: 20px; text-align: center;">Welcome to BingoVega’s New News!!</td>
</tr>
<tr>
<td style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 17px; text-align: justify;padding: 10px;">Hello all Bingo Vega players, old and new!  Welcome to our News Portal where you can read all about it!  From promotions, to player news, to site news and even check out some of our latest winners and their testimonials.  This is the 1st edition of what we hope becomes a monthly read for everyone. <p></p>
<p>This is a great source of site information such as new additions, links to promotions, news about your favorite bingo site and well, just some great news we want to share with you, our favorite people! This month, we would like to get to know YOU better. </p>
<p>Send a picture of you, your pet, your children, etc along with a little write up to <a target="_blank" href="mailto:juno@bingovega.com" rel="noopener noreferrer">juno@bingovega.com</a> and she will credit your account with 5BB!!  Let’s build our player page with our favorite people, YOU! </p></td>
</tr>
</tbody>
</table>
<p>                <!-- Second Headline--></p>
<p></p><table width="" border="0" cellspacing="0" cellpadding="0" style="
    width: 285px;
">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line3_h21jen.png" width="285" height="5" alt=""></td>
</tr>
<tr>
<td style="font-size: 30px;margin-bottom: 0px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;margin-top: 60px;display: block;">Welcome to the Team!!</td>
</tr>
<tr>
<td align="left" style="margin-top: 13px;font-size:13px;font-family: 'Times New Roman', Times, serif;color: #222;display: block;padding: 10px;">In January Bingo Vega welcomed 3 new CMs – CM Gina, CM Lilmuna and CM Cat.  Please join us in welcoming our newest teammates.  </td>
</tr>
<tr>
<td align="left" valign="top" style="height:10px;"></td>
</tr>
<tr>
<td align="left" valign="top">
<table width="99%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="250" style="
    display: none;
"><img src="images/pic01.png" width="245" height="162" alt=""></td>
<td align="left" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 10px;">
                                  <span style="font-size:20px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">CM Gina</span><p></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
<tbody>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614563741/cm-gina_n23y1t.png" alt="" style="margin:5px 0; height: 80px; width: 100px; padding: 10px 10px 10px 0px"></td>
<td>
<p style="font-size: 13px; font-family: 'Times New Roman';">Hello all ,So you want to know something about me huh .. well here goes… my name is Marie and I live in the Scottish Borders (UK) and I’m ancient!!…<a target="_blank" href="https://www.bingovega.com/chat-moderators/" rel="noopener noreferrer"><br>
        Read more </a></p>
</td>
</tr>
</tbody>
</table>
<hr>
</td>
</tr>
<tr>
<td width="250" style="
    display: none;
"><img src="images/pic01.png" width="245" height="162" alt=""></td>
<td align="left" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 10px;">
                                  <span style="font-size:20px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">CM Lilmuna</span><p></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
<tbody>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614563741/lilmuna_nwlxua.png" alt="" style="margin:5px 0; height: 80px; width: 100px; padding: 10px 10px 10px 0px"></td>
<td>
<p style="font-size: 13px; font-family: 'Times New Roman';">Hi everyone I am Karen, I’m from sunny Florida I live there with my husband, Roger and my daughter, Elizabeth, my dog and two cats…<a target="_blank" href="https://www.bingovega.com/chat-moderators/" rel="noopener noreferrer"><br>
        Read more </a></p>
</td>
</tr>
</tbody>
</table>
<hr>
</td>
</tr>
<tr>
<td width="250" style="
    display: none;
"><img src="images/pic01.png" width="245" height="162" alt=""></td>
<td align="left" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 10px;">
                                  <span style="font-size:20px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">CM Cat </span><p></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
<tbody>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614563741/cat_k7ugtw.png" alt="" style="margin:5px 0; height: 80px; width: 100px; padding: 10px 10px 10px 0px"></td>
<td>
<p style="font-size: 13px; font-family: 'Times New Roman';">Hey Everyone. My Name is Catherine, you all know me as CM Cat.  I grew up in NY but now live in Alabama with my husband and furkid…<a target="_blank" href="https://www.bingovega.com/chat-moderators/" rel="noopener noreferrer"><br>
        Read more </a></p>
</td>
</tr>
</tbody>
</table>
</td></tr><tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block; width: 130px; margin-left: auto; margin-right: auto;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/chat-moderators/" rel="noopener noreferrer">SEE OUR CMS </a></td>
</tr>


</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table width="300" border="0" cellspacing="0" cellpadding="0" style="width: 280px;">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line3_h21jen.png" width="" height="" alt="" style="width: 300px;"></td>
</tr>
<tr>
<td align="left" valign="top" style="height:5px;"></td>
</tr>
<tr>
<td align="left" valign="top" style="
"><!-- Two Smaller Headline--><p></p>
</td>
</tr>
</tbody>
</table>
<p></p><table width="" border="0" cellspacing="0" cellpadding="0" style="
    width: 285px;
">
<tbody>
<tr>
<td style="font-size: 20px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;display: block;margin-bottom: 12px;margin-top: 20px; text-align: center;">Congratulations</td>
</tr>
<tr>
<td style="font-size:16px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 20px; text-align: left;padding: 10px;"> <strong>juslookn313</strong>, our February Depositor Tablet Winner and, congratulations goes out to <strong>indybiker907l</strong>, our Casino Tournament Laptop Winner for February!! </td>
</tr>
</tbody>
</table>
</td>
<td width="180" align="left" valign="top"><!-- In This Issue--><p></p>
<table width="128" border="0" cellspacing="0" cellpadding="5" style="border:1px solid #222; margin-top:10px; background-color:#f9f9f9;">
<tbody>
<tr>
<td align="center" valign="top">
<table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">Birthdays!!! </td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td style="height:8px;"></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>donna1978</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>gwen_1985</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>flowerz</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>catnip1951</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>bingorunner64</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>jlp2006</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>Margaret13</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>flynncyn</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>christina447</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>Kayesss5252</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>ThatGirl0318</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>Lynne1928</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>kisha29_BVA</strong></td>
</tr>
<tr>
<td width="127" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"><strong>anna2764</strong></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 10px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">Hot Games</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614562645/Sisters-of-Luck_uaadqe.jpg" width="128" height="101" alt="" style="margin:5px 0;"></td>
</tr>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px; padding: 5px;">Sisters of Luck is one of the hottest games in our Casino right now.  Simply to play!!!  It even has a DOUBLE UP FEATURE!!  . </td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://bingovega.com/paas/bva/listslots.action" rel="noopener noreferrer">Play Now</a></td>
</tr>
</tbody>
</table>
<p>                           <!-- 

<tr>
                             

<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="#" rel="noopener noreferrer">Loyalty Here </a></td>

 
                            </tr>

--></p><table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">&nbsp;</td>
</tr>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">Loyalty</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px; padding: 5px">We are working on a new Loyalty Program for our Bingo Vega loyal players!! Keep checking the Loyalty page for updates!! We should have it completed before the end of March </td>
</tr>

<tr>
<td align="right">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p></p><table width="" border="0" cellspacing="0" cellpadding="0" style="
    width:;
">
<tbody>
<tr>
<td style="font-size: 20px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;display: block;margin-bottom: 12px;margin-top: 20px; text-align: center;">Top winners and Player testimonials </td>
</tr>
<tr>
<td style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 17px; text-align: justify;padding: 10px;"><strong>Wendir716</strong> won Januarys Casino Promotion and scored a New Tablet! <p></p>
<p><em>“I am so excited to win the monthly competition for a new tablet.  Thank you for the wonderful prize.  Playing bingo at BingoVega is so fun and relaxing.  The chat room has so many fun games to earn extra bingo bucks so you can keep playing and playing.  If Bingo isnt your thing they have lots of cards and slots to entertain you.  I love playing here.” <br> <br>
</em> </p>
<hr>
</td>
</tr>
<tr>
<td style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 17px; text-align: justify;padding: 10px;"><strong>Stetsonsnana</strong>, another Promo winner!!! <p></p>
<p><em>“I LOVE BingoVega! This is the best site I have found. It’s fun, friendly and exciting. I couldn’t believe it when I logged in and saw I won the Emerald earings giveaway! Thank you all so much!!!!” <br> <br>
</em> </p>
<hr>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p>        <!-- Footer--></p>
<table width="592" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td align="center" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"> Please contact us if you forgot your password. We also love answering questions, big or small, so contact us 24/7 by email or toll-free at 1-888-330-9625.</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2" align="left"><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/bottom_wlogdh.gif" width="624" height="25" alt=""></td>
</tr>
</tbody>
</table>