<table class="nl-container" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #eaeaea;">
<tbody>
<tr>
<td>
<table class="row row-1" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #eaeaea;">
<tbody>
<tr>
<td>
<table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #eaeaea; color: #000000;" width="750">
<tbody>
<tr>
<th class="column" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 12px; mso-line-height-alt: 14.399999999999999px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 12px; mso-line-height-alt: 14.399999999999999px;">&nbsp;</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="row row-2" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody>
<tr>
<td>
<table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; color: #000000;" width="750">
<tbody>
<tr>
<th class="column" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;">
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;padding-top:10px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #333;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:5px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 4px solid #333;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-bottom:15px;padding-top:15px;width:100%;padding-right:0px;padding-left:0px;">
<div align="center" style="line-height:10px"><a href="https://www.bingovega.com" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1614563103/titles_pgvczc.png" style="display: block; height: auto; border: 0; width: 600px; max-width: 100%;" width="600" alt="Bingo Vega" title="Bingo Vega"></a></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;padding-top:10px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 3px solid #333;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="row row-3" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody>
<tr>
<td>
<table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #444; color: #000000;" width="750">
<tbody>
<tr>
<th class="column hidden" width="33.333333333333336%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #ffffff; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 14px; text-align: center;">www.bingovega.com</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
</th>
<th class="column" width="33.333333333333336%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #ffffff; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 14px; text-align: center;">Hello, %%firstname%%</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
</th>
<th class="column" width="33.333333333333336%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #ffffff; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 14px; text-align: center;">November 1st, 2021</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="row row-4" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody>
<tr>
<td>
<table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; color: #000000;" width="750">
<tbody>
<tr>
<th class="column" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;">
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #333;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="row row-5" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody>
<tr>
<td>
<table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; color: #000000;" width="750">
<tbody>
<tr class="inverse">
<th class="column one" width="25%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="titles" style="margin: 0; text-align: center;"><span style="font-size:14px;"><strong>PROMOTIONS</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-bottom:35px;padding-left:10px;padding-right:10px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #444;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="stitles" style="margin: 0; font-size: 14px; text-align: center;"><span style="font-size:14px;"><strong>Thanksgiving Promotion</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;width:100%;">
<div align="center" style="line-height:10px"><a href="https://www.bingovega.com/monthly-promotions/#gobble" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1635480842/gobble-icon_dbheoz.png" style="display: block; height: auto; border: 0; width: 168px; max-width: 100%;" width="168" alt="Gobble" title="Gobble"></a></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; text-align: center">Thanksgiving is a time for sharing, so this month, our bingo promotion will focus on sharing with our bingo buddies.</p>
<p style="margin: 0; mso-line-height-alt: 16.8px;">&nbsp;</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="button_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;text-align:center;">
<div align="center">
																	<!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.bingovega.com/monthly-promotions/#gobble" style="height:34px;width:136px;v-text-anchor:middle;" arcsize="12%" strokeweight="0.75pt" strokecolor="#F5C803" fillcolor="#f5c803"><w:anchorlock/><v:textbox inset="0px,0px,0px,0px"><center style="color:#212121; font-family:Georgia, serif; font-size:12px"><![endif]--><a href="https://www.bingovega.com/monthly-promotions/#gobble" target="_blank" style="text-decoration:none;display:inline-block;color:#212121;background-color:#f5c803;border-radius:4px;width:auto;border-top:1px solid #F5C803;border-right:1px solid #F5C803;border-bottom:1px solid #F5C803;border-left:1px solid #F5C803;padding-top:0px;padding-bottom:0px;font-family:Georgia, Times, Times New Roman, serif;text-align:center;mso-border-alt:none;word-break:keep-all;" rel="noopener noreferrer"><span style="padding-left:35px;padding-right:35px;font-size:12px;display:inline-block;letter-spacing:normal;"><span style="font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;"><strong><span style="font-size: 12px; line-height: 24px;" data-mce-style="font-size: 12px; line-height: 24px;">More Info</span></strong></span></span></a><br>
																	<!--[if mso]></center></v:textbox></v:roundrect><![endif]-->
																</div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 1px solid #444;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="stitles" style="margin: 0; font-size: 14px; text-align: center;"><strong>Turkey Hunt</strong></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;width:100%;">
<div align="center" style="line-height:10px"><a href="https://www.bingovega.com/monthly-promotions/#hunt" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1635480842/hunt-icon_eiaqa7.png" style="display: block; height: auto; border: 0; width: 168px; max-width: 100%;" width="168" alt="Turkey Hunt" title="Turkey Hunt"></a></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; text-align: center;">Every weekend, Friday 12:01 AM until Sunday 11:59 PM in November join in the spinning action!!!</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="button_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;text-align:center;">
<div align="center">
																	<!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.bingovega.com/monthly-promotions/#hunt" style="height:34px;width:136px;v-text-anchor:middle;" arcsize="12%" strokeweight="0.75pt" strokecolor="#F5C803" fillcolor="#f5c803"><w:anchorlock/><v:textbox inset="0px,0px,0px,0px"><center style="color:#212121; font-family:Georgia, serif; font-size:12px"><![endif]--><a href="https://www.bingovega.com/monthly-promotions/#hunt" target="_blank" style="text-decoration:none;display:inline-block;color:#212121;background-color:#f5c803;border-radius:4px;width:auto;border-top:1px solid #F5C803;border-right:1px solid #F5C803;border-bottom:1px solid #F5C803;border-left:1px solid #F5C803;padding-top:0px;padding-bottom:0px;font-family:Georgia, Times, Times New Roman, serif;text-align:center;mso-border-alt:none;word-break:keep-all;" rel="noopener noreferrer"><span style="padding-left:35px;padding-right:35px;font-size:12px;display:inline-block;letter-spacing:normal;"><span style="font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;"><strong><span style="font-size: 12px; line-height: 24px;" data-mce-style="font-size: 12px; line-height: 24px;">More Info</span></strong></span></span></a><br>
																	<!--[if mso]></center></v:textbox></v:roundrect><![endif]-->
																</div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 1px solid #444;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="stitles" style="margin: 0; font-size: 14px; text-align: center;"><strong>Turkey BB Tourney</strong></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;width:100%;">
<div align="center" style="line-height:10px"><a href="https://www.bingovega.com/monthly-promotions/#bb" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1635480842/bb-icon_vryb37.png" style="display: block; height: auto; border: 0; width: 168px; max-width: 100%;" width="168" alt="Turkey BB" title="Turkey BB"></a></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; text-align: center;">The turkey is roasting, and the pies are baking in Milky Way every weekend!!&nbsp;</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="button_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;text-align:center;">
<div align="center">
																	<!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.bingovega.com/monthly-promotions/#bb" style="height:34px;width:136px;v-text-anchor:middle;" arcsize="12%" strokeweight="0.75pt" strokecolor="#F5C803" fillcolor="#f5c803"><w:anchorlock/><v:textbox inset="0px,0px,0px,0px"><center style="color:#212121; font-family:Georgia, serif; font-size:12px"><![endif]--><a href="https://www.bingovega.com/monthly-promotions/#bb" target="_blank" style="text-decoration:none;display:inline-block;color:#212121;background-color:#f5c803;border-radius:4px;width:auto;border-top:1px solid #F5C803;border-right:1px solid #F5C803;border-bottom:1px solid #F5C803;border-left:1px solid #F5C803;padding-top:0px;padding-bottom:0px;font-family:Georgia, Times, Times New Roman, serif;text-align:center;mso-border-alt:none;word-break:keep-all;" rel="noopener noreferrer"><span style="padding-left:35px;padding-right:35px;font-size:12px;display:inline-block;letter-spacing:normal;"><span style="font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;"><strong><span style="font-size: 12px; line-height: 24px;" data-mce-style="font-size: 12px; line-height: 24px;">More Info</span></strong></span></span></a><br>
																	<!--[if mso]></center></v:textbox></v:roundrect><![endif]-->
																</div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 1px solid #444;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="stitles" style="margin: 0; font-size: 14px; text-align: center;"><strong>Calling VIPs</strong></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;width:100%;">
<div align="center" style="line-height:10px"><a href="https://www.bingovega.com/monthly-promotions/#vips" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1627748579/vips1_pe22ti.png" style="display: block; height: auto; border: 0; width: 168px; max-width: 100%;" width="168" alt="VIPs" title="VIPs"></a></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; text-align: center;">Bingo Vega wants to say THANK YOU to all our VIPs with some FREE bingo games!!</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="button_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;text-align:center;">
<div align="center">
																	<!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.bingovega.com/monthly-promotions/#vips" style="height:34px;width:136px;v-text-anchor:middle;" arcsize="12%" strokeweight="0.75pt" strokecolor="#F5C803" fillcolor="#f5c803"><w:anchorlock/><v:textbox inset="0px,0px,0px,0px"><center style="color:#212121; font-family:Georgia, serif; font-size:12px"><![endif]--><a href="https://www.bingovega.com/monthly-promotions/#vips" target="_blank" style="text-decoration:none;display:inline-block;color:#212121;background-color:#f5c803;border-radius:4px;width:auto;border-top:1px solid #F5C803;border-right:1px solid #F5C803;border-bottom:1px solid #F5C803;border-left:1px solid #F5C803;padding-top:0px;padding-bottom:0px;font-family:Georgia, Times, Times New Roman, serif;text-align:center;mso-border-alt:none;word-break:keep-all;" rel="noopener noreferrer"><span style="padding-left:35px;padding-right:35px;font-size:12px;display:inline-block;letter-spacing:normal;"><span style="font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;"><strong><span style="font-size: 12px; line-height: 24px;" data-mce-style="font-size: 12px; line-height: 24px;">More Info</span></strong></span></span></a><br>
																	<!--[if mso]></center></v:textbox></v:roundrect><![endif]-->
																</div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 1px solid #444;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="stitles" style="margin: 0; font-size: 14px; text-align: center;"><span style="font-size:12px;"><strong>Ruler of the Galaxy</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;width:100%;">
<div align="center" style="line-height:10px"><a href="https://www.bingovega.com/monthly-promotions/#ruler" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617065627/rulers-icon_uxinvr.png" style="display: block; height: auto; border: 0; width: 168px; max-width: 100%;" width="168" alt="Ruler of the Galaxy" title="Ruler of the Galaxy"></a></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 14px; text-align: center;"><span style="font-size:12px;">Our July Ruler of the Galaxy is</span><br><span style="font-size:12px;"><strong>mominator222!!!</strong></span><br><span style="font-size:12px;">Congratulations!!</span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="button_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:5px;text-align:center;">
<div align="center">
																	<!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.bingovega.com/monthly-promotions/#ruler" style="height:34px;width:136px;v-text-anchor:middle;" arcsize="12%" strokeweight="0.75pt" strokecolor="#F5C803" fillcolor="#f5c803"><w:anchorlock/><v:textbox inset="0px,0px,0px,0px"><center style="color:#212121; font-family:Georgia, serif; font-size:12px"><![endif]--><a href="https://www.bingovega.com/monthly-promotions/#ruler" target="_blank" style="text-decoration:none;display:inline-block;color:#212121;background-color:#f5c803;border-radius:4px;width:auto;border-top:1px solid #F5C803;border-right:1px solid #F5C803;border-bottom:1px solid #F5C803;border-left:1px solid #F5C803;padding-top:0px;padding-bottom:0px;font-family:Georgia, Times, Times New Roman, serif;text-align:center;mso-border-alt:none;word-break:keep-all;" rel="noopener noreferrer"><span style="padding-left:35px;padding-right:35px;font-size:12px;display:inline-block;letter-spacing:normal;"><span style="font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;"><strong><span style="font-size: 12px; line-height: 24px;" data-mce-style="font-size: 12px; line-height: 24px;">More Info</span></strong></span></span></a><br>
																	<!--[if mso]></center></v:textbox></v:roundrect><![endif]-->
																</div>
</td>
</tr>
</tbody></table>
</th>
<th class="column two" width="50%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 21px; color: #393d47; line-height: 1.5; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0;">It’s beginning to look a lot like… No, not quite yet!!!&nbsp; It is a month of THANKS!!!&nbsp; The beginning of the holiday season.&nbsp; We will all be busy spending time with family, shopping, decorating and giving thanks!! Many of us have a lot to be thankful for in 2021.&nbsp; We have endured a lot the past 18 months and continue to do so. We hope that you have found some joy and peace at BVega where you can spend time with your online family with the holidays fast approaching. Likewise, we hope that you feel warm and fuzzy when you come to hang with us.&nbsp; Our doors are always open to you!! Pull up a seat, grab a cup of cheer and start daubing and spinning to a win!!!</p>
<p style="margin: 0; mso-line-height-alt: 21px;">&nbsp;</p>
<p style="margin: 0;">Our Gobble, Gobble, Gobble promotion this month is all about sharing J&nbsp; Be sure to read all about it.&nbsp; We will also continue with the Twisted Two’s Tuesday as we have found that you seem to be really enjoying this promotion!!&nbsp; Mobilots Missions will continue as well and do not forget, you can use your bonus bucks to play these slots.&nbsp; Be sure to read all about these promotions and many more in the newsletter!!!</p>
<p style="margin: 0; mso-line-height-alt: 21px;">&nbsp;</p>
<p style="margin: 0;">We want to wish everyone a safe and joyous holiday season and hope that you will spend some time with us as well</p>
<p style="margin: 0; mso-line-height-alt: 21px;">&nbsp;</p>
<p style="margin: 0;">~Juno and the BVega team~</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #333;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="titles" style="margin: 0;"><span style="font-size:18px;"><strong>Hot Games</strong></span></p>
<p style="margin: 0; mso-line-height-alt: 16.8px;">&nbsp;</p>
<p style="margin: 0;"><span style="font-size:16px;"><strong>Legend of the Azteca</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 1px solid #444;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td>
<div align="center" style="line-height:10px"><a href="https://bingovega.com/paas/bva/processloginCa.action?at=first" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1635479379/legend-of-azteca_ffgefy.png" style="display: block; height: auto; border: 0; width: 355px; max-width: 100%;" width="355" alt="Game" title="Game"></a></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 21px; color: #393d47; line-height: 1.5; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 13px; mso-line-height-alt: 19.5px;"><span style="font-size:13px;">Travel deep into the mysterious land of the Aztecs, where sacred treasure abounds in this unique 5-reel, 16 payline collapsing reel slots. <strong>Win big during FREE SPINS,</strong> where the middle column of gems is transformed into guaranteed WILDS!</span></p>
<p style="margin: 0; font-size: 13px; mso-line-height-alt: 21px;">&nbsp;</p>
<p style="margin: 0; font-size: 13px; mso-line-height-alt: 19.5px;"><span style="font-size:13px;">LEGEND OF AZTECA is a 5 Reel, 16 payline grid video slot featuring, free spins, wilds, and a grid clearing bonus. • FREE SPINS – Reveal 5 hidden bonus symbols in a single spin for 5 FREE SPINS which includes a guaranteed central column of WILDS on every spin. • CLEAR THE GRID – Clearing the grid during standard play awards a bonus 5x base win in addition to the base win. Clearing the grid during FREE SPINS awards a bonus 10x base win in addition to the base win.</span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #333;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0;"><span style="font-size:18px;"><strong>Big Winners</strong></span></p>
<p style="margin: 0; mso-line-height-alt: 16.8px;">&nbsp;</p>
<p style="margin: 0;"><span style="font-size:13px;"><strong>Congratulations to some of our Big Winners in October:</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:15px;padding-left:10px;padding-right:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 21px; color: #393d47; line-height: 1.5; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 13px; mso-line-height-alt: 19.5px;"><span style="font-size:13px;"><strong>4 pack tourney is a huge hit on Sunday Nights!! Congratulations to our prize winners in October.</strong></span></p>
<ul style="line-height: 150%;">
<li><span style="font-size:13px;"><strong>Sajaro</strong> – $450 4 pack tourney winner 9/26</span></li>
<li><span style="font-size:13px;"><strong>Elilev1 </strong>– $450 4 pack tourney winner 10/10</span></li>
<li><span style="font-size:13px;"><strong>Catnip1951</strong>– $450 4 pack tourney winner 10/17</span></li>
</ul>
<p style="margin: 0; font-size: 13px; mso-line-height-alt: 19.5px;"><span style="font-size:13px;"><strong>We have had some big winners in Big Asteroids this month too!!!<br></strong></span></p>
<ul style="line-height: 150%;">
<li><span style="font-size:13px;"><strong>Catnip1951 </strong>has been raking in the bingo wins in October! She scored a couple of $250 plus wins as well as numerous $150 plus wins!!</span></li>
<li><span style="font-size:13px;"><strong>Mominator222 </strong>scored a few $200 plus bingo wins in October as well.&nbsp; Big Asteroid room has seen her name!!</span></li>
</ul>
<p style="margin: 0; font-size: 13px; mso-line-height-alt: 19.5px;"><span style="font-size:13px;"><strong>Our top Slotters in October<br></strong></span></p>
<ul style="line-height: 150%;">
<li><span style="font-size:13px;"><strong>Congratulations obasan, </strong>our top slot winner in October with over 24K in wins!!</span></li>
<li><span style="font-size:13px;"><strong>Donna1978 </strong>didn’t have too shabby of a month either, raking in over 16K in wins!!</span></li>
</ul></div>
<p></p></div>
</td>
</tr>
</tbody></table>
</th>
<th class="column three" width="25%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="titles" style="margin: 0; text-align: center;"><span style="font-size:14px;"><strong>Hello from CM Lee</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;width:100%;">
<div align="center" style="line-height:10px"><img src="https://res.cloudinary.com/bngvg/image/upload/v1635480320/1_mgc7ss.png" style="display: block; height: auto; border: 0; width: 159px; max-width: 100%;" width="159" alt="CM Lee" title="CM Lee"></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0;"><strong>Hello friends!</strong></p><strong>
</strong><p><strong></strong></p>
<p style="margin: 0;">I was born and raised in Wisconsin and still live there. I love watching movies, spending time with friends and family and my animals Maggie and Maisey.</p>
<p>I love laughing with roomies and I truly believe laughter is the best medicine. It’s great how you can chat to players from all over. </p>
<p>I love CM hosting and here at BingoVega we have some of the best players ever!</p>
<p>There is no other job out there that allows you to wear pajamas or sweats to work, lol.</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #333;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="titles" style="margin: 0; text-align: center;"><span style="font-size:14px;"><strong>Look who is turning a year wiser in November!!</strong>&nbsp;</span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;width:100%;">
<div align="center" style="line-height:10px"><img src="https://res.cloudinary.com/bngvg/image/upload/v1630435682/bday_xfkwct.png" style="display: block; height: auto; border: 0; width: 122px; max-width: 100%;" width="122" alt="Bday" title="Bday"></div>
</td>
</tr>
</tbody></table>
<table class="text_block centers" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 21px; color: #393d47; line-height: 1.5; font-family: Georgia, Times, Times New Roman, serif;">
<ul style="line-height: 150%; font-size: 13px;">
<li><span style="font-size:13px;">November 1 –</span><br><span style="font-size:13px;"> <strong>CM Annie</strong></span></li>
<li><span style="font-size:13px;">November 8 –</span><br><span style="font-size:13px;"> <strong>MOMMAO</strong></span></li>
<li><span style="font-size:13px;">November 14 –</span><br><span style="font-size:13px;"> <strong>INKYBIKER907</strong></span></li>
<li><span style="font-size:13px;">November 20 –</span><br><span style="font-size:13px;"> <strong>FreakingFortunate</strong></span></li>
<li><span style="font-size:13px;">November 27 –</span><br><span style="font-size:13px;"> <strong>SLZYWEEZY</strong></span></li>
<li><span style="font-size:13px;">November 27 –</span><br><span style="font-size:13px;"> <strong>tammie261</strong></span></li>
<li><span style="font-size:13px;">November 30 –</span><br><span style="font-size:13px;"> <strong>ICABINGO</strong></span></li>
</ul></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #333;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;padding-top:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="titles" style="margin: 0; text-align: center;"><span style="font-size:13px;"><strong>Ongoing Promotions</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:10px;padding-left:10px;padding-right:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 21px; color: #393d47; line-height: 1.5; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 13px; mso-line-height-alt: 21px;">&nbsp;</p>
<ul style="line-height: 150%;">
<li><span style="font-size:13px;"><a href="https://www.bingovega.com/monthly-promotions/#four-pack" target="_blank" style="text-decoration: underline; color: #222;" rel="noopener noreferrer">Four Pack Sunday Tourney</a></span></li>
<li><span style="font-size:13px;"><a href="https://www.bingovega.com/monthly-promotions/#monday-depositor" target="_blank" style="text-decoration: underline; color: #222;" rel="noopener noreferrer">Monday Night Depositors Tourney</a></span></li>
<li><span style="font-size:13px;"><a href="https://www.bingovega.com/monthly-promotions/#tuesdays" target="_blank" style="text-decoration: underline; color: #222;" rel="noopener noreferrer">Twisted Tuesday</a></span></li>
<li><span style="font-size:13px;"><a href="https://www.bingovega.com/monthly-promotions/#wednesdays" target="_blank" style="text-decoration: underline; color: #222;" rel="noopener noreferrer">Mobilot Mission Wednesday</a></span></li>
<li><span style="font-size:13px;"><a href="https://www.bingovega.com/monthly-promotions/#palloza" target="_blank" style="text-decoration: underline; color: #222;" rel="noopener noreferrer">Hot Ball Palooza</a></span></li>
<li><span style="font-size:13px;"><a href="https://www.bingovega.com/monthly-promotions/#appreciation" target="_blank" style="text-decoration: underline; color: #222;" rel="noopener noreferrer">We Couldn’t do it Without You</a></span></li>
<li><span style="font-size:13px;"><a href="https://www.bingovega.com/monthly-promotions/#vips" target="_blank" style="text-decoration: underline; color: #222;" rel="noopener noreferrer">Calling All VIPs</a></span></li>
</ul></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #333;"><span>&hairsp;</span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 14px; mso-line-height-alt: 16.8px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="titles" style="margin: 0; text-align: center;"><span style="font-size:13px;"><strong>Join our Facebook Community</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody><tr>
<td style="width:100%;padding-right:0px;padding-left:0px;padding-bottom:5px;">
<div align="center" style="line-height:10px"><a href="https://www.facebook.com/groups/bingovegacommunity" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1627751756/fb_kwil93.png" style="display: block; height: auto; border: 0; width: 122px; max-width: 100%;" width="122" alt="Facebook" title="Facebook"></a></div>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="row row-6" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #eaeaea;">
<tbody>
<tr>
<td>
<table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; color: #000000;" width="750">
<tbody>
<tr>
<th class="column" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 12px; mso-line-height-alt: 14.399999999999999px; color: #545454; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 12px; text-align: center;">Please contact us if you forgot your password. We also love answering questions, big or small.<br>Contact us 24/7 by email or toll-free at 1-888-330-9625.</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="row row-7" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #eaeaea;">
<tbody>
<tr>
<td>
<table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #eaeaea; color: #000000;" width="750">
<tbody>
<tr>
<th class="column" width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 12px; mso-line-height-alt: 14.399999999999999px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 12px; mso-line-height-alt: 14.399999999999999px;">&nbsp;</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>