<table class="nl-container" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; background-color: #eaeaea;">
<tbody>
<tr>
<td>
<table class="row row-1" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; background-color: #eaeaea;">
<tbody>
<tr>
<td>
<table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; background-color: #eaeaea; margin: 0 auto;" width="750">
<tbody>
<tr>
<th class="column" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0; font-weight: 400; text-align: left; vertical-align: top;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-top:5px;padding-bottom:5px;">
<div style="font-family: sans-serif">
<div style="font-size: 12px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 12px; mso-line-height-alt: 14.399999999999999px;"></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="row row-2" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody>
<tr>
<td>
<table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; background-color: #fff; margin: 0 auto;" width="750">
<tbody>
<tr>
<th class="column" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0; font-weight: 400; text-align: left; vertical-align: top;">
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;padding-top:15px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #333;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:5px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 4px solid #333;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="padding-bottom:15px;padding-top:15px;width:100%;padding-right:0px;padding-left:0px;">
<div align="center" style="line-height:10px"><a href="https://www.bingovega.com" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img class="logo" src="https://res.cloudinary.com/bngvg/image/upload/v1614563103/titles_pgvczc.png" style="display: block; height: auto; border: 0; width: 600px; max-width: 100%;" width="600" alt="Bingo Vega" title="Bingo Vega"></a></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:5px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 3px solid #333;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="row row-3" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody>
<tr>
<td>
<table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; background-color: #444; margin: 0 auto;" width="750">
<tbody>
<tr>
<th class="column hidden" width="33.333333333333336%" style="mso-table-lspace: 0; mso-table-rspace: 0; font-weight: 400; text-align: left; vertical-align: top;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #ffffff; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 14px; text-align: center;">www.bingovega.com</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
</th>
<th class="column" width="33.333333333333336%" style="mso-table-lspace: 0; mso-table-rspace: 0; font-weight: 400; text-align: left; vertical-align: top;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #ffffff; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 14px; text-align: center;">Hello, %%firstname%%</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
</th>
<th class="column" width="33.333333333333336%" style="mso-table-lspace: 0; mso-table-rspace: 0; font-weight: 400; text-align: left; vertical-align: top;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #ffffff; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 14px; text-align: center;">October 1st, 2021</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="row row-4" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody>
<tr>
<td>
<table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; background-color: #fff;margin: 0 auto;" width="750">
<tbody>
<tr>
<th class="column" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0; font-weight: 400; text-align: left; vertical-align: top;">
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #333;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="row row-5" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody>
<tr>
<td>
<table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; background-color: #fff;margin: 0 auto;" width="750">
<tbody>
<tr class="inverse">
<th class="column one" width="25%" style="mso-table-lspace: 0; mso-table-rspace: 0; font-weight: 400; text-align: left; vertical-align: top;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="titles" style="margin: 0; text-align: center;"><span style="font-size:14px;"><strong>PROMOTIONS</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="padding-right:10px;padding-bottom:15px;padding-left:10px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #444;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="stitles" style="margin: 0; font-size: 14px; text-align: center;"><span style="font-size:12px;"><strong>Great Pumpkin Hunt</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="width:100%;padding-right:10px;padding-left:10px;">
<div align="center" style="line-height:10px"><a href="https://www.bingovega.com/monthly-promotions/#pumpkin" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1632707281/p-icon_dkdddt.png" style="display: block; height: auto; border: 0; width: 168px; max-width: 100%;" width="168" alt="Pumpkin" title="Pumpkin"></a></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; text-align: center;"><span style="font-size:12px;">Ghosts and Goblins fill the air but the biggest prize of all is in the Great Pumpkin Patch!</span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="button_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="text-align:center;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div align="center">
																	<!--[if mso]><a:roundrect xmlns:a="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.bingovega.com/monthly-promotions/#pumpkin" style="height:34px;width:136px;v-text-anchor:middle;" arcsize="12%" strokeweight="0.75pt" strokecolor="#F5C803" fillcolor="#f5c803"><w:anchorlock/><v:textbox inset="0px,0px,0px,0px"><center style="color:#212121; font-family:Georgia, serif; font-size:12px"><![endif]--><a href="https://www.bingovega.com/monthly-promotions/#pumpkin" target="_blank" style="text-decoration:none;display:inline-block;color:#212121;background-color:#f5c803;border-radius:4px;width:auto;border-top:1px solid #F5C803;border-right:1px solid #F5C803;border-bottom:1px solid #F5C803;border-left:1px solid #F5C803;padding-top:0px;padding-bottom:0px;font-family:Georgia, Times, Times New Roman, serif;text-align:center;mso-border-alt:none;word-break:keep-all;" rel="noopener noreferrer"><span style="padding-left:35px;padding-right:35px;font-size:12px;display:inline-block;letter-spacing:normal;"><span style="font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;"><strong><span style="font-size: 12px; line-height: 24px;" data-mce-style="font-size: 12px; line-height: 24px;">More Info</span></strong></span></span></a><br>
																	<!--[if mso]></center></v:textbox></a:roundrect><![endif]-->
																</div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 1px solid #444;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="stitles" style="margin: 0; font-size: 14px; text-align: center;"><span style="font-size:12px;"><strong>BVega Halloween Party</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="width:100%;padding-right:10px;padding-left:10px;">
<div align="center" style="line-height:10px"><a href="https://www.bingovega.com/monthly-promotions/#party" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1632707282/p2-icon_ubkrr5.png" style="display: block; height: auto; border: 0; width: 168px; max-width: 100%;" width="168" alt="Party" title="Party"></a></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; text-align: center;"><span style="font-size:12px;">BVega invites you to our Halloween Party on Sunday, October 31st in the Halloween Party Room!!! 8-10 PM</span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="button_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="text-align:center;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div align="center">
																	<!--[if mso]><a:roundrect xmlns:a="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.bingovega.com/monthly-promotions/#party" style="height:34px;width:136px;v-text-anchor:middle;" arcsize="12%" strokeweight="0.75pt" strokecolor="#F5C803" fillcolor="#f5c803"><w:anchorlock/><v:textbox inset="0px,0px,0px,0px"><center style="color:#212121; font-family:Georgia, serif; font-size:12px"><![endif]--><a href="https://www.bingovega.com/monthly-promotions/#party" target="_blank" style="text-decoration:none;display:inline-block;color:#212121;background-color:#f5c803;border-radius:4px;width:auto;border-top:1px solid #F5C803;border-right:1px solid #F5C803;border-bottom:1px solid #F5C803;border-left:1px solid #F5C803;padding-top:0px;padding-bottom:0px;font-family:Georgia, Times, Times New Roman, serif;text-align:center;mso-border-alt:none;word-break:keep-all;" rel="noopener noreferrer"><span style="padding-left:35px;padding-right:35px;font-size:12px;display:inline-block;letter-spacing:normal;"><span style="font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;"><strong><span style="font-size: 12px; line-height: 24px;" data-mce-style="font-size: 12px; line-height: 24px;">More Info</span></strong></span></span></a><br>
																	<!--[if mso]></center></v:textbox></a:roundrect><![endif]-->
																</div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 1px solid #444;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="stitles" style="margin: 0; font-size: 14px; text-align: center;"><strong><span style="font-size:12px;">Spooky BB Tourney</span></strong></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="width:100%;padding-right:10px;padding-left:10px;">
<div align="center" style="line-height:10px"><a href="https://www.bingovega.com/monthly-promotions/#bb" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1632707281/p3-icon_iz7s6k.png" style="display: block; height: auto; border: 0; width: 168px; max-width: 100%;" width="168" alt="spooky" title="spooky"></a></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; text-align: center;"><span style="font-size:12px;">BOO!!!! Yes YOU!!! You are invited to play every weekend, Friday through Sunday in the Spooky BB Tourney!!</span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="button_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="text-align:center;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div align="center">
																	<!--[if mso]><a:roundrect xmlns:a="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.bingovega.com/monthly-promotions/#bb" style="height:34px;width:136px;v-text-anchor:middle;" arcsize="12%" strokeweight="0.75pt" strokecolor="#F5C803" fillcolor="#f5c803"><w:anchorlock/><v:textbox inset="0px,0px,0px,0px"><center style="color:#212121; font-family:Georgia, serif; font-size:12px"><![endif]--><a href="https://www.bingovega.com/monthly-promotions/#bb" target="_blank" style="text-decoration:none;display:inline-block;color:#212121;background-color:#f5c803;border-radius:4px;width:auto;border-top:1px solid #F5C803;border-right:1px solid #F5C803;border-bottom:1px solid #F5C803;border-left:1px solid #F5C803;padding-top:0px;padding-bottom:0px;font-family:Georgia, Times, Times New Roman, serif;text-align:center;mso-border-alt:none;word-break:keep-all;" rel="noopener noreferrer"><span style="padding-left:35px;padding-right:35px;font-size:12px;display:inline-block;letter-spacing:normal;"><span style="font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;"><strong><span style="font-size: 12px; line-height: 24px;" data-mce-style="font-size: 12px; line-height: 24px;">More Info</span></strong></span></span></a><br>
																	<!--[if mso]></center></v:textbox></a:roundrect><![endif]-->
																</div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 1px solid #444;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="stitles" style="margin: 0; font-size: 14px; text-align: center;"><strong><span style="font-size:12px;">Masquerade Ball</span></strong></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="width:100%;padding-right:10px;padding-left:10px;">
<div align="center" style="line-height:10px"><a href="https://www.bingovega.com/monthly-promotions/#masquerade" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1632707282/p4-icon_zyf25k.png" style="display: block; height: auto; border: 0; width: 168px; max-width: 100%;" width="168" alt="Masquerade" title="Masquerade"></a></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; text-align: center;"><span style="font-size:12px;">It’s time to get into costume and put on your masks to attend the Masquerade Ball in the Big Asteroid Room.</span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="button_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="text-align:center;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div align="center">
																	<!--[if mso]><a:roundrect xmlns:a="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.bingovega.com/monthly-promotions/#masquerade" style="height:34px;width:136px;v-text-anchor:middle;" arcsize="12%" strokeweight="0.75pt" strokecolor="#F5C803" fillcolor="#f5c803"><w:anchorlock/><v:textbox inset="0px,0px,0px,0px"><center style="color:#212121; font-family:Georgia, serif; font-size:12px"><![endif]--><a href="https://www.bingovega.com/monthly-promotions/#masquerade" target="_blank" style="text-decoration:none;display:inline-block;color:#212121;background-color:#f5c803;border-radius:4px;width:auto;border-top:1px solid #F5C803;border-right:1px solid #F5C803;border-bottom:1px solid #F5C803;border-left:1px solid #F5C803;padding-top:0px;padding-bottom:0px;font-family:Georgia, Times, Times New Roman, serif;text-align:center;mso-border-alt:none;word-break:keep-all;" rel="noopener noreferrer"><span style="padding-left:35px;padding-right:35px;font-size:12px;display:inline-block;letter-spacing:normal;"><span style="font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;"><strong><span style="font-size: 12px; line-height: 24px;" data-mce-style="font-size: 12px; line-height: 24px;">More Info</span></strong></span></span></a><br>
																	<!--[if mso]></center></v:textbox></a:roundrect><![endif]-->
																</div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 1px solid #444;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="stitles" style="margin: 0; font-size: 14px; text-align: center;"><strong><span style="font-size:12px;">BOOSLOT Tourney</span></strong></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="width:100%;padding-right:10px;padding-left:10px;">
<div align="center" style="line-height:10px"><a href="https://www.bingovega.com/monthly-promotions/#tourney" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1632707282/p5-icon_qmahth.png" style="display: block; height: auto; border: 0; width: 168px; max-width: 100%;" width="168" alt="BooSlot" title="BooSlot"></a></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; text-align: center;"><span style="font-size:12px;">Every weekend, Friday 00:01 until Sunday 23:59, in October join in the Spinning action!!! Simple as can be!!</span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="button_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="text-align:center;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div align="center">
																	<!--[if mso]><a:roundrect xmlns:a="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.bingovega.com/monthly-promotions/#tourney" style="height:34px;width:136px;v-text-anchor:middle;" arcsize="12%" strokeweight="0.75pt" strokecolor="#F5C803" fillcolor="#f5c803"><w:anchorlock/><v:textbox inset="0px,0px,0px,0px"><center style="color:#212121; font-family:Georgia, serif; font-size:12px"><![endif]--><a href="https://www.bingovega.com/monthly-promotions/#tourney" target="_blank" style="text-decoration:none;display:inline-block;color:#212121;background-color:#f5c803;border-radius:4px;width:auto;border-top:1px solid #F5C803;border-right:1px solid #F5C803;border-bottom:1px solid #F5C803;border-left:1px solid #F5C803;padding-top:0px;padding-bottom:0px;font-family:Georgia, Times, Times New Roman, serif;text-align:center;mso-border-alt:none;word-break:keep-all;" rel="noopener noreferrer"><span style="padding-left:35px;padding-right:35px;font-size:12px;display:inline-block;letter-spacing:normal;"><span style="font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;"><strong><span style="font-size: 12px; line-height: 24px;" data-mce-style="font-size: 12px; line-height: 24px;">More Info</span></strong></span></span></a><br>
																	<!--[if mso]></center></v:textbox></a:roundrect><![endif]-->
																</div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 1px solid #444;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="stitles" style="margin: 0; font-size: 14px; text-align: center;"><span style="font-size:12px;"><strong>Ruler of the Galaxy</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="width:100%;padding-right:10px;padding-left:10px;">
<div align="center" style="line-height:10px"><a href="https://www.bingovega.com/monthly-promotions/#ruler" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617065627/rulers-icon_uxinvr.png" style="display: block; height: auto; border: 0; width: 168px; max-width: 100%;" width="168" alt="Ruler of the Galaxy" title="Ruler of the Galaxy"></a></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 14px; text-align: center;"><span style="font-size:12px;">Our July Ruler of the Galaxy is</span><br><span style="font-size:12px;"><strong>Auntigrandma!!!</strong></span><br><span style="font-size:12px;">Congratulations!!</span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="button_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="text-align:center;padding-top:5px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
<div align="center">
																	<!--[if mso]><a:roundrect xmlns:a="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.bingovega.com/monthly-promotions/#ruler" style="height:34px;width:136px;v-text-anchor:middle;" arcsize="12%" strokeweight="0.75pt" strokecolor="#F5C803" fillcolor="#f5c803"><w:anchorlock/><v:textbox inset="0px,0px,0px,0px"><center style="color:#212121; font-family:Georgia, serif; font-size:12px"><![endif]--><a href="https://www.bingovega.com/monthly-promotions/#ruler" target="_blank" style="text-decoration:none;display:inline-block;color:#212121;background-color:#f5c803;border-radius:4px;width:auto;border-top:1px solid #F5C803;border-right:1px solid #F5C803;border-bottom:1px solid #F5C803;border-left:1px solid #F5C803;padding-top:0px;padding-bottom:0px;font-family:Georgia, Times, Times New Roman, serif;text-align:center;mso-border-alt:none;word-break:keep-all;" rel="noopener noreferrer"><span style="padding-left:35px;padding-right:35px;font-size:12px;display:inline-block;letter-spacing:normal;"><span style="font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;"><strong><span style="font-size: 12px; line-height: 24px;" data-mce-style="font-size: 12px; line-height: 24px;">More Info</span></strong></span></span></a><br>
																	<!--[if mso]></center></v:textbox></a:roundrect><![endif]-->
																</div>
</td>
</tr>
</tbody></table>
</th>
<th class="column two" width="50%" style="mso-table-lspace: 0; mso-table-rspace: 0; font-weight: 400; text-align: left; vertical-align: top;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.5; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0;"><strong>Bonfires burning bright,&nbsp;Pumpkin&nbsp;faces in the night, I remember&nbsp;Halloween…</strong></p>
<p style="margin: 0; mso-line-height-alt: 21px;"></p>
<p style="margin: 0;">It is that time of year again when we all get into our creative mood. This month at BVega, we will celebrate this fun time of the year with a Masquerade Ball in Big Asteroid, The Great Pumpkin in Milky Way and a Halloween Party in the Party Room on the 31st!!!&nbsp; To help you all get into the festive spirit, we will have a contest or two via our Facebook Community as well!!!&nbsp; Get out those masks and costumes and come to the land of magic!!</p>
<p style="margin: 0; mso-line-height-alt: 21px;"></p>
<p style="margin: 0;">We would like to give a huge shout out to Donna1978, winner of the Vegas Summer Promotion!!&nbsp; She will be taking her winnings to the Casino!!!&nbsp; She worked hard this summer collecting her chips and the reward was the grand prize!!&nbsp; Again, congratulations Donna1978!!</p>
<p style="margin: 0; mso-line-height-alt: 21px;"></p>
<p style="margin: 0;">We have quite a few promotions in October so please be sure to click on all the links to check them out.&nbsp; We are also going to be working on adding some more bingo games in October J&nbsp; We may even have a facelift before the end of the month!!!</p>
<p style="margin: 0; mso-line-height-alt: 21px;"></p>
<p style="margin: 0;">Thank you to everyone for you continued loyalty and support.&nbsp; We know you have many choices where to play but you choose us and for that, THANK YOU!!</p>
<p style="margin: 0; mso-line-height-alt: 21px;"></p>
<p style="margin: 0;">~Juno and the BVega team~</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #333;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0;"><span style="font-size:18px;"><strong>Hot Games</strong></span></p>
<p style="margin: 0; mso-line-height-alt: 16.8px;"></p>
<p style="margin: 0;"><strong><span style="font-size:16px;">The Haunted Carnival</span></strong></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px;">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 1px solid #444;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td>
<div align="center" style="line-height:10px"><img src="https://res.cloudinary.com/bngvg/image/upload/v1633042093/The_Haunted_Carnival_Game-Button_2x_vot2ku.jpg" style="display: block; height: auto; border: 0; width: 375px; max-width: 100%;" width="375" alt="Game" title="Game"></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.5; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0;">Join <strong>Pumpkinhead </strong>and his zany cast of spooky characters in THE HAUNTED CARNIVAL, a 10-round progression video slot with a wide array of features!</p>
<p style="margin: 0; mso-line-height-alt: 21px;"></p>
<p style="margin: 0;">Each member of the Halloween gang has their own special power during their 10-spin round, including FREE SPINS, RESPINS, huge multipliers, WILDS, and more</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #333;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0;"><span style="font-size:18px;"><strong>Big Winners</strong></span></p>
<p style="margin: 0; mso-line-height-alt: 16.8px;"></p>
<p style="margin: 0;"><strong>Congratulations to some of our Big Winners in September:</strong></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:15px;padding-left:10px;padding-right:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.5; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0;">4 pack tourney is a huge hit on Sunday Nights!! Congratulations to our grand prize winners in September</p>
<ul>
<li><strong>Slzyweezy</strong> – $450 4 pack tourney winner</li>
<li><strong>Pooter1 </strong>– $450 4 pack tourney winner</li>
<li><strong>Nannybloomers </strong>– $450 4 pack tourney winner</li>
</ul>
<p style="margin: 0;"><strong>Our top Slotters in August</strong></p>
<p style="margin: 0; mso-line-height-alt: 21px;"></p>
<p style="margin: 0;"><strong>Eagleye92758</strong> has been slotting in September with cumulative wins topping 27K!!! Keep on spinning!!</p>
<p style="margin: 0; mso-line-height-alt: 21px;"></p>
<p style="margin: 0;"><strong>Jazz345</strong> has once again hit the slots running in September.&nbsp;She has massed over 21K and<strong> our top slotter so far in September goes to……..Donna1978!!&nbsp;</strong></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
</th>
<th class="column three" width="25%" style="mso-table-lspace: 0; mso-table-rspace: 0; font-weight: 400; text-align: left; vertical-align: top;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:15px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="titles" style="margin: 0; text-align: center;"><span style="font-size:14px;"><strong>Hello from Jerri in Support!</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="width:100%;padding-right:10px;padding-left:10px;">
<div align="center" style="line-height:10px"><img src="https://res.cloudinary.com/bngvg/image/upload/v1632709302/cs_flphkx.png" style="display: block; height: auto; border: 0; width: 159px; max-width: 100%;" width="159" alt="CS" title="CS"></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0;"><span style="font-size:13px;"><em>“<strong>Hello everybody!</strong> My name is Bobbie, also known as Jerri in customer support, and I’m the youngest member of the Bingo Vega family at 21 years old. I started a year and a half ago just as relief for my mom who also works in support but overtime it has become my part-time job while I go to college to finish my degree in Psychology. Bingo has been a large part of my whole life as my mom has worked for bingos since 1999, you may know her as Shirley in support or as CM Shirley back when she used to work in chat. I look forward to answering your tickets every morning!”</em></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #333;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="titles" style="margin: 0; text-align: center;"><span style="font-size:13px;"><strong>Look who is turning a year wiser in October!!</strong>&nbsp;</span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="width:100%;padding-right:10px;padding-left:10px;">
<div align="center" style="line-height:10px"><img src="https://res.cloudinary.com/bngvg/image/upload/v1630435682/bday_xfkwct.png" style="display: block; height: auto; border: 0; width: 122px; max-width: 100%;" width="122" alt="Bday" title="Bday"></div>
</td>
</tr>
</tbody></table>
<table class="text_block centers" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.5; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 12px; mso-line-height-alt: 18px;"><span style="font-size:12px;">• October 4 –<br>Happy Birthday <strong>CM RUBY!</strong></span></p>
<p style="margin: 0; font-size: 12px; mso-line-height-alt: 18px;"><span style="font-size:12px;">• October 7 – <br>Happy Birthday <strong>TX3Card</strong></span></p>
<p style="margin: 0; font-size: 12px; mso-line-height-alt: 18px;"><span style="font-size:12px;">• October 11 – <br>Happy Birthday <strong>Wyami</strong></span></p>
<p style="margin: 0; font-size: 12px; mso-line-height-alt: 18px;"><span style="font-size:12px;">• October 21 –<br>Happy Birthday <strong>CM LEE!</strong></span></p>
<p style="margin: 0; font-size: 12px; mso-line-height-alt: 18px;"><span style="font-size:12px;">• October 22 – <br>Happy Birthday <strong>noluckyred</strong></span></p>
<p style="margin: 0; font-size: 12px; mso-line-height-alt: 18px;"><span style="font-size:12px;">• October 23 – <br>Happy Birthday<strong> love to win</strong></span></p>
<p style="margin: 0; font-size: 12px; mso-line-height-alt: 18px;"><span style="font-size:12px;">• October 25 – <br>Happy Birthday <strong>Solara</strong></span></p>
<p style="margin: 0; font-size: 12px; mso-line-height-alt: 18px;"><span style="font-size:12px;">• October 26 – <br>Happy Birthday <strong>CM SHAWN!</strong></span></p>
<p style="margin: 0; font-size: 12px; mso-line-height-alt: 18px;"><span style="font-size:12px;">And Happy Birthday <strong>Auntigrandma</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #333;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-left:10px;padding-right:10px;padding-top:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="titles" style="margin: 0; text-align: center;"><span style="font-size:13px;"><strong>Ongoing Promotions</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-right:10px;padding-bottom:10px;padding-left:10px;">
<div style="font-family: sans-serif">
<div style="font-size: 13px; color: #393d47; line-height: 1.5; font-family: Georgia, Times, Times New Roman, serif;">
<ul class="centers" style="padding: 0 0 0 10px;">
<li><span style="font-size:13px;"><a href="https://www.bingovega.com/monthly-promotions/#four-pack" target="_blank" style="text-decoration: underline; color: #222;" rel="noopener noreferrer">Four Pack Sunday Tourney</a></span></li>
<li><span style="font-size:13px;"><a href="https://www.bingovega.com/monthly-promotions/#monday-depositor" target="_blank" style="text-decoration: underline; color: #222;" rel="noopener noreferrer">Monday Night Depositors Tourney</a></span></li>
<li><span style="font-size:13px;"><a href="https://www.bingovega.com/monthly-promotions/#tuesdays" target="_blank" style="text-decoration: underline; color: #222;" rel="noopener noreferrer"><strong>NEW!! Twisted Tuesday</strong></a></span></li>
<li><span style="font-size:13px;"><a href="https://www.bingovega.com/monthly-promotions/#wednesdays" target="_blank" style="text-decoration: underline; color: #222;" rel="noopener noreferrer">Mobilot Mission Wednesday</a></span></li>
<li><span style="font-size:13px;"><a href="https://www.bingovega.com/monthly-promotions/#palloza" target="_blank" style="text-decoration: underline; color: #222;" rel="noopener noreferrer">Hot Ball Palooza</a></span></li>
<li><span style="font-size:13px;"><a href="https://www.bingovega.com/monthly-promotions/#appreciation" target="_blank" style="text-decoration: underline; color: #222;" rel="noopener noreferrer">We Couldn’t do it Without You</a></span></li>
<li><span style="font-size:13px;"><a href="https://www.bingovega.com/monthly-promotions/#vips" target="_blank" style="text-decoration: underline; color: #222;" rel="noopener noreferrer">Calling All VIPs</a></span></li>
</ul></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="divider_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td class="divider_inner" style="font-size: 1px; line-height: 1px; border-top: 2px solid #333;"><span></span></td>
</tr>
</tbody></table></div>
</td>
</tr>
</tbody></table>
<table class="text_block" width="100%" border="0" cellpadding="10" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td>
<div style="font-family: sans-serif">
<div style="font-size: 14px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p class="titles" style="margin: 0; text-align: center;"><span style="font-size:13px;"><strong>Join our Facebook Community</strong></span></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
<table class="image_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;">
<tbody><tr>
<td style="width:100%;padding-right:0px;padding-left:0px;padding-bottom:5px;">
<div align="center" style="line-height:10px"><a href="https://www.facebook.com/groups/bingovegacommunity" target="_blank" style="outline:none" tabindex="-1" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1627751756/fb_kwil93.png" style="display: block; height: auto; border: 0; width: 122px; max-width: 100%;" width="122" alt="Facebook" title="Facebook"></a></div>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="row row-6" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; background-color: #eaeaea;">
<tbody>
<tr>
<td>
<table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; background-color: #fff;margin: 0 auto;" width="750">
<tbody>
<tr>
<th class="column" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0; font-weight: 400; text-align: left; vertical-align: top;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-bottom:15px;padding-left:20px;padding-right:20px;padding-top:15px;">
<div style="font-family: sans-serif">
<div style="font-size: 12px; color: #545454; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 12px; text-align: center;">Please contact us if you forgot your password. We also love answering questions, big or small.<br>Contact us 24/7 by email or toll-free at 1-888-330-9625.</p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="row row-7" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; background-color: #eaeaea;">
<tbody>
<tr>
<td>
<table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; background-color: #eaeaea;margin: 0 auto;" width="750">
<tbody>
<tr>
<th class="column" width="100%" style="mso-table-lspace: 0; mso-table-rspace: 0; font-weight: 400; text-align: left; vertical-align: top;">
<table class="text_block" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; word-break: break-word;">
<tbody><tr>
<td style="padding-top:5px;padding-bottom:5px;">
<div style="font-family: sans-serif">
<div style="font-size: 12px; color: #393d47; line-height: 1.2; font-family: Georgia, Times, Times New Roman, serif;">
<p style="margin: 0; font-size: 12px; mso-line-height-alt: 14.399999999999999px;"></p>
<p></p></div>
<p></p></div>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>