<table width="624" border="0" align="center" cellpadding="0" cellspacing="0" style="background:url(https://res.cloudinary.com/bngvg/image/upload/v1614569439/bg2_ylsg9a.gif)">
<tbody>
<tr>
<td colspan="2" align="left"><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569440/top1_pqa07s.gif" width="624" height="15" alt=""></td>
</tr>
<tr>

<td colspan="2" align="center" valign="top">
<table width="592" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569617/line1_owkgmt.png" width="592" height="8" alt="bingo"></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614563103/titles_pgvczc.png" width="592" height="95" alt="" style="
height: auto;margin: 10px auto;width: 92%;display: block;"></td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line2_rut0ux.png" width="592" height="5" alt=""></td>
</tr>
<tr>
<td align="center">
<table width="592" border="0" cellspacing="0" cellpadding="4" style="background-color:#444;">
<tbody>
<tr>
<td width="180" align="left" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; "><a target="_blank" href="https://www.bingovega.com" style="color:#fff;text-decoration:none;" rel="noopener noreferrer">www.bingovega.com</a></td>
<td width="188" align="center" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff;"></td>
<td width="180" align="right" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; ">September 1, 2021</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line2_rut0ux.png" width="592" height="5" alt=""></td>
</tr>
</tbody>
</table>
<table width="585" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="180" align="left" valign="top"><!-- In This Issue--><p></p>
<table width="128" border="0" cellspacing="0" cellpadding="5" style="border:1px solid #222; margin-top:10px; background-color:#f9f9f9;">
<tbody>
<tr>
<td align="center" valign="top">
<p></p><table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
                        <!-- 

<tr>
                              

<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">In this Issue</td>


                            </tr>


                            

<tr>
                              

<td style="background-color:#222; height:1px;"></td>


                            </tr>

-->
<tr>
<td style="height:8px;"></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td style="font-size: 15px;font-family: 'Times New Roman', Times, serif;color: #222;line-height: 16px; font-weight: bold;">PROMOTIONS</td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 27px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Never Forget 9-11</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/patriot-day/" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1630436809/t1_gggahm.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">BVega will take pause and honor our fallen and give thanks to all that put their lives on the line.</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/patriot-day/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Autumn Leaves</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/autumn/" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1630436809/t2_xrbuq2.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">Bingo on the MAPLE LEAF PROMO pattern with a $50.00 set prize.</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/autumn/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;"> Spin to Win</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/casino-tournament/" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1630436808/t3_gxpmwk.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">Join us to Spin and Win in September!!!! This month you can SPIN in ANY slot </td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/casino-tournament/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Oktoberfest 2021</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/oktober/" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1630436809/t4_qjiwh7.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">Oktoberfest may be canceled in Munich but at Bingo Vega, we are going to celebrate!!! </td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/oktober/" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Mission Wednesdays</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#wednesdays" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1627748201/mobilots-icon_srmpum.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">Don’t miss the Mobilots Mission Wednesdays!!!</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#wednesdays" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 20px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Calling All VIPs</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#vips" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1627748579/vips1_pe22ti.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px">We want to say THANK YOU to all our VIP’s</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#vips" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;padding:4px 4px;margin-top: 27px;border: 1px solid #eee;">
<tbody>
<tr>
<td style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Ruler of the Galaxy</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#ruler" rel="noopener noreferrer"><img src="https://res.cloudinary.com/bngvg/image/upload/v1617065627/rulers-icon_uxinvr.png" width="128" alt="" style="margin:5px 0;"></a></td>
</tr>
<tr>
<td align="center" style="font-size:11px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.4em; padding: 5px"> Our July Ruler of the Galaxy is<br>
                            <strong>beardude1!!!</strong><br>
                            Congratulations!! 
                         </td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/#ruler" rel="noopener noreferrer">More Info</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td align="center" valign="top" style="width: 275px;"><!-- Big Headline--><p></p>
<p></p><table width="" border="0" cellspacing="0" cellpadding="0" style="
    width: 285px;
">
<tbody>
<tr>
<td style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 1.3em; text-align: justify;padding: 10px 10px;"> It’s beginning to look a lot like…….FALL!!! Had you there for a minute!! At BVega, we will celebrate the changing of season with our Falling Leaves Promotion!! Red, yellow, orange? Collect leaves all month long!! No raking involved!!<p></p>
<p>The fun doesn’t stop there!! We will also celebrate OKTOBERFEST!!! Dust off your bier steins and come hangout in Milky Way daily!! PROST!!<br>
September 11, 2021 will mark 20 years since the most unforgettable day in US History.  Please take a moment to remember all that were lost.  We will never forget 🙁 </p>
<p>At the time of the writing of this newsletter, the Vegas promotion has not ended so we cannot declare the winner but Donna1978 has surely been on the top all 3 months running.  I am sure she has room for me in her suitcase!! I am a wee thing barely reaching 5’!!  Whoever wins, we will want a lot of pictures!!</p>
<p>Personally, fall is my favorite season.  The warm days and cool nights.  Apples, pumpkins and lots of baked goods!! Halloween, Thanksgiving and Christmas are just around the corner!!</p>
<p>Have a great month of September and we all look forward to seeing you in the chat rooms!!</p>
<p>                    ~Juno and the BVega team~ </p></td>
</tr>
</tbody>
</table>
<p>            <!-- Second Headline--></p>
<p></p><table width="" border="0" cellspacing="0" cellpadding="0" style="
    width: 285px;
">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/line3_h21jen.png" width="285" height="5" alt=""></td>
</tr>
<tr>
<td style="font-size: 27px;margin-bottom: 0px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;margin: 5px 0 5px;display: block; text-align: center;">Hot Games<p></p>
</td>
</tr>
<tr>
<td align="left" style="margin-top: 5px;font-size:14px;font-family: 'Times New Roman', Times, serif;color: #222;display: block;padding: 0px 10px 0px 10px"><span style="font-size: 20px"><strong>SHARK SPIN</strong></span><p></p>
<p>Dive deep into the cool blue waters of the ocean and swim with a host of adorable water dwellers when you play SHARK SPIN! With expanding, locking Great White WILDS that offer FREE RESPINS and a generous FREE SPINS mode, there are plenty of fish in this sea!
</p></td>
<td align="left" style="margin-top: 15px;font-size:14px;font-family: 'Times New Roman', Times, serif;color: #222;display: block;padding: 0px 10px 20px 10px"><a target="_blank" href="https://bingovega.com/paas/bva/listslots.action" rel="noopener noreferrer"><img alt="Shark" src="https://res.cloudinary.com/bngvg/image/upload/v1630432947/shark_kexkcl.png" style="width: 100%;margin: 0 auto 35px;display: block;"></a><p></p>
<p> <strong>GAME FEATURES</strong><br>
SHARK SPINS is a 5×3, 10 payline video slot featuring, free spins, respins and wilds. </p>
<p><strong>GREAT WHITE WILDS</strong> – Great white wilds expand and lock the reel into place for a free respin, GREAT WHITE WILDS can occur on reels 2, 3 and 4. GREAT WHITE WILDS can substitute for any symbol except the NEPTUNE’S HORN symbol. </p>
<p><strong>NEPTUNE’S HORN FREE SPINS</strong> – The Neptune’s horn symbol is a scatter symbol. 3 NEPTUNE’S HORN symbols trigger free spins mode and 10 free spins are awarded. The NEPTUNE’S HORN symbol can appear on reels 2, 3, and 4. Free spins cannot be retriggered during the free spins mode. </p>
<p>                      <a target="_blank" href="https://bingovega.com/paas/bva/listslots.action" rel="noopener noreferrer"><img alt="Shark" src="https://res.cloudinary.com/bngvg/image/upload/v1630433475/shark2_xkp9lq.png" style="width: 100%;margin: 0 auto -15px;display: block;"></a></p>
</td>
</tr>
<tr>
<td style="font-size: 27px;margin-bottom: 0px;font-family: 'Times New Roman', Times, serif;color: #222;font-weight: bold;letter-spacing: -2px;margin: 0px 0 5px;display: block; text-align: center;">Big Winners</td>
</tr>
<tr>
<td align="left" style="margin-top: 5px;font-size:14px;font-family: 'Times New Roman', Times, serif;color: #222;display: block;padding: 0px 10px 0px 10px"><strong>Congratulations to our Big Winners in August: </strong><p></p>
<p><strong>Total wins for the month in Bingo were through the roof!!</strong></p>
<p><strong>Mominator222</strong> – $37124.71<br>
<strong>Catnip1951</strong> – $24470.78<br>
<strong>Beardude1</strong> – $14253.80<br>
That’s some duckets!!!</p>
<p><strong>Our top Slotters in August</strong></p>
<p><strong>Donna1978</strong> has hit the reels this August scoring over 252K in wins on the Cash Slots!!!<br>
<strong>Catnip1951</strong> didn’t do too shabby with over 224K in accumulated wins as well on the Cash Slots!!</p>
<p>Kudos to both of our top slotters in August and both have been winning weekly Spin to Win Tournaments!!                  </p>
</td>
</tr>
</tbody>
</table>
</td>
<td width="180" align="left" valign="top"><!-- In This Issue--><p></p>
<table width="128" border="0" cellspacing="0" cellpadding="5" style="border:1px solid #222; margin-top:10px; background-color:#f9f9f9;">
<tbody>
<tr>
<td align="center" valign="top">
<table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px;">Look who is turning a year wiser in September!! <p></p>
</td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;">
</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td style="height:8px;"></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;">
</td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;"><strong> wmarmyvet2 | Sep. 4</strong></td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;"><strong>deb9756 | Sep. 7</strong></td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;"><strong>MEREDO71 | Sep. 11</strong></td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;"><strong>wolley | Sep. 11</strong></td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;"><strong>ladyzee57 | Sep. 12</strong></td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;"><strong>turtle1081 | Sep. 13</strong></td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;"><strong>AutumnsLight | Sep. 18</strong></td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;"><strong>Pammer921 | Sep. 21</strong></td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;"><strong>Psychiclauren | Sep. 25</strong></td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;"><strong>eagleye92758 | Sep. 27</strong></td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;"><strong>LuvTheReds | Sep. 28	</strong></td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;"><strong>meechele29 | Sep. 29</strong></td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;">
</td>
</tr>
<tr>
<td><img src="https://res.cloudinary.com/bngvg/image/upload/v1630435682/bday_xfkwct.png" alt="Bday" style="width: 100%;"></td>
</tr>
<tr>
<td width="127" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 15px;">
</td>
</tr>
</tbody>
</table>
<p></p></td>
</tr>
</tbody>
</table>
<table width="128" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-top: 0px">&nbsp;</td>
</tr>
<tr>
<td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; text-align: center">Ongoing Promotions<p></p>
</td>
</tr>
<tr>
<td style="background-color:#222; height:1px;"></td>
</tr>
<tr>
<td>
<ul style=" padding: 0 0 0 15px; font-size: 13px; line-height: 1.9em">
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#monday-depositor" rel="noopener noreferrer">Monday Night Depositors Tourney</a>  </li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#tuesdays" rel="noopener noreferrer">Tourney Tuesdays</a></li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#wednesdays" rel="noopener noreferrer"><span style="color: red">NEW!!!!</span> Mobilot Mission Wednesday</a></li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#thursdays" rel="noopener noreferrer">Thirsty Thursdays</a></li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#palloza" rel="noopener noreferrer">Hot Ball Palooza</a> </li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#appreciation" rel="noopener noreferrer">We Couldn’t do it Without You</a></li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#four-pack" rel="noopener noreferrer">Four Pack Sunday Tourney</a></li>
<li><a target="_blank" href="https://www.bingovega.com/monthly-promotions/#vips" rel="noopener noreferrer">Calling all VIPS</a></li>
</ul>
</td>
</tr>
<tr>
<td align="center" style="background-color:#f5c803; padding:5px; margin-top: 10px; display: block;"><a target="_blank" style="color: #333; font-size:13px; text-decoration: none!important; font-weight: bold;" href="https://www.bingovega.com/monthly-promotions/" rel="noopener noreferrer">More Info</a></td>
</tr>
<tr>
<td align="left" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 0 10px;">
<p><span style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Hello<br>from CM Shawn </span></p>
<p>                      <img src="https://res.cloudinary.com/bngvg/image/upload/v1630435087/man_cvook7.jpg" style="width:100%;" alt="Shawn"></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
<tbody>
<tr>
<td>
<p style="font-size: 13px; font-family: 'Times New Roman';  margin-top: 10px">Hi I am CM Shawn!</p>
<p>I was born and raised in Canton, Ohio and I am the youngest of 5 kids.<br>
I have two older sisters, and two older brothers.<br>
I am passionate about animals and their wellbeing. I love caring for and spending time with our Dog named Libby and our cat named Luna!<br>
I love seeing new things and new places and one of my dreams is to one day travel to Europe! I also enjoy a good TV show or movie.<br>
I have been working at Vega off and on for about 10 years now and I loveInteracting with the players and getting to know them!</p>
<p>                              Shawn</p>
<p></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="left" style="font-size:13px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;padding: 0 8px;"><span style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #222; font-weight: bold; letter-spacing: 0px; padding-bottom:4px; text-align:center;">Join our Facebook Community</span><p></p>
<hr>
<p>                      <span>Home to our players with great news, announcements, stories and even some giveaways!!</span> </p>
<p>                     <a href="https://www.facebook.com/groups/bingovegacommunity" target="_blank" rel="noopener noreferrer"><img style="width: 100%" src="https://res.cloudinary.com/bngvg/image/upload/v1627751756/fb_kwil93.png" alt="fb"></a> </p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p>      <!-- Footer--></p>
<table width="592" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td align="center" style="font-size:12px; font-family: 'Times New Roman', Times, serif; color: #222; line-height: 16px;"> Please contact us if you forgot your password. We also love answering questions, big or small, so contact us 24/7 by email or toll-free at 1-888-330-9625.</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2" align="left"><img src="https://res.cloudinary.com/bngvg/image/upload/v1614569439/bottom_wlogdh.gif" width="624" height="25" alt=""></td>
</tr>
</tbody>
</table>