﻿@{
    ViewData["Title"] = "Bingo Vega’s Players Gallery";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        <h3>Submit your picture to our gallery and receive 5BB!!</h3>
        <p>Put a face to a name! </p>
        <p>
            Here is the Bingo Vega Players Gallery, where you can see all the beautiful faces of your fellow bingo players. One of the best parts about playing on an online bingo/casino website is all the people you meet. With an online bingo site, you have all the social aspects of a regular bingo hall by chatting with fellow players from all across the country. Our members love seeing who they&rsquo;re talking to, so add your photo to the gallery! <br>
        </p>
        <p>
            We love receiving pictures of everyone, and are always excited to see more. Send in your very first photo, or update your old one by sending it to the Bingo Vega team and we will post it up on our online bingo site for friends and family to see. All you have to do is email your photo to <a href="mailto:support@bingovega.com">support@bingovega.com</a> and we will get you <strong>5BB</strong>. Put your picture on our online bingo site, and share your smiling face with your online friends. <br>
        </p>
        <p><strong>Please note:</strong> You must be an active player with at least 1 deposit on Bingo Vega&rsquo;s online bingo sites to receive comp. </p>
    </div>
    <div class="row">
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm">
                <img src="/images/testimonials/doydoy.png" alt="" class="img-fluid card-img-top">
                <div class="p-4">
                    <h5> <a href="#" class="text-dark">Doy Doy</a></h5>
                </div>
            </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm">
                <img src="/images/testimonials/inkybiker907.png" alt="" class="img-fluid card-img-top">
                <div class="p-4">
                    <h5> <a href="#" class="text-dark">InkyBiker907</a></h5>
                </div>
            </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm">
                <img src="/images/testimonials/laDonna.png" alt="" class="img-fluid card-img-top">
                <div class="p-4">
                    <h5> <a href="#" class="text-dark">La Donna</a></h5>
                </div>
            </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm">
                <img src="/images/testimonials/sassy.png" alt="" class="img-fluid card-img-top">
                <div class="p-4">
                    <h5> <a href="#" class="text-dark">Sassy</a></h5>
                </div>
            </div>
        </div>
        <!-- End -->
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm">
                <img src="/images/testimonials/stetsonsnana.png" alt="" class="img-fluid card-img-top">
                <div class="p-4">
                    <h5> <a href="#" class="text-dark">Stetsonsnana</a></h5>
                </div>
            </div>
        </div>
        <!-- End -->
    </div>
    </div>
