﻿@{
    ViewData["Title"] = "Latest Winners";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent"  id="testimonials">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        <div class="container">
            <div class="row">

                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="card">
                        <div class="face front-face">
                            <img src="/images/testimonials/sassy.png" alt="" class="profile">
                            <div class="pt-3 text-uppercase name"> sassydc15 </div>
                        </div>
                        <div class="face back-face">

                            <div class="testimonial">
                                Hi
                                Just wanted to say that Bingo Vega is great and join and won some money that took care of things with everything going on I love the bingo games and promotions they have wow I even won a box of candy and money.  And all the CM's are amazing especially CM Shirley and her magic dust and sweet thoughts she puts in the tickets.  Well you join this site there we be no regrets  LOVE BINGO VEGA AND ALL THE FAMILY IN BRINGS ;-)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="card">
                        <div class="face front-face">
                            <img src="/images/testimonials/laDonna.png" alt="" class="profile">
                            <div class="pt-3 text-uppercase name"> La Donna </div>
                        </div>
                        <div class="face back-face">

                            <div class="testimonial">
                                Thank you so much Bingo Vega for the beautiful jewelry set and for the honor of being ruler of the galaxy!!  I have been a player at Bingo Vega for a very long time and it is the wonderful Management, Cm’s, and Roomies that keep me coming back!!  I truly feel like I have a community of friends at Bingo Vega!!  Thanks so much for being such an awesome site!!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>