﻿@{
    ViewData["Title"] = "Newsletter";
}
<!--NEWSLETTER OPEN IFRAME DYNAMICALLY-->

<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        <div>
            <h3>NEWSLETTER – APRIL 2021</h3>
        </div>
        <small>Posted on: 1st April 2022</small>
        <div>
            <p>
                 April 1st, 2022   PROMOTIONS   BVEGA EGGSTAVAGANZA Who doesn’t love a fun Easter Egg hunt?   More Info   HAPPY EASTER Here comes Peter Cottontail hopping down the bunny trail! More Info   APRIL WEEKLY CASH SLOT TOURNAMENT…<br>
                <a class="btn btn-primary" data-url="april2022" data-bs-toggle="modal" data-bs-target="#nov2021">Read More</a>
            </p>
        </div>
    </div>
    <div class="whiteBoxContent">
        <div>
            <h3>NEWSLETTER – MARCH 2022</h3>
        </div>
        <small>Posted on: 1st March 2022</small>
        <div>
            <p>
                 March 1st, 2022   PROMOTIONS   Shamrocks, Leprechauns & Rainbows Come find the “Luck of the Irish” with our Shamrock board!!!   More Info   Spring has Sprung at BVEGA Bingo on the FLOWER PROMO pattern to start your…<br>
                <a class="btn btn-primary" data-url="march2022" data-bs-toggle="modal" data-bs-target="#nov2021">Read More</a>
            </p>
        </div>
    </div>
    <div class="whiteBoxContent">
        <div>
            <h3>NEWSLETTER – FEBRUARY 2022</h3>
        </div>
        <small>Posted on: 1st February 2022</small>
        <div>
            <p>
                 February 1st, 2022   PROMOTIONS   Super Vega Bowl Get ready for some football fun Vega Style!    More Info   Valentine’s Day Love is in the air, and at BVega, we love our players.  More Info   Weekend…<br>
                <a class="btn btn-primary" data-url="february2022" data-bs-toggle="modal" data-bs-target="#nov2021">Read More</a>
            </p>
        </div>
    </div>
    <div class="whiteBoxContent">
        <div>
            <h3>NEWSLETTER – JANUARY 2022</h3>
        </div>
        <small>Posted on: 1st January 2022</small>
        <div>
            <p>
                 January 1st, 2022   PROMOTIONS   Vammy Awards Welcome to the Bingo Vammy Awards!!!    More Info   Laptop Giveaway Weekend Laptop Giveaway Slot Tourney More Info   Santa BB Tourney Don’t miss the Mobilots Mission Wednesdays New Slot…<br>
                <a class="btn btn-primary" data-url="january2022" data-bs-toggle="modal" data-bs-target="#nov2021">Read More</a>
            </p>
        </div>
    </div>
    <div class="whiteBoxContent">
        <div>
            <h3>NEWSLETTER – DECEMBER 2021</h3>
        </div>
        <small>Posted on: 1st December 2021</small>
        <div>
            <p>
                 December 1st, 2021   PROMOTIONS   Decorate the Christmas Tree Bingo on the Christmas Tree Promo pattern and collect Ornaments to help decorate the tree!!!    More Info   Christmas Slot Tourney Join us in December for your chance…<br>
                <a class="btn btn-primary" data-url="december2021" data-bs-toggle="modal" data-bs-target="#nov2021">Read More</a>
            </p>
        </div>
    </div>
    <div class="whiteBoxContent">
        <div>
            <h3>NEWSLETTER – NOVEMBER 2021</h3>
        </div>
        <small>Posted on: 1st November 2021</small>
        <div>
            <p>
                November 1st, 2021   PROMOTIONS   Thanksgiving Promotion Thanksgiving is a time for sharing, so this month, our bingo promotion will focus on sharing with our bingo buddies.   More Info   Turkey Hunt Every weekend, Friday…<br>
                <a class="btn btn-primary" data-url="november2021" data-bs-toggle="modal" data-bs-target="#nov2021">Read More</a>
            </p>
        </div>
    </div>
    <div class="whiteBoxContent">
        <div>
            <h3>NEWSLETTER – OCTOBER 2021</h3>
        </div>
        <small>Posted on: 30th September 2021</small>
        <div>
            <p>
                October 1st, 2021 PROMOTIONS Great Pumpkin Hunt Ghosts and Goblins fill the air but the biggest prize of all is in the Great Pumpkin Patch! More Info BVega Halloween Party BVega invites you to our Halloween Party on Sunday, October 31st…<br>
                <a class="btn btn-primary" data-url="october2021" data-bs-toggle="modal" data-bs-target="#nov2021" ">Read More</a>
            </p>
        </div>
    </div>
    <div class="whiteBoxContent">
        <div>
            <h3>NEWSLETTER – SEPTEMBER 2021</h3>
        </div>
        <small>Posted on: 31st August 2021</small>
        <div>
            <p>
                September 1, 2021 PROMOTIONS Never Forget 9-11 BVega will take pause and honor our fallen and give thanks to all that put their lives on the line. More Info Autumn Leaves Bingo on the MAPLE LEAF PROMO pattern with a $50.00 set prize….<br>
                <a class="btn btn-primary" data-url="september2021" data-bs-toggle="modal" data-bs-target="#nov2021" ">Read More</a>
            </p>
        </div>
    </div>
    <div class="whiteBoxContent">
        <div>
            <h3>NEWSLETTER – AUGUST 2021</h3>
        </div>
        <small>Posted on: 1st August 2021</small>
        <div>
            <p>
                August 1, 2021 PROMOTIONS Vacation in Las Vegas We are going to celebrate the Summer holidays with a summer long promotion More Info Back to Schooll  For the month of August, you can play to WIN your favorite student a backpack full of…<br>
                <a class="btn btn-primary" data-url="august2021" data-bs-toggle="modal" data-bs-target="#nov2021" ">Read More</a>
            </p>
        </div>
    </div>
    <div class="whiteBoxContent">
        <div>
            <h3>NEWSLETTER – JULY 2021</h3>
        </div>
        <small>Posted on: 22nd July 2021</small>
        <div>
            <p>
                July1, 2021 PROMOTIONS Vacation in Las Vegas We are going to celebrate the Summer holidays with a summer long promotion More Info Christmas in July  We are going to make it easy for you to start your Christmas shopping More Info Independence Day…<br>
                <a class="btn btn-primary" data-url="july2021" data-bs-toggle="modal" data-bs-target="#nov2021" ">Read More</a>
            </p>
        </div>
    </div>
    <div class="whiteBoxContent">
        <div>
            <h3>NEWSLETTER – JUNE 2021</h3>
        </div>
        <small>Posted on: 22nd July 2021</small>
        <div>
            <p>
                June 1, 2021 PROMOTIONS Vacation in Las Vegas We are going to celebrate the Summer holidays with a summer long promotion More Info Beach Days at BV BV is bringing the beach to you!!!! More Info Bingo Vega Pride Support the LGBTQ community…<br>
                <a class="btn btn-primary" data-url="june2021" data-bs-toggle="modal" data-bs-target="#nov2021" ">Read More</a>
            </p>
        </div>
    </div>
    <div class="whiteBoxContent">
        <div>
            <h3>NEWSLETTER – APRIL 2021</h3>
        </div>
        <small>Posted on: 2nd April 2021</small>
        <div>
            <p>
                April 1, 2021 PROMOTIONS Ruler of the Galaxy Our April Ruler of the Galaxy isFreakingFortunate!!!Congratulations!! In addition to all her goodies, be sure to watch for her special pattern because when she bingos on her pattern, the roomies win!! More Info Vega has…<br>
                <a class="btn btn-primary" data-url="april2021" data-bs-toggle="modal" data-bs-target="#nov2021" ">Read More</a>
            </p>
        </div>
    </div>
    <div class="whiteBoxContent">
        <div>
            <h3>NEWSLETTER – MARCH 2021</h3>
        </div>
        <small>Posted on: 1st March 2021</small>
        <div>
            <p>
                Monday, March 1st, 2021 Promotions Hot Games Ruler of the Galaxy Lucky Leprechaun Cash Bash Collect as many Shamrocks as you can in March to win some great CASH prizes More Info Lucky March Slot Tournament Leprechauns, clovers, pots of gold but most…<br>
                <a class="btn btn-primary" data-url="march2021" data-bs-toggle="modal" data-bs-target="#nov2021">Read More</a>
            </p>
        </div>
    </div>

</div>

<!--NEWSLETTER MODALS-->

<div class="modal fade" id="nov2021" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal">NEWSLETTER – <span id="modalTitle">NOVEMBER 2021</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="600"></iframe>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">$(function () {
        $('a').click(function () {
            var _this = $(this),
                iframe = $('iframe');

            iframe.attr('src', '/html/newsletter/' + _this.attr('data-url') + ".html");
            document.getElementById("modalTitle").innerHTML = _this.attr('data-url');
        });
    });</script>