﻿@{
    ViewData["Title"] = "Testimonials";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class=" mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent" id="testimonials">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        <div class="container">
            <div class="row">

                <div class="col-lg-6">
                    <div class="card">
                        <div class="face front-face">
                            <img src="/images/testimonials/sassy.png" alt="" class="profile">
                            <div class="pt-3 text-uppercase name"> sassydc15 </div>
                        </div>
                        <div class="face back-face">

                            <div class="testimonial">
                                Hi
                                Just wanted to say that Bingo Vega is great and join and won some money that took care of things with everything going on I love the bingo games and promotions they have wow I even won a box of candy and money.  And all the CM's are amazing especially CM Shirley and her magic dust and sweet thoughts she puts in the tickets.  Well you join this site there we be no regrets  LOVE BINGO VEGA AND ALL THE FAMILY IN BRINGS ;-)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="face front-face">
                            <img src="/images/testimonials/noImage.png" alt="" class="profile">
                            <div class="pt-3 text-uppercase name"> Sajaro </div>
                        </div>
                        <div class="face back-face">

                            <div class="testimonial"> Playing at Bingovega makes me so happy.   Recently have had a lot of medical problems and used bingo to help relieve stress and also to cheer me up.   The friends I have on Bingovega are the best, they cheer me up when I am down, especially Catnip who has been particularly nice to me when times were especially bad.  I was very friendly with Scooter and couldn't have been more upset with her passing if we were related. </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="face front-face">
                            <img src="/images/testimonials/noImage.png" alt="" class="profile">
                            <div class="pt-3 text-uppercase name"> jules6669 </div>
                        </div>
                        <div class="face back-face">

                            <div class="testimonial">
                                Hi
                                I just saw that my cashout/winnings have been deposited. Thank you so much. This made my day! I love Bingovega. Thank you again
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="face front-face">
                            <img src="/images/testimonials/inkybiker907.png" alt="" class="profile">
                            <div class="pt-3 text-uppercase name"> Inkybiker907 </div>
                        </div>
                        <div class="face back-face">

                            <div class="testimonial">
                                THANK YOU BINGO VEGA!  My lap top I won I'm the background too, won it at Bingo vega💯💜 this site and the awesome staff and CMs here
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="face front-face">
                            <img src="/images/testimonials/noImage.png" alt="" class="profile">
                            <div class="pt-3 text-uppercase name"> Bgood2670 </div>
                        </div>
                        <div class="face back-face">

                            <div class="testimonial">
                                This site is one of the best sites I have ever came across on the internet. From the games to the customer service you can't find a more fun and attention to details then here. The customer service is top of the line and the payouts are awesome. They have my vote and I will be a client with them for a long long time.
                                Thank you Bingovega.com for the wonderful time and experiences
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="face front-face">
                            <img src="/images/testimonials/laDonna.png" alt="" class="profile">
                            <div class="pt-3 text-uppercase name"> La Donna </div>
                        </div>
                        <div class="face back-face">

                            <div class="testimonial">
                                Thank you so much Bingo Vega for the beautiful jewelry set and for the honor of being ruler of the galaxy!!  I have been a player at Bingo Vega for a very long time and it is the wonderful Management, Cm’s, and Roomies that keep me coming back!!  I truly feel like I have a community of friends at Bingo Vega!!  Thanks so much for being such an awesome site!!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="face front-face">
                            <img src="/images/testimonials/doydoy.png" alt="" class="profile">
                            <div class="pt-3 text-uppercase name"> Doydoy </div>
                        </div>
                        <div class="face back-face">

                            <div class="testimonial">
                                I played at bingoVega.com and win big
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="face front-face">
                            <img src="/images/testimonials/stetsonsnana.png" alt="" class="profile">
                            <div class="pt-3 text-uppercase name"> Stetsonsnana </div>
                        </div>
                        <div class="face back-face">

                            <div class="testimonial">
                                I LOVE BingoVega! This is the best site I have found. It's fun, friendly and exciting. I couldn't believe it when I logged in and saw I won the Emerald earings giveaway! Thank you all so much!!!!
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>