﻿@{
    ViewData["Title"] = "Join Bingo Vega Affiliate Program!";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent text-center" style="font-size:24px;">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        <a href="#">Register Now and Get <strong>50% revenue share </strong>for the first three months!</a>
    </div>
    <div class="whiteBoxContent">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
                <h3>Why should you join the Bingo Vega Affiliate Program?</h3>
                <ul>
                    <li>Competitive life-time affiliate revenue share commission with no negative carryover</li>
                    <li>Timely payments</li>
                    <li>A reliable reporting back-end</li>
                    <li>Updated and personalized marketing materials</li>
                    <li>Weekly and monthly promotions for your players</li>
                    <li>Flexible commission structures based on performance</li>
                    <li>A dedicated Affiliate Manager</li>
                </ul>
                <br />
                <p>
                    <strong>The Bingo Vega Affiliate Program</strong> is a true one-stop affiliate program. We offer you a life-time revenue share with no negative carryover. You can be sure to receive your payment on time every month.

                    We understand each affiliate has its own expectations and requirements which is why we also offer other commission structures based on a case by case situation and upon approval.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-6 offset-lg-3 offset-sm-3">
                <a href="mailto:affiliates@bingovega.com?subject=Bingo Vega Rewards Inquiry" class="btn btn-primary">Contact us about other flexible commission structures.</a>
            </div>
            <div class="col-12 col-sm-12 col-lg-12 d-flex justify-content-center my-3">
                <a href="https://track.vegarewards.com/signup/" target="_blank" class="btn btn-danger btn-lg">Join Vega Rewards Here</a>
            </div>
        </div>
    </div>
</div>
