﻿@{
    ViewData["Title"] = "History";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="bg-white mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        <p><strong>Bingo Vega</strong> (operations at&nbsp;Casino Vega 1999) was established on the Internet in December 2001. Since the launch of our operations in 1999, thousands of players have enjoyed our Bingo games from the comfort of their own homes. We establish solid relationships with our players by providing unsurpassed customer support and a willingness to respond to player suggestions.</p>
        <p>
            <strong>Bingo Vega</strong> utilizes award-winning, industry leading Bingo software. The software is designed to overcome the inherent problems with playing Bingo over the internet, ensuring that the patron holding the winning card is awarded their prize no matter what happens after the game starts. We are currently offering the latest technology in casino and bingo software. Our fun online games include: <strong>75 ball bingo</strong>, <strong>multi-line slots</strong>, <strong>video poker</strong>, <strong>keno</strong>, <strong>pull tabs</strong>, and <strong>table games</strong><br>
        </p>
        <p>Our knowledgeable staff work very hard to provide our patrons a&nbsp;timely response to inquiries through our integrated Support Desk feature. Using this system, patrons can view a complete history of correspondence and track the status of new tickets.&nbsp;&nbsp;We also offer scheduled Phone and Email Support for your convenience. </p>
        <p>Our top priority to you is to provide maximum confidentiality and security. There are no short cuts taken to provide our patrons with a secure, fair and friendly gaming environment. We have implemented the most up-to-date encryption and data protection methods and standards.</p>
    </div>
</div>