@model BankViewModel
@{
    ViewData["Title"] = "Bingo Vega Cashier";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">

    <ul class="nav nav-pills mb-3" id="pills-tab">
        <li class="nav-item">
            <a class="nav-link active" id="pills-contact-tab" data-bs-toggle="pill" href="#depositnow">Deposit now</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-home-tab" data-bs-toggle="pill" href="#withdrawal">Withdrawal</a>
        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">

        <!--DEPOSIT NOW-->

        <div class="tab-pane fade show active" id="depositnow">
            <div class="p-3 bg-white rounded-bg" style="position:relative">
                <div id="overlay" style="display:none">
                    <div class="d-flex" style="min-height: 50vh;">
                        <h2 style="font-size: 20px; margin: auto;" class="text-white">You have a pending withdrawal request or you have exceeds the amount balance allowed</h2>
                    </div>
                </div>
                <h3>Deposit Methods</h3>
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-4" id="deposits">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a class="active" href="#vegacredit" data-bs-toggle="pill">Vega Credit</a></li>
                            @if (Model.DepositsLastMonth > 2)
                            {
                                <li><a href="#echeck" data-bs-toggle="pill">E-check</a></li>
                            }
                        </ul>
                    </div>
                    <div class="col-sm-8 col-lg-8 col-8">
                        <div class="row justify-content-center">
                            <div class="whiteBoxContent">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="vegacredit">
                                        <h2>Vega Credit</h2>
                                        <p>Fund your account instantly with your Visa or Master Card.</p>
                                        @using (Html.BeginForm("SelectCreditCard", "Bank", FormMethod.Post))
                                        {
                                            <div class="form-group">
                                                <div class="blue-box">
                                                    <div class="col-12 col-sm-12 col-lg-12">
                                                        @Html.LabelFor(model => model.Amount, new { @class = "control-label" })
                                                    </div>
                                                    <div class="col-12 col-sm-6 col-lg-6 offset-sm-3 offset-lg-3">
                                                        @Html.DropDownListFor(model => model.Amount, new SelectList(Model.Amounts), new { @class = "form-select" })
                                                    </div>
                                                </div>

                                                <div class="col-12 col-sm-12 col-lg-12">
                                                    <input type="submit" class="btn btn-primary purple-btn float-end" value="Next">
                                                </div>
                                            </div>
                                        }

                                    </div>
                                    @if (Model.DepositsLastMonth > 2)
                                    {

                                        <div class="tab-pane fade" id="echeck">
                                            <h2>E-check</h2>
                                            <p>
                                                Fund your e-check account via ACH and then transfer funds to your gaming account.
                                            </p>
                                            @using (Html.BeginForm("Echeck", "Bank", FormMethod.Post))
                                            {
                                                <div class="form-group">
                                                    <div class="blue-box">
                                                        <div class="col-12 col-sm-12 col-lg-12">
                                                            @Html.LabelFor(model => model.EcheckAmount, new { @class = "control-label" })
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-lg-6 offset-sm-3 offset-lg-3">
                                                            @Html.DropDownListFor(model => model.EcheckAmount, new SelectList(Model.Amounts), new { @class = "form-select" })
                                                        </div>
                                                    </div>

                                                    <div class="col-12 col-sm-12 col-lg-12">
                                                        <input type="submit" class="btn btn-primary purple-btn float-end" value="Next">
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--FLOWBACK-->
        <div class="tab-pane fade" id="withdrawal">
            @if (Model.HasWithdrawal) {
                <div class="bg-white rounded-bg p-3 col-sm-12 col-lg-12 col-12 flowback">
                <div class="col-12 col-sm-12 col-lg-12">
                    <h3>Pending Withdrawals Request</h3>
                    You have arrived at this page due to a recent request for a Withdrawal that has not been processed yet. Show below are the pending payout request(s), with the option to return this money to your account.
                </div>
                <div class="col-12 col-sm-12 col-lg-12 my-3">
                    <table width="100%" class="table table-striped" id="tabla" style="text-align:center">
                        <tbody>
                            <tr>
                                <th width="10%">Transaction date</th>
                                <th width="10%">Transaction #</th>
                                <th width="10%">Original Amount</th>
                                <th width="10%">Balance</th>
                                <th width="9%"></th>
                            </tr>
                            <tr>
                                <td>@Model.Withdrawal.TransactionDate.ToString("MMMM dd, yyyy hh:mm tt")</td>
                                <td>@Model.Withdrawal.TransactionNumber</td>
                                <td>@Model.Withdrawal.Amount</td>
                                <td>@Model.Withdrawal.Balance</td>                              
                                <td>
                                   @* <a class="btn btn-danger rounded-bg" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal">Cancel request</a>*@
                                <input type="button" id="cancelBtn" class="btn btn-danger rounded-bg" value="Cancel request">  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            }     
            else {                
            <div class="bg-white rounded-bg p-3 col-sm-12 col-lg-12 col-12">
                <div class="row justify-content-center">
                    <h3>Withdrawals</h3>
                    <br>
                    <h4 class="balanceTitle">Current Balance</h4>                  
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4 col-sm-4 col-lg-4">
                                    <div class="purpleBox">
                                        @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "form-label" })
                                        <input class="form-control-plaintext" type="text" value="$@Model.Total" readonly>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4 col-lg-4">
                                    <div class="purpleBox">
                                        @Html.LabelFor(model => model.Bonus, htmlAttributes: new { @class = "form-label" })
                                        <input class="form-control-plaintext" type="text" value="$@Model.Bonus" readonly>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4 col-lg-4">
                                    <div class="purpleBox">
                                        @Html.LabelFor(model => model.Available, htmlAttributes: new { @class = "form-label" })
                                        <input class="form-control" type="text" value="@Model.Available" readonly>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-6 offset-sm-3 offset-lg-3">
                                    <br>
                                    @Html.DropDownListFor(model => model.PaymentMethod, new SelectList(Model.PaymentMethods, "Id", "Name"), "Please, select your payment method", new { @class = "form-select" })
                                    <div class="blue-box mt-3">
                                        <h4>Please scpecify the amount to withdraw</h4>
                                        <div class="col-12 col-sm-6 col-lg-6 offset-sm-3 offset-lg-3">

                                            @Html.EditorFor(model => model.WithdrawalAmount, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @Type = "number",
                                                    @oninvalid = "setCustomValidity('Withdrawal Request must be greater than $200')",
                                                    @oninput = "setCustomValidity('')",
                                                    @min = "200"
                                                }
                                            })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="float-end">
                            <input type="button" id="WithdrawalBtn" class="btn btn-primary purple-btn" value="Send withdrawal request">                            
                        </div>
                    @*}*@
                </div>
            </div>
            }
        </div>
    </div>

    <div class="mt-3 p-3 bg-white rounded-bg">
        <h5 style="margin-bottom:0px">Important Notice Regarding Credit card Declines</h5>

        <small>Please note that you may be declined in our credit card processor regardless of whether you have sufficient funds available. This is because many card issuing banks have a policy to decline online gaming charges. If this is the case you should use one of our alternative deposit methods.</small>

        <h5 style="margin-bottom:0px">A Note on Security</h5>

        <small>BingoVega has incorporated proprietary encoding and processing technologies that allow for complete security of financial transactions via the Internet. This includes the use of SSL Protocol to provide privacy and reliability between two communicating applications. SSL uses encryption, which ensures server and client authentication. This is done through encrypted algorithms and cryptographic keys. All sensitive information is stored on a computer separated from the Internet.</small>
    </div>
    <div class="col-12 col-sm-6 col-lg-6 offset-sm-3 offset-lg-3 text-center mt-3">
        <img src="/assets/badge.png" style="width:100%; max-width:200px; height:auto" />
    </div>
</div>

<!-- Modal Confirm Flowback -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-3">
            <div class="modal-header mb-2">
                <h4 class="modal-title" id="modalTitle">Withdrawal Request</h4>
            </div>
            <div class="modal-body blue-box my-3">
                <h5><b>Please confirm you want to cancel the pending withdrawal request</b></h5>
                <p id="modalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="CancelButton" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
                <button type="button" id="OkButton" class="btn btn-primary">Cancel Withdrawal Request</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        validateAmounts();
        hasWD();

    });//Document

    function hasWD() {

        if ('@Model.HasWithdrawal' == 'True' || '@Model.BalanceExceedsMax' == 'True') {
            document.getElementById("overlay").style.display = "block";
        }else{

        }

    }

    function validateAmounts() {

        if (@Model.Available==0)
        {
            $("#WithdrawalAmount").attr("disabled", "disabled");
            $("#WithdrawalBtn").attr("disabled", "disabled");
        }
    }

    $("#WithdrawalBtn").on("click", function () {

        if ($(PaymentMethod).val() == "") {
            alert("Please select a payment method");   
            
        }       
        else {

            var link = "@Url.Action("WithdrawalRequest", "Bank")";
            $.ajax({
                type: "POST",
                url: link,
                data: { "WithdrawalAmount": $(WithdrawalAmount).val(), "PaymentMethod":$(PaymentMethod).val()},
                dataType: "json",
                success: function (response) {
                    if (response.result) {
                        alert("Transaction successful");
                         window.location.href = response.redirectToUrl;;
                    }else{
                        alert("We sorry, something happend, please try again!");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("error");
               }
            });
        }
        });


        //cancelBtn
    $("#cancelBtn").on("click", function () {            
            var link = "@Url.Action("cancelWithdrawal", "Bank")";
                      
            $.ajax({
                type: "POST",
                url: link,
                data: { "transaction" :"@Model.Withdrawal.TransactionNumber", 
                        "amount" : "@Model.Withdrawal.Amount",
                        "paymentMethod" : "@Model.Withdrawal.PaymentMethodId",
                },
                dataType: "json",
                success: function (response) {
                    if (response.result) { 
                        alert("Transaction successful");
                         window.location.href = response.redirectToUrl;;
                    }else{
                        alert("we sorry, Insufficient funds for redemption request");
                    }                   
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("error");                   
               }
               });

        });

</script>
