﻿@model CreditCardViewModel
@{
    ViewData["Title"] = "Bingo Vega Cashier"; ;
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>

<div class="tab-pane fade show active" id="depositnow">
    <div class="mt-3 rounded-mix p-5 planetary-bg">
        <div class="bg-white rounded-bg p-3 col-sm-12 col-lg-12 col-12">
            <div class="row justify-content-center">
                <section>
                    <div class="whiteBoxContent">
                        <h2 class="mb-4">Register a New Credit Card</h2>

                        <div class="row">
                            <div class="col-12 col-sm-4 col-lg-4">
                                <div class="blue-box">
                                    <h4 style="color: #4895EF ">Credit Card Information</h4>
                                    <div class="col-12 col-sm-12 col-lg-12">
                                        <label for="creditCardType" class="form-label">Credit Card Type</label>
                                        @Html.DropDownListFor(model => model.card.CardType, new SelectList(Model.CrediCardTypes, "Id", "Type"), new { @class = "form-select" })

                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-12">
                                        <label class="form-label">Card Number</label>
                                        @Html.EditorFor(model => model.card.CardNumber, new { htmlAttributes = new { @class = "form-control text-center", @placeholder = "XXXX XXXX XXXX XXXX", @onkeypress = "return formats(this,event)", @onkeyup = "return numberValidation(event)" } })
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-12">
                                        <label class="form-label">Expiry Date</label>
                                        @Html.EditorFor(model => model.ExpiredDate, new { htmlAttributes = new { @class = "form-control text-center", @maxlength = '5', @placeholder = "MM/AA", @onkeyup = "formatString(event);" } })

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-8 col-lg-8">
                                <div class="blue-box">
                                    <h4 style="color: #4895EF ">Billing Address</h4>
                                    <div class="row">
                                        <div class="col-10 col-sm-10 col-lg-10">
                                            <label class="form-label">First Name</label>
                                            @Html.EditorFor(model => model.card.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-2 col-sm-2 col-lg-2">
                                            <label class="form-label">Initial</label>
                                            @Html.EditorFor(model => model.card.MiddleName, new { htmlAttributes = new { @class = "form-control", @maxlength = '1' } })
                                        </div>
                                        <div class="col-2 col-sm-12 col-lg-12">
                                            <label class="form-label">Last Name</label>
                                            @Html.EditorFor(model => model.card.LastName, new { htmlAttributes = new { @class = "form-control" }})
                                        </div>
                                        <div class="col-2 col-sm-12 col-lg-12">
                                            <label class="form-label">Address</label>
                                            @Html.EditorFor(model => model.card.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-6">
                                            <label for="creditCardType" class="form-label">Country</label>
                                            @Html.DropDownListFor(model => model.card.Country, new SelectList(Model.Countries), "Please select your country", new { @class = "form-control p-2" })
                                        </div>
                                        <div class="col-2 col-sm-6 col-lg-6">
                                            <label class="form-label">Postal/Zip Code</label>
                                            @Html.EditorFor(model => model.card.Postalcode, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-6">
                                            <label for="creditCardType" class="form-label">State</label>
                                            @Html.EditorFor(model => model.card.Province, new { htmlAttributes = new { @class = "form-control", @placeholder = "State/Province" } })
                                        </div>
                                        <div class="col-2 col-sm-6 col-lg-6">
                                            <label class="form-label">City</label>
                                            @Html.EditorFor(model => model.card.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                                        </div>
                                        <div class="col-2 col-sm-6 col-lg-6">
                                            <label class="form-label">Phone</label>
                                            @Html.EditorFor(model => model.card.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "(xxx) xxx-xxx", @onkeydown = "CCphoneNumberFormatter()" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-lg-12 d-flex align-content-center">
                                    <input type="button" id="btnSave" class="btn btn-primary purple-btn float-end" value="Save your Credit Card Details">
                                    <button type="button" class="btn btn-link float-end" onclick="history.back()">Cancel</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>
<script>
    
    $('#datepicker').datepicker({
        autoclose: true
    });

     $("#btnSave").on("click", function () {

        var cont = 0;
        //if (informationIsMissing()) {
        //    cont++;
        //}
        //else if (!areConfirmationControlValid()) {
        //    cont++;
        //}else
        //if (!userAcceptTerms()) {
        //    cont++;
        //}else
        //if (!isPasswordLenghtValid()) {
        //    cont++;
        //} else
        //if (!isEmailFormatValid()) {
        //    cont++;
        //} else
        //if (!isAliasFormatValid()) {
        //    cont++;
        //} else
        //if (!isAliasLengthValid()) {
        //    cont++;
        //}
                  
         const date = $("#ExpiredDate").val().split("/");
         var month;
         var year;

         if (date.length=2) {
             month = date[0];
             year = date[1];
         }             

        if (cont == 0)
        {                      
            var card = {
                "Id": @Model.card.Id,
                "CardType": $("#card_CardType").val(),
                "CardNumber": $("#card_CardNumber").val(),
                "ExpiryMonth": month,
                "ExpiryYear": year,
                "FirstName": $("#card_FirstName").val(),
                "LastName": $("#card_LastName").val(),
                "MiddleName": $("#card_MiddleName").val(),
                "Address": $("#card_Address").val(),
                "Country": $("#card_Country").val(),
                "Postalcode": $("#card_Postalcode").val(),
                "Province": $("#card_Province").val(),                
                "City": $("#card_City").val(),
                "Phone": $("#card_Phone").val(),                
            };

            var link = "@Url.Action("Register", "Bank")";

            $.ajax({
                type: "POST",
                url: link,
                data: card,
                dataType: "json",
                success: function (response) {
                    window.location.href = response.redirectToUrl;;
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("error");
                    //$("#vmGeneralMessage").css('display', 'inline');
                }

            });
        } else {
            alert("Please check the warnings!");
        }
        });   

</script>
