﻿@model string

<div class="row">
    <div class="col-12 col-sm-12 col-lg-12 mt-3 rounded-mix p-5 planetary-bg">
        <div class="whiteBoxContentFull" id="videoPoker">
            <iframe name="iframe_bva" id="iframe_bva" allowfullscreen="" scrolling="auto"
                    src="@Model"
                    style="width: 100%;" frameborder="0"></iframe>
            
            <div class="col-12 col-sm-6 col-lg-4 offset-lg-4">
                <a class="btn btn-secondary bingoRoomBtn " href="/Bank/Banking">Back to Bank</a>
            </div>
        </div>
    </div>
</div>