﻿@model DepositNowViewModel
@{
    ViewData["Title"] = "Bingo Vega Cashier"; ;
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="tab-pane fade show active" id="depositnow">
    <div class="mt-3 rounded-mix p-5 planetary-bg">
        <div class="bg-white rounded-bg p-3 col-sm-12 col-lg-12 col-12">
            <div class="row justify-content-center">
                <section>
                    <div class="whiteBoxContent" id="selectCC">
                        <h3>Select Credit Card</h3>
                        <p>To deposit money into your account, select a credit card from the list below, input your Card Verification Number and press Submit.</p>

                        <div class="col-12 col-sm-6 col-lg-4 blue-box offset-sm-3 offset-lg-4">
                            <label class="control-label"> Amount to deposit</label>
                            <input id="depositAmount" style="color:#FFF; font-size:24px" type="text" value="@Model.Amount" disabled>
                        </div>
                        <br>
                        <div class="col-12 col-sm-4 col-lg-4 offset-sm-4 offset-lg-4 text-center">
                            <div class="htmlLink">
                                <i class="fas fa-plus-circle mx-2"></i>@Html.ActionLink("Add new credit Card", "AddCreditCard", "Bank", null)
                            </div>
                        </div>

                        <div>
                            @if (@Model.CreditCards.Count > 0)
                            {
                            <table width="100%" class="table table-striped" id="tabla" style="text-align:center">
                                <tbody>
                                    <tr>
                                        <th width="27%">Holder Name</th>
                                        <th width="15%">Card Number</th>
                                        <th width="15%">Exp. Date</th>
                                        <th width="15%">CVV</th>
                                        <th width="9%"></th>
                                        <th width="9%"></th>
                                        <th width="9%"></th>
                                    </tr>

                                    @foreach (var card in Model.CreditCards)
                                    {
                                        <tr>
                                            <td style="text-transform:uppercase;font-size:14px;">@card.FirstName @card.MiddleName @card.LastName</td>
                                            <td>@card.CardType / @card.CardNumber.Substring(12)</td>
                                            <td>@card.ExpiryMonth/@card.ExpiryYear</td>
                                            <td><input type="text" placeholder="Cvv" min="1" id="cvv"></td>
                                            <td><a onclick="Select('@card.Id', this)" href="javascript:void(0)">Select</a></td>
                                            <td><a onclick="Edit('@card.Id')" href="javascript:void(0)">Edit</a></td>
                                            <td><a onclick="Delete('@card.Id', this)" href="javascript:void(0)">Delete</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>



                            }
                            else
                            {
                                <br>
                                <p>No available cards, please create one to continue!</p>
                            }

                        </div>
                        <div class="col-12 col-sm-6 col-lg-12 ">
                            <p class="text-center">Please download, fill and send back to us by email the Credit Card Authorization Form  <a role="button" href="/assets/pdf/BV-Services-Credit-Card-Authorization.pdf" target="_blank">Download Authorization Form</a></p>
                        </div>
                        <br>
                    </div>
                </section>
            </div>

            <div class="col-12 col-sm-12 col-lg-12">
                <a class="btn btn-primary purple-btn" href="/Bank/Banking"><i class="fas fa-arrow-alt-circle-left"></i> Back to deposits methods</a>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-3">
            <div class="modal-header mb-2">
                <h4 class="modal-title" id="modalTitle">Confirm Credit Card</h4>
            </div>
            <div class="modal-body blue-box my-3">
                <h5><b>Please confirm you want to use the following Credit Card</b></h5>
                <p id="modalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="CancelButton" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="OkButton" class="btn btn-primary"> </button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/SelectCreditCardUtils.js" type="text/javascript" debug="true"></script>

<script>

    function Select(id, row2) {
        var table = document.getElementById('tabla');
        var row = table.rows[$(row2).closest('tr').index()];
        var cellCode = row.cells[3];
        var cellCard = row.cells[1];
        var code = cellCode.querySelector('input').value;
        if (isEmpty(code)) {
            alert("Cvv can not be empty");
        }
        else if (!isAValidCvv(code)) {
            alert("Cvv must have 3 digit minimum and 4 digit maximum");
        }
        else {
            var btn = document.getElementById("OkButton");
            btn.onclick = function () { cardSelected(id, code); };
            btn.innerHTML = "Confirm";

            $("#modalTitle").text("Confirm Credit Card");

            var element = document.getElementById("modalText");
            element.innerHTML = cellCard.innerHTML;

            $('#exampleModal').modal('show');

        }


    }

    function Edit(id) {

        var link = "@Url.Action("EditCreditCard", "Bank", new { @Id="Id"})";
        var newLink=link.replace("Id", id);
        //alert(link);
        window.location.href = newLink;
    }

    function Delete(id, row2) {
        var btn = document.getElementById("OkButton");
        btn.onclick = function () { deleteCard(id); };
        btn.innerHTML = "Delete";

        $("#modalTitle").text("Do you really want to delete this card?");

        var table = document.getElementById('tabla');
        var row = table.rows[$(row2).closest('tr').index()];
        var cell = row.cells[1];

        var element = document.getElementById("modalText");
        element.innerHTML = cell.innerHTML;

        $('#exampleModal').modal('show')

    }

    function cardSelected(id, code) {

        var link = "@Url.Action("deposit", "Bank")";

        if (@Model.Amount== 0) {
            alert("es cero");
        } else { 
            $.ajax({
                type: "POST",
                url: link,
                data: { "id": id, "code": code, "amount": "@Model.Amount"},
                dataType: "json",
                success: function (response) {
                    window.location.href = response.redirectToUrl;
                    $("#CancelButton").click();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("An error has ocurred, please try again!!");
                    $("#CancelButton").click();
                }
            });     
        }

    }

    function deleteCard(id) {

        var link = "@Url.Action("DeleteCard", "Bank", new { @Id = "Id" })";        
        var newLink=link.replace("Id", id);        
        window.location.href = newLink;
    }


</script>