﻿<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent" id="signup">
        <div>
            <p class="text-center">
                You have successfully registered your withdrawal request
            </p>
            <br>
            <div class="bingoRoomFooter px-3">
                @Html.ActionLink("Back to bank", "Banking", "Bank", null, new { @class = "btn btn-secondary bingoRoomBtn" })
            </div>

        </div>
    </div>
</div>

