﻿@{
    bool isLogedIn = Session.isUserLogedIn(Context);
}

@using Microsoft.AspNetCore.Http
@using BingoVega.FrontEnd.Utils
@{
    ViewData["Title"] = "Casino Cash Back";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class=" mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <p>Play any of your favorite games between Monday and Thursday and if you finish the week with a losing record, we will credit you with 10% of your losses as a bonus, up to $100 so you can get back to spinning and winning.</p>

        <strong>Terms and Conditions</strong>
        <ul>
            <li>Casino Cash Back Bonus is calculated from Monday 12:01 AM EST to Thursday 11:59 PM EST</li>
            <li>Player must submit a support ticket on Thursdays no later than 11:59 PM  to claim their Casino Cash Back Bonus</li>
            <li>There is a 45x wagering requirement on all Casino Cash Back Bonuses.</li>
            <li>Player cannot have a pending withdrawal</li>
            <li>If a player received a withdrawal within the week a claim for cash back bonus cannot be made.</li>
            <li>Player balance must be 0</li>
        </ul>
        <div class="d-flex justify-content-center my-4">
            @if (isLogedIn)
            {
                <a asp-controller="LobbyGames" asp-action="BingoRooms"  type="button" class="btn btn-warning fw-bold p-3 text-uppercase">Play Now</a>
            }
            else
            {
                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning fw-bold p-3 text-uppercase">Play Now</button>
            }
        </div>
    </div>
</div>
