﻿@{
    bool isLogedIn = Session.isUserLogedIn(Context);
}

@using Microsoft.AspNetCore.Http
@using BingoVega.FrontEnd.Utils
@{
    ViewData["Title"] = "Deposit Bonuses";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <h3>WEEKDAY BONUS</h3>
        <p>
            Offer valid from Mondays 12:00am Through Thursdays 11:59pm
        </p>
        <ul>
            <li>Up to $49 – 200%</li>
            <li>$50 to $99 – 300%</li>
            <li>$100+ – 500%</li>
            <li>$200+ – 700%</li>
        </ul>
        <div class="alert alert-secondary" role="alert">
            WEEKDAY MULTIPLIER BONUS: – Multiple deposits in a single day are elegible for the multiplier. – Second deposits of any value add 50% to qualifying bonus. – Third deposits of any value add 100% to qualifying bonus. Note: Cannot be combined with any other offer.
        </div>
        <div class="d-flex justify-content-center my-4">
            @if (isLogedIn)
            {
                <a asp-controller="LobbyGames" asp-action="BingoRooms" type="button" class="btn btn-warning fw-bold p-3 text-uppercase">Play Now</a>
            }
            else
            {
                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning fw-bold p-3 text-uppercase">Play Now</button>
            }
        </div>
    </div>
    <div class="whiteBoxContent" id="weekends">
        <h3>WEEKEND BONUS</h3>
        <p>
            Offer valid from Friday 12:00 AM to Sunday 11:59 PM.
        </p>
        <ul>
            <li>Up to $49 – 200%</li>
            <li>$50 – $99 – 350%</li>
            <li>$100+ – 600%</li>
            <li>$200+ – 800%</li>
        </ul>
        <div class="alert alert-secondary" role="alert">
            WEEKEND MULTIPLIER BONUS: – Multiple deposits in a single day are elegible for the multiplier. – Second deposits of any value add 100% to qualifying bonus. Third deposits of any value add 200% to qualifying bonus. Note: Cannot be combined with any other offer.
        </div>
        <div class="d-flex justify-content-center my-4">
            @if (isLogedIn)
            {
                <a asp-controller="LobbyGames" asp-action="BingoRooms" type="button" class="btn btn-warning fw-bold p-3 text-uppercase">Play Now</a>
            }
            else
            {
                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning fw-bold p-3 text-uppercase">Play Now</button>
            }
        </div>
    </div>
    <div class="alert alert-primary text-center my-5" role="alert">
        To receive your extra bonus, please submit a ticket to support requesting your extra bonus. You must claim within 30 minutes of your deposit. Just click on the support tab, contact us, complete the ticket and click submit.
    </div>
</div>