﻿@*@model BingoVega.FrontEnd.Models.HomeViewModel*@

@{
    ViewData["Title"] = "HomePage";
}
<div>
    <a href="/SignUp/SignUp"><img src="/images/registerBanner.png" class="d-block w-100" alt="..."></a>
</div>
<div id="carouselSlider" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="/html/lp/2021/december/xmas-tree.html" target="_blank"><img src="/images/promotions/2021/december/homeSlider/promo-1-tree.png" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
            <a href="/Home/Promotions/#santabb"><img src="/images/promotions/2021/december/homeSlider/promo-2-santa-bb.png" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
            <a href="/Home/Promotions/#party"><img src="/images/promotions/2021/december/homeSlider/promo-3-xmas-party.png" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
            <a href="/html/lp/2021/december/new-year.html" target="_blank"><img src="/images/promotions/2021/december/homeSlider/promo-5-new-year-banner.png" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
            <a href="/Home/Promotions/#saturday"><img src="/images/promotions/2021/december/homeSlider/promo-6-saturday-night.png" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
            <a href="/html/lp/2021/december/xmas-slots.html" target="_blank"><img src="/images/promotions/2021/december/homeSlider/promo4-xmas-tourney.png" class="d-block w-100" alt="..."></a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselSlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div id="latestWinners" class="row">
    <div class="col-sm-12 col-lg-12 col-12 mt-3">
        <div class="latestWinnersContent ">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-12">
                    <img src="/images/testimonials.png" style="width:100%; max-width:1200px; height:auto;" />

                </div>
            </div>
        </div>
    </div>
</div>
<div id="bingoRooms" class="col-sm-12 col-lg-12 col-12">
    <h4 class="bingoTitles h4 text-center text-uppercase text-white fw-bolder p-2">Bingo Rooms</h4>
    <div class="bg-white rounded-bg p-3 col-sm-12 col-lg-12 col-12">
        <div class="row justify-content-center">
            <div class="col-sm-3 col-lg-3 col-12">
                <div class="bingoRooms">
                    <div class="bingoRoomImg">
                        <img src="/assets/milky_way.jpg" />
                    </div>
                    <div class="bingoRoomBody">
                        <div class="diver"></div>
                        <h4>Milky Way</h4>
                        <h5>Schedule</h5>
                        <p>Monday - Thursday 10am-12am<br>
                        Friday - Sunday 10am-2am</p>
                        <h5>Card Cost Range</h5>
                        <p>$0.25 - $1.00</p>
                        <div class="bingoRoomFooter">
                            <a class="btn btn-secondary bingoRoomBtn " href="/SignUp/SignUp" data-bs-toggle="modal" data-bs-target="#loginModal">Click to Join</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col-12">
                <div class="bingoRooms">
                    <div class="bingoRoomImg">
                        <img src="/assets/big_asteroids.jpg" />
                    </div>
                    <div class="bingoRoomBody">
                        <div class="diver"></div>
                        <h4>Big Asteroids</h4>
                        <h5>Schedule</h5>
                        <p>Monday - Thursday<br />7pm-9pm</p>
                        <h5>Card Cost Range</h5>
                        <p>$.05 - $1.00</p>
                        <p></p>
                        <div class="bingoRoomFooter">
                            <a class="btn btn-secondary bingoRoomBtn " href="/SignUp/SignUp">Click to Join</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col-12">
                <div class="bingoRooms">
                    <div class="bingoRoomImg">
                        <img src="/assets/little_dipper.jpg" />
                    </div>
                    <div class="bingoRoomBody">
                        <div class="diver"></div>
                        <h4>Little Dipper</h4>
                        <h5>Schedule</h5>
                        <p>Monday - Sunday<br />12am-12pm EST</p>
                        <h5>Card Cost Range</h5>
                        <p>$0.05 - $0.15</p>
                        <div class="bingoRoomFooter">
                            <a class="btn btn-secondary bingoRoomBtn " href="/SignUp/SignUp">Click to Join</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col-12">
                <div class="bingoRooms">
                    <div class="bingoRoomImg">
                        <img src="/assets/asteroids.jpg" />
                    </div>
                    <div class="bingoRoomBody">
                        <div class="diver"></div>
                        <h4>ASTEROIDS</h4>
                        <h5>Schedule</h5>
                        <p>Friday and Saturday 8pm-1Opm<br />Sunday 6pm - 8pm</p>
                        <h5>Card Cost</h5>
                        <p>$0.65 - $1.50</p>
                        <div class="bingoRoomFooter">
                            <a class="btn btn-secondary bingoRoomBtn " href="/SignUp/SignUp">Click to Join</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="slotGames">
        <h4 class="bingoTitles h4 text-center text-uppercase text-white fw-bolder p-2">Newest SLOT GAMES</h4>
        <div class="gradient-bg rounded-top p-5 col-sm-12 col-lg-12 col-12 text-white">
            Visit the casino where you can spin to win on over 100 slot games!! <span class="text-yellow">Progressive Jackpots, Missions with $$ Rewards and Video Poker!!!</span>
            <h2 class="fw-bolder text-uppercase text-center mt-5">More than <span class="text-yellow">$200,000</span> in slots jackpots</h2>
            <div id="slotsHP">
                <div class="row">
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img src="/images/casino/slots/fruit-serenity.png" />
                        <h4>Fruit Serenity</h4>
                        <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img src="/images/casino/slots/catch-release.png" />
                        <h4>Catch & Release</h4>
                        <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img src="/images/casino/slots/the-golden-inn.png" />
                        <h4>The Golden Inn</h4>
                        <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img src="/images/casino/slots/the-forbbiden-tomb.png" />
                        <h4>The Forbidden Tomb</h4>
                        <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img src="/images/casino/slots/kitty-cutie.png" />
                        <h4>Kitty Cutie</h4>
                        <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img src="/images/casino/slots/12-animals.png" />
                        <h4>12 Animals</h4>
                        <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img src="/images/casino/slots/blade-of-the-abyss.png" />
                        <h4>Blade of the Abyss</h4>
                        <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img src="/images/casino/slots/candy-cash-deluxe.png" />
                        <h4>Candy Cash Deluxe</h4>
                        <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-12">
            <a class="btn text-center text-white col-sm-12 btn-purple rounded-bot" href="/Games/Slots">View all</a>
        </div>
    </div>
    <div id="welcome" class="bg-white mt-3 rounded-mix p-5 planetary-bg">
        <h2 class="text-center text-uppercase fw-bold">Welcome to <span class="text-secondary">BingoVega</span>.com!</h2>
        <div class="fw-bold text-body text-left">
            <p>At Bingo Vega players can play bingo games, casino games, bonus slots, and more for real cash prizes. Our players win more often and win bigger prizes than on any other online bingo site out there on the web. With over 50,000 players, Bingo Vega has been the web’s trusted site for online bingo since 1999.</p>

            <p>BingoVega offers new games every hour, chat game prizes, and new promotions every month. Watch your cards fill up and your winnings grow while making friends from all around the world. Laugh, play, and win here with us at Bingo Vega.</p>

            <p>Create an account today and enter the fun-filled community of Bingo Vega.  Joining is easy, secure, and completely free. In just 5 minutes, you could be playing exhilarating online games from the comfort of your own home.</p>
        </div>
        <div class="col-12 col-sm-12 col-lg-12" id="welcomeBtn">
            <p class="text-center">
                <img class="shoupe d-none d-sm-block" src="/images/shoupe.png" />
                <a class="btn btn-primary purple-btn" asp-area="" asp-controller="Help" asp-action="Faq">Click HERE for More information</a>
            </p>
        </div>
    </div>
</div>