﻿@{
    ViewData["Title"] = "Loyalty";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        COMING SOON!
    </div>
    </div>
