﻿@{
    ViewData["Title"] = "Promotions";
}
<h1>@ViewData["Title"]</h1>

<div id="welcome" class="bg-white mt-3 rounded-mix p-5 planetary-bg">
    <h2 class="text-center text-uppercase fw-bold">Welcome to <span class="text-secondary">BingoVega</span>.com!</h2>
    <div class="fw-bold text-body text-left">
        <p>At Bingo Vega players can play bingo games, casino games, bonus slots, and more for real cash prizes. Our players win more often and win bigger prizes than on any other online bingo site out there on the web. With over 50,000 players, Bingo Vega has been the web’s trusted site for online bingo since 1999.</p>

        <p>BingoVega offers new games every hour, chat game prizes, and new promotions every month. Watch your cards fill up and your winnings grow while making friends from all around the world. Laugh, play, and win here with us at Bingo Vega.</p>

        <p>Create an account today and enter the fun-filled community of Bingo Vega.  Joining is easy, secure, and completely free. In just 5 minutes, you could be playing exhilarating online games from the comfort of your own home.</p>
    </div>
    <div class="col-12 col-sm-12 col-lg-12" style="position: relative; top: 80px;">
        <p class="text-center">
            <img class="shoupe" src="/images/shoupe.png" />
            <a class="btn btn-primary purple-btn" href="#">Click HERE for More information</a>
        </p>
    </div>
</div>