﻿@{
    bool isLogedIn = Session.isUserLogedIn(Context);
}

@using Microsoft.AspNetCore.Http
@using BingoVega.FrontEnd.Utils
@{
    ViewData["Title"] = "   Promotions";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg promotions">
    <p style="text-align:center;"><img src="/images/promotions/2021/december/assets/december-banner.png" /></p>
    <ul class="nav nav-pills mb-3" id="pills-tab">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-mpromos">Monthly Promotions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-always">Always On</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active" id="pills-mpromos">
            <div class="row row-flex">
                <div class="col-12 col-sm-4 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/promotions/2021/december/assets/promo1-inner-banner.png" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Christmas Slot Tourney</h3>
                            <p class="card-text mb-4">O Christmas Tree, O Christmas Tree, How lovely are thy branches! Now let us add some Ornaments and an Angel to those beautiful branches!!! </p>
                            <a href="/html/lp/2021/december/xmas-tree.html" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/promotions/2021/december/assets/promo4-xmas-tourney-inner.png" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Christmas Slot Tourney</h3>
                            <p class="card-text mb-4">Join us in December for your chance to win HUGE jackpots and HUGE prizes!!! Earn points each week to compete against other “slotters”!  </p>
                            <a href="/html/lp/2021/december/xmas-slots.html" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/promotions/2021/december/assets/promo-3-xmas-inner.png" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Christmas Slot Tourney</h3>
                            <p class="card-text mb-4">Come join the festivities in the Christmas Party Room on December 18, 2021 8 PM – 10 PM with CM Santa.</p>

                            @if (isLogedIn)
                            {
                                <a asp-controller="LobbyGames" asp-action="BingoRooms" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</a>
                            }
                            else
                            {
                                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</button>
                            }

                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/promotions/2021/december/assets/promo-3-xmas-inner.png" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Christmas Slot Tourney</h3>
                            <p class="card-text mb-4">Come join the festivities in the Christmas Party Room on December 18, 2021 8 PM – 10 PM with CM Santa</p>

                            @if (isLogedIn)
                            {
                                <a asp-controller="LobbyGames" asp-action="BingoRooms" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</a>
                            }
                            else
                            {
                                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</button>
                            }

                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/promotions/2021/december/assets/santa-bb-inner.png" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Santa BB Tourney</h3>
                            <p class="card-text mb-4">Santa Claus is coming to BVega and will be hosted in Milky Way every  weekend!!</p>

                            @if (isLogedIn)
                            {
                                <a asp-controller="LobbyGames" asp-action="BingoRooms" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</a>
                            }
                            else
                            {
                                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</button>
                            }

                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/promotions/2021/december/assets/promo-5-new-year-inner.png" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Happy New Year</h3>
                            <p class="card-text mb-4">Let’s us all celebrate the ending of 2021 and welcome the New Year, 2022, together with FATHER TIME!!!</p>

                            @if (isLogedIn)
                            {
                                <a asp-controller="LobbyGames" asp-action="BingoRooms" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</a>
                            }
                            else
                            {
                                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</button>
                            }

                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/promotions/2021/december/assets/promo-5-lotto-fever-inner.png" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Saturday Night Lotto Fever</h3>
                            <p class="card-text mb-4">Pick 6 Lotto Numbers and Watch the Top of the Hour game at 10 PM.   Using first 15 balls called, match 3 or more to win!!!</p>

                            @if (isLogedIn)
                            {
                                <a asp-controller="LobbyGames" asp-action="BingoRooms" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</a>
                            }
                            else
                            {
                                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</button>
                            }

                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/promotions/2021/december/assets/calling.png" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Calling all December VIPS!!!</h3>
                            <p class="card-text mb-4">Bingo Vega wants to say THANK YOU to all our VIPs with some FREE bingo  games!!</p>

                            @if (isLogedIn)
                            {
                                <a asp-controller="LobbyGames" asp-action="BingoRooms" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</a>
                            }
                            else
                            {
                                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</button>
                            }

                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/promotions/2021/december/assets/promo1-inner-banner.png" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Introducing the Hotball Palooza 2021!</h3>
                            <p class="card-text mb-4">Calling all Early Birds! Put your game face on every Monday morning at 10AM and join us each week at Milky Way!</p>

                            @if (isLogedIn)
                            {
                                <a asp-controller="LobbyGames" asp-action="BingoRooms" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</a>
                            }
                            else
                            {
                                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</button>
                            }

                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/promotions/2021/december/assets/twisted-inner.jpg" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">TWISTED TUESDAY in MILKY WAY!!!</h3>
                            <p class="card-text mb-4">Tuesday Nights, 8-10 PM. Let&rsquo;s get TWISTED on TUESDAYS!!!  Come on into the Milky Way room 8 – 10  PM and play some TWISTED!!!</p>

                            @if (isLogedIn)
                            {
                                <a asp-controller="LobbyGames" asp-action="BingoRooms" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</a>
                            }
                            else
                            {
                                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</button>
                            }

                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/promotions/2021/december/assets/mobilots-inner.png" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">MISSION WEDNESDAYS</h3>
                            <p class="card-text mb-4">
                                <strong>Don&rsquo;t miss the Mobilots Mission Wednesdays</strong><br>
                                New Slot each week!!!
                            </p>

                            @if (isLogedIn)
                            {
                                <a asp-controller="LobbyGames" asp-action="BingoRooms" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</a>
                            }
                            else
                            {
                                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Play Now</button>
                            }

                        </div>
                    </div>
                </div>

            </div>
        </div>
		<div class="tab-pane fade" id="pills-always">
            <div class="row">

                <div class="col-12 col-sm-4 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/promotions/2021/december/assets/mobilots-inner.png" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">MONDAY DEPOSITOR TOURNAMENT</h3>
                            <di class="card-text mb-4">
                                <p>
                                    <strong>WHEN:</strong> Every Monday between 9:00 PM and 9:30 PM.
                                </p>
                                <p>
                                    Turn your blue Monday into Funday! Bingo Vega wants to show our appreciation to each and every Monday depositor this month with an EXTRA $125 injected straight into the Prize Pool!
                                    To be eligible, Deposit $50.00 or more anytime on
                                </p>
                            </di>

                            @if (isLogedIn)
                            {
                                <a asp-controller="Bank" asp-action="Banking" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Deposit Now</a>
                            }
                            else
                            {
                                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Deposit Now</button>
                            }

                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/promotions/2021/december/assets/mobilots-inner.png" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Four Pack Sunday Tourney</h3>
                            <div class="card-text mb-4">
                                <p>
                                    Sundays are supposed to be resting days, but if you’re like us, you’ll probably be online and join us at Bingo Vega! Forget about rest, we’re giving away $1500 EVERY Sunday night.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modalRules">
                                        Tournament Rules
                                    </button>
                                </div>
                            </div>

                            @if (isLogedIn)
                            {
                                <a asp-controller="Bank" asp-action="Banking" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Deposit Now</a>
                            }
                            else
                            {
                                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Deposit Now</button>
                            }
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modalRules" tabindex="-1" aria-labelledby="modalRules" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Tournament Rules</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Exclusive to active players at the time of the 4-pack win</p>
                                    <ul>
                                        <li>Jackpots can only be won by a solo, qualified player – no sharing!</li>
                                        <li>Prize money to be moved to the next game if a non-qualified player gets bingo</li>
                                        <li>Qualified players sharing bingo with unqualified players will receive the jackpot</li>
                                        <li>Prize money to be moved to the next game if multiple qualified players hit bingo</li>
                                        <li>Playoff continues until all prize money is out</li>
                                        <li>Only one prize per player per playoff</li>
                                        <li>4-Pack prizes are always given to the new winner</li>
                                        <li>The CM announces playoff winners in the chat as they win!</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-sm-4 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/images/promotions/2021/december/assets/mobilots-inner.png" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">We Couldn’t Do It Without You</h3>
                            <div class="card-text mb-4">
                                <p>
                                    Without our players, we’re just an empty, colorful website. So, to say thank you to each player, we’re giving up to $100 FREE money from November 5th until the 8th.
                                </p>
                                <p>
                                    PS: Remember – you can’t have an approved or pending payout in the same month! Your account must be in good standing.
                                </p>
                            </div>

                            @if (isLogedIn)
                            {
                                <a asp-controller="Bank" asp-action="Banking" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Deposit Now</a>
                            }
                            else
                            {
                                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning mt-auto align-self-center fw-bold text-uppercase">Deposit Now</button>
                            }
                        </div>
                    </div>
                </div>


            </div>
		</div>
	</div>
</div>