﻿@{
    bool isLogedIn = Session.isUserLogedIn(Context);
}

@using Microsoft.AspNetCore.Http
@using BingoVega.FrontEnd.Utils
@{
    ViewData["Title"] = "Ruler of the Galaxy";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <p style="text-align:center"><img src="https://bingovega.com/wp-content/themes/bingovega/images/desposit-now.png" /></p>
        <h3>Ruler of the Galaxy</h3>
        <p>
            All roomies are special but WHO will be our “Ruler of the Galaxy” this month? It could be YOU! With this honor comes some special gifts and a special duty! PLAY BINGO!! Every time the “Ruler of the Galaxy ” is in chat and wins a bingo, all active players in chat who shout, “Long Live the Ruler:” win 2BB!!! On top of the special gifts, the “Ruler” will also have a bingo pattern named in their honor, and if he/she bingos on the special pattern, ca-ching, 3bb for all the active roomies!!
        </p>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading text-center">DORYLEE!!!!!!</h4>
            <p style="text-align:center">Our December Ruler of the Galaxy</p>
            <hr>
            <h4 class="alert-heading text-center text-uppercase">Congratulations</h4>
        </div>
        <p>
            In addition to all her goodies, be sure to watch for her special pattern because when she bingos on her pattern, the roomies win!!
        </p>
        <div class="d-flex justify-content-center my-4">
            @if (isLogedIn)
            {
                <a asp-controller="LobbyGames" asp-action="BingoRooms" type="button" class="btn btn-warning fw-bold p-3 text-uppercase">Play Now</a>
            }
            else
            {
                <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button" class="btn btn-warning fw-bold p-3 text-uppercase">Play Now</button>
            }
        </div>
    </div>
</div>