﻿@{
    ViewData["Title"] = "Slots";;
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
    <div class="whiteBoxContent" id="slots">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/fruit-serenity.png" />
                <h4>Fruit Serenity</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/catch-release.png" />
                <h4>Catch & Release</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/the-golden-inn.png" />
                <h4>The Golden Inn</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/the-forbbiden-tomb.png" />
                <h4>The Forbidden Tomb</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/kitty-cutie.png" />
                <h4>Kitty Cutie</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/12-animals.png" />
                <h4>12 Animals</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/blade-of-the-abyss.png" />
                <h4>Blade of the Abyss</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/candy-cash-deluxe.png" />
                <h4>Candy Cash Deluxe</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/freaky-frankenstein.png" />
                <h4>Freaky Frankenstein</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/ho-ho-cash.png" />
                <h4>Ho Ho Cash</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/merlin-elements.png" />
                <h4>Merlin Elements</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/moon-bitter.png" />
                <h4>Moon Bitter</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/pharaon-of-the-nile.png" />
                <h4>Pharaon of the Nile</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/pinnata-pop.png" />
                <h4>Piñata Pop</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/polar-breeze.png" />
                <h4>Polar Breeze</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/ruby-jade.png" />
                <h4>Ruby Jade</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/sabana-safari.png" />
                <h4>Sabana Safari</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/sands-of-egypt.png" />
                <h4>Sands of Egypt</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/sisters-of-luck.png" />
                <h4>Sisters of Luck</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/sleight-of-hand.png" />
                <h4>Sleight of Hand</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/soaring-wind.png" />
                <h4>Soaring Wind</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/sweet-treats-2.png" />
                <h4>Sweet Treats 2</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/the-family-2.png" />
                <h4>The Family 2</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/the-ogre-village.png" />
                <h4>The Ogre Village</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/the-party-guy.png" />
                <h4>The Party Guy</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/slots/wild-cherry-blast.png" />
                <h4>Wild Cherry Blast</h4>
                <a class="btn btn-primary px-5 text-bold" data-bs-toggle="modal" data-bs-target="#loginModal">Play Now</a>
            </div>
        </div>
    </div>
</div>