﻿@{
    ViewData["Title"] = "Video Poker";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
    <div class="whiteBoxContent" id="videoPoker">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/video-poker/deuces-wild.png" />
                <h4>Deuces Wild</h4>
                <a href="https://bingovega.com/paas/bva/processloginCa.action?at=first" target="_blank" class="btn btn-primary px-5 text-bold">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/video-poker/all-american.png" />
                <h4>All American</h4>
                <a href="https://bingovega.com/paas/bva/processloginCa.action?at=first" target="_blank" class="btn btn-primary px-5 text-bold">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/video-poker/bonus-poker-deluxe.png" />
                <h4>Bonus Poker Deluxe</h4>
                <a href="https://bingovega.com/paas/bva/processloginCa.action?at=first" target="_blank" class="btn btn-primary px-5 text-bold">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/video-poker/bonus-poker.png" />
                <h4>Bonus Poker</h4>
                <a href="https://bingovega.com/paas/bva/processloginCa.action?at=first" target="_blank" class="btn btn-primary px-5 text-bold">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/video-poker/deuces-joker.png" />
                <h4>Deuces Joker</h4>
                <a href="https://bingovega.com/paas/bva/processloginCa.action?at=first" target="_blank" class="btn btn-primary px-5 text-bold">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/video-poker/double-joker.png" />
                <h4>Double Joker</h4>
                <a href="https://bingovega.com/paas/bva/processloginCa.action?at=first" target="_blank" class="btn btn-primary px-5 text-bold">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/video-poker/joker-poker.png" />
                <h4>Joker Poker</h4>
                <a href="https://bingovega.com/paas/bva/processloginCa.action?at=first" target="_blank" class="btn btn-primary px-5 text-bold">Play Now</a>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="/images/casino/video-poker/10-or-better.png" />
                <h4>10's or Better</h4>
                <a href="https://bingovega.com/paas/bva/processloginCa.action?at=first" target="_blank" class="btn btn-primary px-5 text-bold">Play Now</a>
            </div>
        </div>
    </div>
</div>