﻿<div id="carouselSlider" class="carousel slide internalSlider" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row g-0">
                <div class="col-6 col-sm-6 col-lg-6">
                    <a href="/html/lp/2021/december/xmas-tree.html" target="_blank"><img src="/images/internalSliders/banner1.png" alt="..."></a>
                </div>
                <div class="col-6 col-sm-6 col-lg-6">
                    <a href="/html/lp/2021/december/xmas-tree.html" target="_blank"><img src="/images/internalSliders/banner2.png" alt="..."></a>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row g-0">
                <div class="col-6 col-sm-6 col-lg-6">
                    <a href="/html/lp/2021/december/xmas-tree.html" target="_blank"><img src="/images/internalSliders/banner3.png" alt="..."></a>
                </div>
                <div class="col-6 col-sm-6 col-lg-6">
                    <a href="/html/lp/2021/december/xmas-tree.html" target="_blank"><img src="/images/internalSliders/banner4.png" alt="..."></a>
                </div>
            </div>
        </div>
    </div>



    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselSlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>