﻿@{
    bool isLogedIn = Session.isUserLogedIn(Context);
}

@using Microsoft.AspNetCore.Http
@using BingoVega.FrontEnd.Utils
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bingo Vega</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
    <!--MODAL-->
    <div class="modal fade login" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content p-5">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>User Login</h3>
                    <div class="col-12 col-sm-12 col-lg-12">
                        <form action="/UserAccount/UserLogin" method="post">
                            <input type="hidden" name="CMD" value="Login" /> @*REMOVE*@
                            <div class="row">
                                <div class="col-12 col-sm-12 col-lg-12 my-3">
                                    <div class="form-group">
                                        <input type="text" placeholder="username" name="username" id="username" class="form-control" required="required">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-lg-12 my-3">
                                    <div class="form-group">
                                        <input type="password" placeholder="Password" name="password" id="password" class="form-control" required="required">
                                        <a class="float-left text-white" asp-area="" asp-controller="Help" asp-action="ContactUs"><p class="forgot">Forgot password?</p></a>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-6 offset-sm-3 offset-lg-3 d-flex justify-content-center">
                                    <input type="submit" class="btn btn-warning px-4" value="Login">
                                </div>
                                <div class="col-12 col-sm-10 col-lg-10 offset-lg-2 my-3">
                                    <a asp-action="SignUp" asp-controller="SignUp" type="button" class="btn btn-success rounded-pill p-3">Register for a free account</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a id="button"></a>
    <header>
        <div class="floatingShoupe d-none d-sm-block">
            <img src="/images/shoupeAust.png" />
        </div>
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-6 text-center">
                        <div class="row">
                            <div class="col-12 col-sm-2 col-md-2 col-lg-2 p-1">
                                <div class="social-links">
                                    <!-- Facebook -->
                                    <a href="https://www.facebook.com/groups/bingovegacommunity" target="_blank"> <i class="fa fa-facebook-square m-2" aria-hidden="true"></i></a>
                                    <!-- Twitter -->
                                    <a href="https://twitter.com/BingoVega" target="_blank"><i class="fa fa-twitter m-2" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-10 col-lg-10 pt-3">
                                CONTACT US: 1-888-330-9625 | <a href="mailto:support@bingovega.com">SUPPORT@BINGOVEGA.COM</a>
                            </div>
                        </div>
                    </div>

                    @if (!isLogedIn)
                    {
                        <div class="col-sm-6 d-none d-sm-block">
                            <div class="col-sm-10 col-12" style="float:right">
                                <a asp-action="SignUp" asp-controller="SignUp" class="btn not-member">Register Now!</a>
                                <p style="float:right;position:relative; top:15px;left:-10px;text-transform:uppercase;font-weight:600;font-size:13px;">NOT a member?</p>
                            </div>
                        </div>
                        <!--MOBILE-->
                        <div class="col-sm-6 d-block d-sm-none">
                            <div class="col-sm-10 col-12 register">
                                <p style="text-transform:uppercase;font-weight:600;font-size:13px;">NOT a member?</p>
                                <a asp-action="SignUp" asp-controller="SignUp" type="button" class="btn not-member">Register Now!</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-12">
                        <a class="navbar-brand" href="/">
                            <img class="logo" src="~/images/bv-logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-sm-8">
                        <div class="col-sm-8 float-end">
                            <div class="action-buttons ml-auto ">
                                <div class="login-form login-custom">
                                    @if (isLogedIn)
                                    {
                                        <div class="row postLogin">
                                            <div class="text-white text-uppercase col-12 col-lg-12 col-sm-12">
                                                <h5 class="text-bolder"> Hiya @Context.Session.GetString("firstName") / Your Balance <span class="text-yellow">$@Convert.ToDecimal(Context.Session.GetString("balance")).ToString("00.00.##")</span></h5>
                                            </div>
                                            <div class="col-sm-12 col-12 col-lg-12 buttons">
                                                <button onclick="location.href='@Url.Action("Logout", "UserAccount")'" class="btn btn-danger m-1 float-end rounded-bg text-uppercase text-bold p-3">Log out</button>
                                                <button onclick="location.href='@Url.Action("UserProfile", "UserAccount")'" class="btn btn-secondary m-1 float-end rounded-bg text-uppercase text-bold p-3 ">My account</button>
                                                <button onclick="location.href='@Url.Action("Banking", "Bank")'" class="btn btn-warning m-1 float-end rounded-bg text-uppercase text-bold p-3 text-brown">Fund your account</button>

                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @*<form action="/UserAccount/UserLogin" method="post">*@
                                        @using (Html.BeginForm("UserLogin", "UserAccount"))
                                        {
                                            <input type="hidden" name="CMD" value="Login" /> @*REMOVE*@
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="username" name="username" id="txtUsername" class="form-control" required="required">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="password" placeholder="Password" name="password" id="txtPassword" class="form-control" required="required">
                                                        <span style="color: red; display:none" id="vmLogin"></span>
                                                        <a class="float-left text-white" asp-area="" asp-controller="Help" asp-action="ContactUs"><p class="forgot">Forgot password?</p></a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="submit" id="loginbtn" class="btn btn-warning" value="Login">
                                                    @*<input type="button" id="loginbtn" class="btn btn-warning" value="Login">*@
                                                </div>
                                            </div>
                                            @*</form>*@
                                        }
                                        @if (ViewBag.Message != null)
                                        {
                                            <script type="text/javascript"> window.onload = function () { alert(@ViewBag.Message);};</script>

                                        }
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 float-start">
                            <nav class="navbar navbar-expand-lg navbar-light ">
                                <div style="display:contents">
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                        <span>NAVIGATION</span>
                                    </button>
                                    @if (isLogedIn)//muestra
                                    {
                                        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                                            <ul class="navbar-nav flex-grow-1">

                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="LobbyGames" asp-action="BingoRooms">Games Lobby</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="collapse" href="#promotions" role="button" aria-expanded="false" aria-controls="promotions">Promotions</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="collapse" href="#banking" role="button" aria-expanded="false" aria-controls="banking">Banking</a>                                                    
                                                </li>
                                                <li class="nav-item">  
                                                    <a class="nav-link" data-bs-toggle="collapse" href="#help" role="button" aria-expanded="false" aria-controls="help">Support</a>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                                            <ul class="navbar-nav flex-grow-1">
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="collapse" href="#promotions" role="button" aria-expanded="false" aria-controls="promotions">Promotions</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="collapse" href="#games" role="button" aria-expanded="false" aria-controls="games">Games</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="collapse" href="#community" role="button" aria-expanded="false" aria-controls="community">Community</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="collapse" href="#help" role="button" aria-expanded="false" aria-controls="help">Help</a>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-12 submenuContent" id="submenu">
            <div class="collapse" id="promotions">
                <div class="col-12 col-sm-12 col-lg-12 submenu">
                    <div class="container">
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Promotions">Current Promotions</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="DepositBonuses">Deposit Bonuses</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="RulerGalaxy">Ruler of the Galaxy</a>
                        <a class="btn btn-primary d-none" asp-area="" asp-controller="Home" asp-action="Loyalty">Loyalty</a>
                        <a class="btn btn-primary d-none" asp-area="" asp-controller="Home" asp-action="ReferFriend">Refer a Friend</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="CasinoCashBack">Casino Cash Back</a>
                    </div>
                </div>
            </div>
            <div class="collapse" id="games">
                <div class="col-12 col-sm-12 col-lg-12 submenu">
                    <div class="container">
                        <a class="btn btn-primary" asp-area="" asp-controller="Games" asp-action="Bingo">Bingo</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Games" asp-action="Slots">Slots</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Games" asp-action="VideoPoker">Video Poker</a>
                    </div>
                </div>
            </div>
            <div class="collapse" id="banking">
                <div class="col-12 col-sm-12 col-lg-12 submenu">
                    <div class="container">
                        <a class="btn btn-primary" asp-area="" asp-controller="Bank" asp-action="Banking">Cashier</a>
                        @*<a class="btn btn-primary" asp-area="" asp-controller="Bank" asp-action="DepositsHistory">Deposit Now History</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Bank" asp-action="WithdrawalsHistory">Withdrawal History</a>*@
                    </div>
                </div>
            </div>
            <div class="collapse" id="community">
                <div class="col-12 col-sm-12 col-lg-12 submenu">
                    <div class="container">
                        <a class="btn btn-primary" asp-area="" asp-controller="Community" asp-action="Gallery">Gallery</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Community" asp-action="Newsletter">Newsletter</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Community" asp-action="Testimonials">Testimonials</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Community" asp-action="LatestWinners">Latest Winners</a>
                    </div>
                </div>
            </div>
            <div class="collapse" id="help">
                <div class="col-12 col-sm-12 col-lg-12 submenu">
                    <div class="container">
                        <a class="btn btn-primary" aria-pressed="true" asp-area="" asp-controller="Help" asp-action="ContactUs">Contact Us</a>
                        <a class="btn btn-primary" aria-pressed="true" asp-area="" asp-controller="Help" asp-action="Faq">Faq's</a>
                        <a class="btn btn-primary" aria-pressed="true" asp-area="" asp-controller="Help" asp-action="TermsConditions">Terms & Conditions</a>
                        <a class="btn btn-primary" aria-pressed="true" asp-area="" asp-controller="Help" asp-action="PrivacyPolicy">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @if (isLogedIn)
    {
        <div class="registerMarquee d-flex justify-content-center align-items-center" style="background:white;height:15px">
        </div>
    }
    else
    {
        <div class="registerMarquee d-flex justify-content-center align-items-center" style="background:white;height:65px">
            <a asp-action="SignUp" asp-controller="SignUp"> <span>NEW?</span> Register Now and Get <strong>$10 FREE PLUS 500% BONUS</strong>on your first Deposit</a>
        </div>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <a id="button"></a>


    <!-- Footer -->
    <footer class="text-center text-lg-start footerBG">
        <div class="col-12 col-sm-12 col-lg-12 footer-promos my-3 container">
            <div class="col-12 col-sm-12 col-lg-12 mx-auto" style="width:100%;max-width:894px;height:auto;">
                <img src="https://www.bingovega.com/wp-content/themes/bva/images/bottom_promo_large.jpg" />
            </div>
        </div>
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 fsocial">
            <div class="container text-center text-md-start mt-5">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-4">
                        <img src="/images/betterTogether.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-12 col-sm-12 col-lg-1">
                        <img style="width: 100%; max-width: 45px; height: auto; display: block; margin: auto" src="/images/18plus.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-12 col-sm-12 col-lg-3">
                        <a href="https://www.begambleaware.org/" target="_blank"><img style="width:100%;max-width:200px;height:auto;display:block;margin:auto" src="/images/gambleWare.png" class="d-block w-100" alt="..."></a>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-12 d-flex justify-content-center gap-3">
                                <a href="https://www.facebook.com/groups/bingovegacommunity" target="_blank"><img style="width:100%;max-width:50px;height:auto;" src="/images/fb.png"></a>
                                <a href="https://twitter.com/BingoVega" target="_blank"><img style="width:100%;max-width:50px;height:auto;" src="/images/tw.png"></a>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-12 mt-3">
                                <h3 style="text-align:center;font-size:20px;color:white;font-weight:600"><span style="color:#FFB428 ">CONTACT US:</span> 1-888-330-9625</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="flinks">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <img class="floatingSS d-none d-sm-block" src="/images/spaceShip.png" />
                    <!-- Grid column -->
                    <div class="col-4 col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="fw-bold mb-4">
                            Information
                        </h6>
                        <ul>
                            <li>
                                <a class="text-reset" asp-area="" asp-controller="Information" asp-action="History">History</a>
                            </li>
                            <li>
                                <a class="text-reset" asp-area="" asp-controller="Help" asp-action="PrivacyPolicy">Privacy Policy</a>
                            </li>
                            <li>
                                <a class="text-reset" asp-area="" asp-controller="Help" asp-action="TermsConditions">Terms & Conditions</a>
                            </li>
                            <li>
                                <a class="text-reset" asp-area="" asp-controller="Information" asp-action="Affiliate">Affiliate</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-4 col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="fw-bold mb-4">
                            Help
                        </h6>
                        <ul>
                            <li>
                                <a class="text-reset" asp-area="" asp-controller="Help" asp-action="ResponsibleGaming">Responsible  Gaming</a>
                            </li>
                            <li>
                                <a class="text-reset" aria-pressed="true" asp-area="" asp-controller="Help" asp-action="ContactUs">Contact</a>
                            </li>
                            <li>
                                <a class="text-reset" asp-area="" asp-controller="Help" asp-action="Faq">FAQ</a>
                            </li>
                            <li>
                                <a class="text-reset" asp-area="" asp-controller="Help" asp-action="Security">Security</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-4 col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="fw-bold mb-4">
                            Helpful links
                        </h6>
                        <ul>
                            <li>
                                <a class="text-reset" asp-area="" asp-controller="HelpfulLinks" asp-action="HouseRules">House Rules</a>
                            </li>
                            <li>
                                <a class="text-reset" asp-area="" asp-controller="HelpfulLinks" asp-action="InternetAbuse">Internet Abuse</a>
                            </li>
                            <li>
                                <a class="text-reset" asp-area="" asp-controller="HelpfulLinks" asp-action="SiteMap">Site map</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Logo -->
                        <div class="col-12 col-sm-12 col-lg-12">
                            <img style="width: 100%; max-width: 275px; height: auto; margin-top: -50px;margin-bottom:10px" src="/images/bv-logo.png" />
                        </div>
                        <div class="col-12 col-sm-12 col-lg-12">
                            <p style="color:white; text-align:right;text-transform:uppercase;font-weight:600;font-size:15px;margin:0;">Payment Methods</p>
                            <img style="width: 100%; width: 350px; height: auto; margin: 10px 0" src="/images/payment-options.png" />
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4 copyright">
            Copyright ® 2021. All rights reserved. This site has been approved by the Internet Gaming Commission - <a style="color: #DCA718" href="https://www.innovomedia.com" target="_blank">Innovomedia Studios</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->



    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
    <script src="https://kit.fontawesome.com/69d88c3f8c.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script>
                $(document).ready(function () {

                    $("#loginbtn").on("click", function () {

        <<<<<<< HEAD
                    var user = $("#txtUsername").val();
                    var password = $("#txtPassword").val();
                    var vmLogin = $("#vmLogin");
                    $.ajax({
                        type: "GET",
                        url: "https://localhost:5006/api/user/authenticate",
                        data: {
                            username: user,
                            password: password,
                        },
                        success: function (data)  {
                            vmLogin.css('display', 'none');
                            window.location.href = "UserAccount/UserLogin?username="+user+"&password="+password;
                            //$.ajax({
                            //    url: "/UserAccount/UserLogin/?username=" + user + "&password=" + password,
                            //    succes: function () { }
                            //});
                        }
                        , error: function (xhr, status, err) {
                            vmLogin.text(xhr.responseText);
                            vmLogin.css('display', 'inline');
                        }
                        //ajax
        =======
                        var user = $("#txtUsername").val();
                        var password = $("#txtPassword").val();
                        var vmLogin = $("#vmLogin");
                        $.ajax({
                            type: "GET",
                            url: "https://localhost:5006/api/user/authenticate",
                            data: {
                                username: user,
                                password: password,
                            },
                            success: function (data)  {
                                vmLogin.css('display', 'none');
                                window.location.href = "UserAccount/LoadUserLogin?username="+user;
                            }
                            , error: function (xhr, status, err) {
                                vmLogin.text(xhr.responseText);
                                vmLogin.css('display', 'inline');
                            }
                            //ajax
                        });
        >>>>>>> b8346d988a2cbe8290f553244dae55eba7dd9d84
                    });

                });//Document
                </script>*@

</body>
</html>
 