﻿<div class="plMenuTop">
    <ul>
        <li class="bingoLobby active"><a href="/LobbyGames/BingoRooms"><div><div class="iconBingo"></div>Bingo</div></a></li>
        <li class="slotsLobby"><a href="/LobbyGames/SlotsGames"><div><div class="iconSlots"></div>Slots</div></a></li>
        <li class="vpLobby"><a href="/LobbyGames/VideoPokerGames"><div><div class="iconVP"></div>Video Poker</div></a></li>
    </ul>

</div>