﻿@model BingoRoomViewModel

@{
    ViewData["Title"] = "Bingo Rooms";

}

<div class="col-12 col-sm-12 col-lg-12">
    <div class="plMenuTop">
        <ul>
            <li class="bingoLobby active"><a href="/LobbyGames/BingoRooms"><div><div class="iconBingo"></div>Bingo</div></a></li>
            <li class="slotsLobby"><a href="/LobbyGames/SlotsGames"><div><div class="iconSlots"></div>Slots</div></a></li>
            <li class="vpLobby"><a href="/LobbyGames/VideoPokerGames"><div><div class="iconVP"></div>Video Poker</div></a></li>
        </ul>

    </div>
</div>
<div class="col-12 col-sm-12 col-lg-12 lobbyMarquee">
    @if (Model.TextForMarquee != "")
    {
        @Html.Partial("~/Views/LobbyGames/BingoRoomMarquee.cshtml", Model.TextForMarquee)
    }
</div>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="bg-white rounded-bg p-3 col-sm-12 col-lg-12 col-12">
        <div class="row justify-content-center">

            @if (@Model.Rooms == null)
            {
                <p>There is not rooms to show</p>
            }
            else
            {
                @foreach (var item in @Model.Rooms)
                {
                    <div class="col-sm-3 col-lg-3 col-12 lobby">
                        <div class="bingoRooms">

                            <div class="bingoRoomImg">

                                <img src="/assets/@(item.RoomName.ToLower().Replace(" ", "_")).jpg" onerror="setDefaultImage(this);" />
                            </div>
                            <div class="bingoRoomBody">
                                <div class="diver"></div>
                                <h4>@item.RoomName</h4>
                                <h5>Schedule</h5>
                                <p>@item.ScheduleName</p>
                                @if (item.GameInfo != null)
                                {
                                    <h5>JackPot</h5>
                                    <p>$@item.GameInfo.JackpotAmount</p>
                                    <h5>Card cost</h5>
                                    <p>$@item.GameInfo.Cost</p>
                                    <h5>Prize</h5>
                                    <p>$@item.GameInfo.Prize</p>
                                    <h5>Next Game</h5>
                                    <p>@item.GameInfo.StartTime</p>
                                }
                                <p id="time"></p>

                                <script>
                                        var today = new Date();
                                        var year = today.getFullYear();
                                        var mes = today.getMonth() + 1;
                                        var dia = today.getDate();
                                        var fecha = dia + "-" + mes + "-" + year;
                                        var tdy = toDateString();

                                        var endDate;
                                    if ('item.GameInfo' == null)
                                    {
                                        endDate = new Date(today.toDateString());
                                    }
                                    else
                                    {
                                        endDate = new Date(today.toDateString() + 'item.GameInfo.StartTime');
                                    }                                    
                                        //alert(endDate);
                                        @*var endDate = new Date('Jun 20, 2023 02:40:50').getTime();*@

                                        var countDownTimer = setInterval(() => {
                                            var now = new Date();

                                            var remainingTime = endDate - now;

                                            const second = 1000;

                                            const minute = second * 60;

                                            const hour = minute * 60;

                                            const day = hour * 24;

                                            daysLeft = Math.trunc(remainingTime / day);

                                            hoursLeft = Math.trunc((remainingTime % day) / hour);

                                            minutesLeft = Math.trunc((remainingTime % hour) / minute);

                                            secondsLeft = Math.trunc((remainingTime % minute) / second);

                                            minutesLeft = checkTime(minutesLeft);
                                            secondsLeft = checkTime(secondsLeft);

                                            document.getElementById('time').innerHTML = hoursLeft + " : " + minutesLeft + " : " + secondsLeft;


                                            if (remainingTime <= 0) {

                                                document.getElementById("demo").innerHTML

                                            }

                                        }, 1000);

                                        function checkTime(i) {
                                            if (i < 10) {
                                                i = "0" + i;
                                            }
                                            return i;
                                        }
                                </script>

                                @if (@item.RoomName == "Free Star")
                                {
                                    <div class="bingoRoomFooter px-3">
                                        <a class="btn btn-secondary bingoRoomBtn " href="JavaScript:newPopup('@item.RoomId',
                                                   '@Model.UserId',
                                                   '@Model.JsessionId',
                                                   '@Model.Token',
                                                   '@item.Announcer',
                                                   '@item.Caller',
                                                   '@item.Skin');">Play Now!</a>
                                    </div>
                                }
                                else
                                {
                                    @if (@Model.HasFullLobbyAccess)
                                    {
                                        <div class="bingoRoomFooter px-3">
                                            @Html.ActionLink("Pre-order cards", "PreOrderCards", "LobbyGames", new { roomId = @item.RoomId }, new { @class = "btn btn-warning bingoRoomBtn" })
                                        </div>
                                        <div class="bingoRoomFooter px-3">
                                            <a class="btn btn-secondary bingoRoomBtn " href="JavaScript:newPopup('@item.RoomId',
                                                   '@Model.UserId',
                                                   '@Model.JsessionId',
                                                   '@Model.Token',
                                                   '@item.Announcer',
                                                   '@item.Caller',
                                                   '@item.Skin');">Play Now!</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="bingoRoomFooter px-3">
                                            @Html.ActionLink("Deposit Now!", "Banking", "Bank", null, new { @class = "btn btn-secondary bingoRoomBtn" });
                                        </div>
                                    }
                                }
                            </div>

                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<script type="text/javascript">function newPopup(roomId, userId, jsessionId, token, announcer, caller, skin) {
        //var url = "https://play.bngvg.com/bingo/gamelaunch/BVA/5/BVA1835064/8D191A9AC936A7A641398D9E8FCC28E4/swrKggYfNSfXBvvJTZxcp1L1Hm4kN6SY/veronica/john/brown";
        //https://play.bngvg.com/bingo/gamelaunch/BVA/${roomId}/${SECURITY_TOKEN.userId}/${jsession}/${token}/${announcer}/${caller}/${skin}
        var url = "https://play.bngvg.com/bingo/gamelaunch/BVA/" + roomId +
            "/" + userId + "/" + jsessionId + "/" + token + "/" + announcer + "/" + caller + "/" + skin + "";

        popupWindow = window.open(
            url,
            'popUpWindow',
            'height=300,width=400,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')

    }</script>

<script>
    function setDefaultImage(img) {
        img.src = "/assets/defaultImage.jpg";
    }
    </script>