﻿@model string


    <style>
        #main {
            border: 1px solid;
            background: white;
            width: 100%;
            overflow: hidden;
        }

        .para {
            color: black;
            font-weight: bold;
            white-space: nowrap;
            clear: both;
            float: left;
        }
    </style>

    <div id="main">     

        <p class="para" id="para2">
            @Model
        </p>       
    </div>



    <script>
        const para2 = document.getElementById("para2");
        animate(para2);
        function animate(element) {
            let elementWidth = element.offsetWidth;
            let parentWidth = element.parentElement.offsetWidth;
            let flag = 0;

            setInterval(() => {
                element.style.marginLeft = --flag + "px";

                if (elementWidth == -flag) {
                    flag = parentWidth;
                }
            }, 30);//velocidad
        }

    </script>
