﻿@{
    ViewData["Title"] = "   Deposit Now";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="bg-white rounded-bg p-3 col-sm-12 col-lg-12 col-12">
        <div class="row justify-content-center">
            Comming soon!
        </div>
    </div>
</div>