﻿@model BingoRoomViewModel

@{
    ViewData["Title"] = "Slots Games"; ;
}

<div class="plMenuTop">
    <ul>
        <li class="bingoLobby"><a href="/LobbyGames/BingoRooms"><div><div class="iconBingo"></div>Bingo</div></a></li>
        <li class="slotsLobby active"><a href="/LobbyGames/SlotsGames"><div><div class="iconSlots"></div>Slots</div></a></li>
        <li class="vpLobby"><a href="/LobbyGames/VideoPokerGames"><div><div class="iconVP"></div>Video Poker</div></a></li>
    </ul>

</div>
<div class="col-12 col-sm-12 col-lg-12 lobbyMarquee">
    @if (Model.TextForMarquee != "")
    {
        @Html.Partial("~/Views/LobbyGames/BingoRoomMarquee.cshtml", Model.TextForMarquee)
    }
</div>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent" id="slots">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
                <iframe src="https://casino.bingovega.com/gamelobby/BVA1835064/C762229EED8295F97066F26AA026CB7C/slots"></iframe>
            </div>
        </div>
    </div>
</div>