﻿@{
    ViewData["Title"] = "   Withdrawal";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="bg-white rounded-bg p-3 col-sm-12 col-lg-12 col-12">
        <div class="row justify-content-center">

            <div class="whiteBoxContent">
                <h2>Balance</h2>
                <br>
                <h4>Visa and Mastercard</h4>
                <p>Fund your account instantly with your Visa or Master Card.</p>

                <h4><b>Amount to Withdraw</b></h4>



                <div class="d-flex justify-content-center">
                    <input type="button" id="btnSave" class="btn btn-primary purple-btn" value="Submit">
                </div>


            </div>
        </div>
    </div>
</div>