﻿@model BingoVega.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "User Profile";
}

<div id="userProfile" class="col-sm-12 col-lg-12 col-12">
    <div class="gradient-bg-titles mt-3 mb-3 d-flex justify-content-center align-items-center">
        <h4 class="h4 text-center text-uppercase text-white fw-bolder p-2">EDIT PLAYER PROFILE</h4>
    </div>
    <div class="bg-light p-3 col-sm-12 col-lg-12 col-12">
        <div class="row p-3">
            <div class="col-sm-12 col-lg-12 col-12">
                <h4 class="text-warning text-bolder text-uppercase">EDIT PLAYER PROFILE</h4>
            </div>
            <form id="formUpdate" method="post" enctype="multipart/form-data" asp-action="EditUserProfile" asp-controller="UserAccount">
                <div class="row playerProfileDisable">
                    <div class="col-sm-6 col-lg-6 col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.UserId" placeholder="" value="@Model.UserId" id="UserIdTemp" disabled>
                            <label for="floatingInput">User ID</label>
                            <input type="hidden" asp-for="@Model.UserId" placeholder="" value="@Model.UserId" />
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.Username" placeholder="joedoe" value="@Model.Username" disabled>
                            <label for="floatingInput">Alias</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.FirstName" placeholder="Joe" value="@Model.FirstName" disabled>
                            <label for="floatingInput">First Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.LastName" placeholder="Doe" value="@Model.LastName" disabled>
                            <label for="floatingInput">Last Name</label>
                        </div>

                         <div class="form-floating mb-3">
                            <select class="form-select" aria-label="Default select example" asp-for="@Model.Country">

                                @if (Model.Country == "AD")
                                {
                                    <option value="AD" selected="selected">Andorra</option>
                                }
                                else
                                {

                                    <option value="AD">Andorra</option>
                                }
                                @if (Model.Country == "AU")
                                {
                                    <option value="AU" selected="selected">Australia</option>
                                }
                                else
                                {

                                    <option value="AU">Australia</option>
                                }
                                @if (Model.Country == "BE")
                                {
                                    <option value="BE" selected="selected">Belgium</option>
                                }
                                else
                                {
                                    <option value="BE">Belgium</option>
                                }
                                @if (Model.Country == "VG")
                                {
                                    <option value="VG" selected="selected">British Virgin Islands</option>

                                }
                                else
                                {
                                    <option value="VG">British Virgin Islands</option>
                                }
                                @if (Model.Country == "CA")
                                {
                                    <option value="CA" selected="selected">Canada</option>

                                }
                                else
                                {
                                    <option value="CA">Canada</option>
                                }
                                @if (Model.Country == "CY")
                                {
                                    <option value="CY" selected="selected">Cyprus</option>
                                }
                                else
                                {
                                    <option value="CY">Cyprus</option>
                                }
                                @if (Model.Country == "DK")
                                {
                                    <option value="DK" selected="selected">Denmark</option>
                                }
                                else
                                {
                                    <option value="DK">Denmark</option>
                                }
                                @if (Model.Country == "FI")
                                {
                                    <option value="FI" selected="selected">Finland</option>
                                }
                                else
                                {
                                    <option value="FI">Finland</option>
                                }
                                @if (Model.Country == "FR")
                                {
                                    <option value="FR" selected="selected">France</option>
                                }
                                else
                                {
                                    <option value="FR">France</option>
                                }
                                @if (Model.Country == "DE")
                                {
                                    <option value="DE" selected="selected">Germany</option>
                                }
                                else
                                {
                                    <option value="DE">Germany</option>
                                }
                                @if (Model.Country == "GI")
                                {
                                    <option value="GI" selected="selected">Gibraltar</option>
                                }
                                else
                                {
                                    <option value="GI">Gibraltar</option>
                                }
                                @if (Model.Country == "GR")
                                {
                                    <option value="GR" selected="selected">Greece</option>
                                }
                                else
                                {
                                    <option value="GR">Greece</option>
                                }
                                @if (Model.Country == "GL")
                                {
                                    <option value="GL" selected="selected">Greenland</option>
                                }
                                else
                                {
                                    <option value="GL">Greenland</option>
                                }
                                @if (Model.Country == "IS")
                                {
                                    <option value="IS" selected="selected">Iceland</option>
                                }
                                else
                                {
                                    <option value="IS">Iceland</option>
                                }
                                @if (Model.Country == "IE")
                                {
                                    <option value="IE" selected="selected">Ireland</option>
                                }
                                else
                                {
                                    <option value="IE">Ireland</option>
                                }
                                @if (Model.Country == "IT")
                                {
                                    <option value="IT" selected="selected">Italy</option>
                                }
                                else
                                {
                                    <option value="IT">Italy</option>
                                }
                                @if (Model.Country == "LI")
                                {
                                    <option value="LI" selected="selected">Liechtenstein</option>
                                }
                                else
                                {
                                    <option value="LI">Liechtenstein</option>
                                }
                                @if (Model.Country == "LU")
                                {
                                    <option value="LU" selected="selected">Luxembourg</option>
                                }
                                else
                                {
                                    <option value="LU">Luxembourg</option>
                                }
                                @if (Model.Country == "MT")
                                {
                                    <option value="MT" selected="selected">Malta</option>
                                }
                                else
                                {
                                    <option value="MT">Malta</option>
                                }
                                @if (Model.Country == "MX")
                                {
                                    <option value="MX" selected="selected">Mexico</option>
                                }
                                else
                                {
                                    <option value="MX">Mexico</option>
                                }
                                @if (Model.Country == "MC")
                                {
                                    <option value="MC" selected="selected">Monaco</option>
                                }
                                else
                                {
                                    <option value="MC">Monaco</option>
                                }
                                @if (Model.Country == "NL")
                                {
                                    <option value="NL" selected="selected">Netherlands</option>
                                }
                                else
                                {
                                    <option value="NL">Netherlands</option>
                                }
                                @if (Model.Country == "NZ")
                                {
                                    <option value="NZ" selected="selected">New Zealand</option>
                                }
                                else
                                {
                                    <option value="NZ">New Zealand</option>
                                }
                                @if (Model.Country == "NO")
                                {
                                    <option value="NO" selected="selected">Norway</option>
                                }
                                else
                                {
                                    <option value="NO">Norway</option>
                                }
                                @if (Model.Country == "PT")
                                {
                                    <option value="PT" selected="selected">Portugal</option>
                                }
                                else
                                {
                                    <option value="PT">Portugal</option>
                                }
                                @if (Model.Country == "PR")
                                {
                                    <option value="PR" selected="selected">Puerto Rico</option>
                                }
                                else
                                {
                                    <option value="PR">Puerto Rico</option>
                                }
                                @if (Model.Country == "PR")
                                {
                                    <option value="ES" selected="selected">Spain</option>
                                }
                                else
                                {
                                    <option value="ES">Spain</option>
                                }
                                @if (Model.Country == "SE")
                                {
                                    <option value="SE" selected="selected">Sweden</option>
                                }
                                else
                                {
                                    <option value="SE">Sweden</option>
                                }
                                @if (Model.Country == "CH")
                                {
                                    <option value="CH" selected="selected">Switzerland</option>
                                }
                                else
                                {
                                    <option value="CH">Switzerland</option>

                                }
                                @if (Model.Country == "GB")
                                {
                                    <option value="GB" selected="selected">United Kingdom</option>
                                }
                                else
                                {
                                    <option value="GB">United Kingdom</option>

                                }
                                @if (Model.Country == "US")
                                {
                                    <option value="US" selected="selected">United States</option>
                                }
                                else
                                {
                                    <option value="US">United States</option>

                                }
                                @if (Model.Country == "VI")
                                {
                                    <option value="VI" selected="selected">Us Virgin Islands</option>

                                }
                                else
                                {
                                    <option value="VI">Us Virgin Islands</option>

                                }
                            </select>

                            <label for="floatingInput">Country</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.Province" placeholder="" value="@Model.Province">
                            <label for="floatingInput">State / Province</label>
                        </div>

                         <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.City" placeholder="" value="@Model.City">
                            <label for="floatingInput">Town / City</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.Address" placeholder="" value="@Model.Address">
                            <label for="floatingInput">Address</label>
                        </div>
                                               
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.PostalCode" placeholder="" value="@Model.PostalCode">
                            <label for="floatingInput">Zip / Postal Code</label>
                        </div>
                        <button type="button" class="btn btn-link" onclick="history.back()">Cancel</button>
                        <button onclick="document.getElementById("formUpdate").submit();" class="btn btn-warning m-1 rounded-bg text-uppercase text-bold p-3 text-brown">Update your account</button>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-12">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.BirthDay" placeholder="" value="@Convert.ToDateTime(Model.BirthDay).ToString("MMMM, dd yyyy")" disabled>
                            <label for="floatingInput">Date of Birth</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.Gender" placeholder="" value="@Model.Gender" disabled>
                            <label for="floatingInput">Gender</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.SourceName" placeholder="" value="@Model.SourceName" disabled>
                            <label for="floatingInput">Where did you hear about us?:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.ReceiveBroadCast" placeholder="" value="@Model.ReceiveBroadCast" disabled>
                            <label for="floatingInput">Receive Email Broadcasts:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.Cash" placeholder="" value="$ @Convert.ToDecimal(Model.Cash).ToString("00.00.##")" disabled>
                            <label for="floatingInput">Cash balance:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.Bonus" placeholder="" value="$ @Convert.ToDecimal(Model.Bonus).ToString("00.00.##")" disabled>
                            <label for="floatingInput">Bonus balance:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" asp-for="@Model.Email" placeholder="" value="@Model.Email">
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="phone" class="form-control" asp-for="@Model.Phone" placeholder="" value="@Model.Phone">
                            <label for="floatingInput">Phone</label>
                        </div>
                        <button type="button" class="btn btn-primary rounded-bg p-3 mx-auto d-block" data-bs-toggle="modal" data-bs-target="#updatePassword">
                            Change your Password
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Update Password Modal -->
<div class="modal fade" id="updatePassword" tabindex="-1" role="dialog" aria-labelledby="updatePassword" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-3">
            <div class="modal-header mb-2">
                <h4 class="modal-title" id="modalTitle">Update Account Password</h4>
            </div>
            <div class="modal-body blue-box my-3">                
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="Password" name="Password" placeholder="" value="@Model.Password" required>
                <label for="floatingInput">Password</label>
                @*@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })*@
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="" value="@Model.ConfirmPassword" required>
                <label for="floatingInput">Confirm Password</label>
               @* @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })   *@             
            </div>               
            </div>
            <div class="modal-footer">
                <button type="button" id="CancelButton" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="btnSave" class="btn btn-primary">Update Password</button>
            </div>
        </div>
    </div>
</div>

<script>

        
    $("#btnSave").on("click", function () {
        
        var pw1 = $("#Password").val();
        var pw2 = $("#ConfirmPassword").val();

        if (pw1 != pw2)
            alert("Confirm password doesn't match ");
        else { 
         var link = "@Url.Action("updatePassword", "UserAccount")";

        $.ajax({
            type: "POST",
            url: link,
            data: { "password": pw1},
            dataType: "json",
            success: function (response) {
                alert("Your password has been changed succesfully");
                $("#CancelButton").click();
                window.location.href = response.redirectToUrl;
                
            },
            error: function (xhr, textStatus, errorThrown) {
                alert("An error has ocurred, please try again!!");
                $("#CancelButton").click();
            }
        });
        
        
        
        }
    });

</script>  