﻿@model BingoVega.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "User Profile";
}

<div id="userProfile" class="col-sm-12 col-lg-12 col-12">
    <div class="gradient-bg-titles mt-3 mb-3 d-flex justify-content-center align-items-center">
        <h4 class="h4 text-center text-uppercase text-white fw-bolder p-2">PLAYER PROFILE</h4>
    </div>
    <div class="bg-light p-3 col-sm-12 col-lg-12 col-12">
        <div class="row p-3">
            <div class="col-sm-12 col-lg-12 col-12">
                <h4 class="text-warning text-bolder text-uppercase">PLAYER PROFILE</h4>
            </div>
            <form>
                <div class="row playerProfileDisable">
                    <div class="col-sm-6 col-lg-6 col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="" value="@Model.UserId" disabled>
                            <label for="floatingInput">User ID</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="joedoe" value="@Model.Username" disabled>
                            <label for="floatingInput">Alias</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Joe" value="@Model.FirstName" disabled>
                            <label for="floatingInput">First Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Doe" value="@Model.LastName" disabled>
                            <label for="floatingInput">Last Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="" value="@Model.Address" disabled>
                            <label for="floatingInput">Address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="" value="@Model.City" disabled>
                            <label for="floatingInput">Town / City</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="" value="@Model.Province" disabled>
                            <label for="floatingInput">State / Province</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="" value="@Model.PostalCode" disabled>
                            <label for="floatingInput">Zip / Postal Code</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="" value="@Model.Country" disabled>
                            <label for="floatingInput">Country</label>
                        </div>
                        <button asp-action="UserProfileEdit" asp-controller="UserAccount" class="btn btn-warning m-1 rounded-bg text-uppercase text-bold p-3 text-brown">Edit your account</button>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-12">
                        <div class="form-floating mb-3">
                            <input type="phone" class="form-control" id="floatingInput" placeholder="" value="@Model.Phone" disabled>
                            <label for="floatingInput">Phone</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="" value="@Model.Email" disabled>
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="" value="@Convert.ToDateTime(Model.BirthDay).ToString("MMMM, dd yyyy")" disabled>
                            <label for="floatingInput">Date of Birth</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="" value="@Model.Gender" disabled>
                            <label for="floatingInput">Gender</label>
                        </div>
                        @*<div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="" value="@Model.SourceName" disabled>
                            <label for="floatingInput">Where did you hear about us?:</label>
                        </div>*@
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="" value="@Model.ReceiveBroadCast" disabled>
                            <label for="floatingInput">Receive Email Broadcasts:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="" value="$ @Convert.ToDecimal(Model.Cash).ToString("00.00.##")" disabled>
                            <label for="floatingInput">Cash balance:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="" value="$ @Convert.ToDecimal(Model.Bonus).ToString("00.00.##")" disabled>
                            <label for="floatingInput">Bonus balance:</label>
                        </div>
                        <div class="alert alert-primary mb-3 col-sm-12 text-uppercase text-center text-bolder">
                            Total balance: $@Convert.ToDecimal(Model.Balance).ToString("00.00.##")
                        </div>
                        <div class="alert alert-primary mb-3 col-sm-12 text-uppercase text-center text-bolder">
                            Unqualified Bonuses: 	$0.00
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>