﻿@{
    ViewData["Title"] = "House Rules";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        <p>
            In order to play at Bingo Vega, all registered members must abide by all house rules. This includes (but is not limited to) the rules of bingo, game rules, and house rules that are available on the site. Failure to comply with house and bingo rules will result in immediate disqualification from BingoVega.com.<br>
        </p>
        <p>Besides playing bingo games online in compliance with all rules, all registered players must read and obey the following house rules.</p>
        <h2><strong>Current House Rules</strong></h2>
        <ul>
            <li>All patrons accessing Bingo Vega must be of at least 18 years of age.</li>
            <li>Players from these countries are not permitted to play.</li>
            <li>Laws regarding online gambling vary widely around the world. It is the player&rsquo;s responsibility to ensure they understand and comply with any laws or regulations in their country of residence. All taxes, duties and fees applicable in connection with any prize or prizes awarded to a player are their responsibility.</li>
            <li>Players are allowed to register for&nbsp;<strong><u>one</u></strong>&nbsp;account. If management discovers duplicate or multiple accounts for the same person, the balance in all accounts will be forfeited. If any information not accessible to the player requires modification (i.e. credit card information), players should contact the Support Team via the Support Desk in the Player&rsquo;s Area to correct the Bingo Vega information.</li>
            <li>All wagers must be placed using the graphic user interface (GUI) provided by the casino on the website. Any non-compliance with these rules, including the use of any electronic gambling aides, is strictly forbidden. In the event that non-compliance is determined, management reserves the right to void all such wagers retroactively and terminate the player&rsquo;s account.</li>
            <li>In order to receive a cashout, a player must have deposited a minimum of $25 in the past 30 days.&nbsp;<a href="http://www.bingovega.com/faq">Click here</a>&nbsp;for complete withdrawal rules.</li>
            <li>Bingo Vega reserves the right to terminate a member account at any time for any reason at our sole discretion.</li>
            <li>Management DOES NOT allow the referral of players from the same IP/Household. Any player attempting to violate this rule multiple times after being warned will have their account terminated.</li>
            <li>All rules, regulations &amp; cashout policies at Bingo Vega are subject to change without prior notice.</li>
        </ul>
        <br />
        <p>Bingo Vega vows to investigate every dispute with objectivity and due diligence, with the outcome of the investigation binding to all involved.</p>

    </div>
    </div>
