﻿@{
    ViewData["Title"] = "Internet Abuse";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="bg-white mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        <h2>Internet Abuse is defined as follows:</h2></br>
        <p>
            <strong>Spam (UseNet):</strong>&nbsp;UseNet Spam is any message, commercial, non-profit, or opinion that is individually posted to several newsgroups at one time, especially when the content is commercial and/or obviously considered off topic by the participants of the group.<br>
            <strong>
                <br>
                Unsolicited Email &amp; Advertising:
            </strong>&nbsp;We have zero tolerance towards Unsolicited Advertising, which we define as follows: 1). Content contains false and/or misleading statements; 2). Sender&rsquo;s identity is not true and valid; 3). Recipients cannot quickly and easily remove themselves from future mailings; and/or 4). Volume of mail is sufficient to negatively impact our reputation or that of any associated third party ISP.<br>
            We maintain mailing lists of people who register on our site. When we send you e-mail we will always do the mailing ourselves. We do not sell or rent our names.<br>
        </p>
        <p>
            <strong>Bingo Vega never engages in any Internet Abuse practices itself.</strong> <br>
            If you&rsquo;ve received unsolicited email and believe it to have originated from a Bingo Vega affiliate please inform us immediately with a copy of the message. We will investigate the complaint on a case-by-case basis. Any Affiliate or marketer found to be in violation of our Anti-Internet Abuse Policy will be immediately penalized by having his account suspended pending a formal apology and declaration that said abusive practices will cease and never be repeated.<br>
            <br>
            Every complaint is taken seriously and is fully investigated.
        </p>
    </div>
    </div>
