﻿@{
    ViewData["Title"] = "Site Map";
}
<h1 class="sectionsTitle">@ViewData["Title"]</h1>
<div class="mt-3 rounded-mix p-5 planetary-bg">
    <div class="whiteBoxContent">
        <partial name="~/Views/Shared/_InternalCarousel.cshtml" />
        Coming soon!
    </div>
    </div>
